{% extends "./layout.html" %}

{% block beforeContent %}
{% include "../includes/stage-banner-prototype.html" %}
<a href="../registrations" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Item details</h1>

      <!-- <img class="govuk-!-margin-bottom-5" src="https://farm8.staticflickr.com/7353/27096944865_ee6c27f42d_z.jpg" width="640" height="480" alt="Upright Bechstein"> -->
      <!-- <img class="govuk-!-margin-bottom-5" src="/public/images/piano.jpg" width="640" height="480" alt="Upright Bechstein"> -->
      <img class="item-detail-main govuk-!-margin-bottom-5" src="../../photos/{{ registration.photo }}" alt="[First x characters of descritpion?]">

      <table class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Registration&#160;number</th>
            <td class="govuk-table__cell">{{ registration.reg_id }}</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Status</th>
            <td class="govuk-table__cell">{{ registration.status }}</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Ivory type</th>
            <td class="govuk-table__cell">{{ registration.exemption_type }}</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Age explanation</th>
            <td class="govuk-table__cell">{{ registration.age_explanation }}</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Ivory explanation</th>
            <td class="govuk-table__cell">{{ registration.ivory_explanation }}</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Description</th>
            <td class="govuk-table__cell">{{ registration.description }}</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Submitted</th>
            <td class="govuk-table__cell">{{ registration.submitted_datetime }}</td>
          </tr>

          <tr class="govuk-table__row apha-only">
            <th class="govuk-table__header" scope="row">Owner</th>
            <td class="govuk-table__cell">{{ registration.owner_name }}</td>
          </tr>

          <tr class="govuk-table__row apha-only">
            <th class="govuk-table__header" scope="row">Owner's&#160;address</th>
            <td class="govuk-table__cell">{{ registration.owner_address }}, {{ registration.owner_postcode }}</td>
          </tr>

        </tbody>
      </table>





  </div>
</div>


{% endblock %}
