
<div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/">Benefits</a></li>
          <li><a href="/">Births, deaths, marriages and care</a></li>
          <li><a href="/">Business and self-employed</a></li>
          <li><a href="/">Childcare and parenting</a></li>
          <li><a href="/">Citizenship and living in the UK</a></li>
          <li><a href="/">Crime, justice and the law</a></li>
          <li><a href="/">Disabled people</a></li>
          <li><a href="/">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/">Education and learning</a></li>
          <li><a href="/">Employing people</a></li>
          <li><a href="/">Environment and countryside</a></li>
          <li><a href="/">Housing and local services</a></li>
          <li><a href="/">Money and tax</a></li>
          <li><a href="/">Passports, travel and living abroad</a></li>
          <li><a href="/">Visas and immigration</a></li>
          <li><a href="/">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/">How government works</a></li>
          <li><a href="/">Departments</a></li>
          <li><a href="/">Worldwide</a></li>
          <li><a href="/">Policies</a></li>
          <li><a href="/">Publications</a></li>
          <li><a href="/">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>