{% extends "./layout.html" %}


{% set thisPageTitle = "How are you acting on behalf of the owner?" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}






{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="owner-agent-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
              {{ thisPageTitle }}
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inlinex">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="agentIs1" name="agentIs" type="radio" value="Professional advisor" required {{agentIs1Checked}}/>
              <label class="govuk-label govuk-radios__label" for="agentIs1">
                Auctioneer, dealer or other professional advisor
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="agentIs2" name="agentIs" type="radio" value="Executor" {{agentIs2Checked}} />
              <label class="govuk-label govuk-radios__label" for="agentIs2">
                Executor
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="agentIs3" name="agentIs" type="radio" value="Trustee" {{agentIs3Checked}} />
              <label class="govuk-label govuk-radios__label" for="agentIs3">
                Trustee
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="agentIs4" name="agentIs" type="radio" value="Friend or relative" {{agentIs4Checked}} />
              <label class="govuk-label govuk-radios__label" for="agentIs4">
                Friend or relative
              </label>
            </div>
          </div>
        </fieldset>

      </div>

      <button class="govuk-button">Continue</button>

    </form>



  </div>
</div>


{% endblock %}
