{% extends "./layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->

{% set mainClasses = "govuk-main-wrapper--l" %}

<!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
{% block beforeContent %}
{% include "../includes/stage-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form class="form" method="post" {{ novalidateVal }}>

      {{ govukRadios({
        idPrefix: "musicalInstrument",
        name: "musicalInstrument",
        fieldset: {
          legend: {
            text: "Is it a musical instrument?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "This includes violin bows."
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
        ]
      }) }}


      <button class="govuk-button">Continue</button>

    </form>


    <p class="govuk-body govuk-!-padding-top-9"><a href="based-on-your-answers">List of outcomes</a></p>



  </div>
</div>



{% endblock %}
