{% extends "./layout.html" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">This is your photograph</h1>

    <!-- <p>This is your photograph</p> -->

    <p><img src="routeToImage?imageName={{data['imageName']}}" width="600" border="0" /></p>

        <form method="post" autocomplete="off" novalidate >
          <button class="govuk-button">Use this photograph</button>
        </form>

        <p><a href='add-photograph'>Use a different photograph</a></p>

  </div>
</div>


{% endblock %}
