{% extends "./layout_unbranded.html" %}

{% block pageTitle %}
Ivory buyer klaxon - Gumtree
{% endblock %}

{% block content %}


<div style="background:#fff;padding:2rem;padding-bottom:6rem;margin:auto;margin-top:10rem;border:1px solid #999;">

  <h1 class="govuk-heading-xl">
    Gumtree
  </h1>

  <p class="govuk-body-l">It looks like you're selling an item that may have some ivory in it. The law on selling ivory has changed recently.</p>

  <p class="govuk-body-l">We advise you to check if your item can still be legally sold at <a href="apply-to-sell-or-hire-an-ivory-item">www.gov.uk/ivoryservice</a></p>

  </div>


{% endblock %}
