{% extends "./layout.html" %}


{% set thisPageTitle = "Is it a musical instrument?" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form class="form" method="post" {{ novalidateVal }}>

      {{ govukRadios({
        idPrefix: "musicalInstrument",
        name: "musicalInstrument",
        fieldset: {
          legend: {
            text: thisPageTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
        ]
      }) }}


      <button class="govuk-button">Continue</button>

    </form>


    <!-- <p class="govuk-body govuk-!-padding-top-9"><a href="based-on-your-answers">List of outcomes</a></p> -->



  </div>
</div>



{% endblock %}
