{% extends "./layout.html" %} {% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="owner-agent-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
              {% if (data['outsideUK'] == "Yes") and (data['sellHire'] == "Sell it") %}
                By selling the item, will it move into Great Britain?
              {% elseif (data['outsideUK'] == "Yes") and (data['sellHire'] == "Hire it out") %}
                By hiring out the item, will it move into Great Britain?
              {% elseif (data['outsideUK'] == "No") and (data['sellHire'] == "Sell it") %}
                By selling the item, will it move out of Great Britain?
              {% elseif (data['outsideUK'] == "No") and (data['sellHire'] == "Hire it out") %}
                By hiring out the item, will it move out of Great Britain?
              {% elseif (data['outsideUK'] == "No") and (data['sellHire'] == "I don't know") %}
                By selling or hiring out the item, will it move out of Great Britain?
              {% else %}
                By selling or hiring out the item, will it move into Great Britain?
              {% endif %}
            </h1>
          </legend>

          <p class="govuk-body">Great Britain is England, Wales and Scotland.</p>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="permit-yes" name="permit" type="radio" value="Yes"/>
              <label class="govuk-label govuk-radios__label" for="permit-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="permit-no" name="permit" type="radio" value="No"/>
              <label class="govuk-label govuk-radios__label" for="permit-no">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="permit-idk" name="permit" type="radio" value="I don't know"/>
              <label class="govuk-label govuk-radios__label" for="permit-idk">
                I’m not sure yet
              </label>
            </div>
          </div>
        </fieldset>

      </div>

      <button class="govuk-button">Continue</button>

    </form>



  </div>
</div>


{% endblock %}
