
{% set tocPage = true %}

{% extends "./layout.html" %}

{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">


{% endblock %}


{% block pageTitle %}
Ivory Act 2018 guidance
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>



  <div class="govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list" style="font-size: 16px">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>



{% endblock %}



{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text gem-c-title__text--long">
        How to legally sell or hire out elephant ivory
      </h1>
    </div>

    <p class="gem-c-lead-paragraph ">
      Understand which items are exempt from the UK ivory ban and tell us if you want to sell or hire one of them.
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata govuk-!-margin-bottom-7" lang="en">
        <div class="app-c-published-dates " lang="en">
          Published 1 October 2021
        </div>

        <div class="app-c-publisher-metadata__other ">
          <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
              <span class="app-c-publisher-metadata__definition-sentence">
                <a href="/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a>
              </span>
            </dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<!-- CONTENTS LIST -->

    <div class="govuk-!-margin-bottom-7" id="toc" class="toc"></div>


    <div class="gem-c-govspeak govuk-govspeak direction-ltr">


      <div class="govspeak">

<h2 id="selling-an-ivory-item">You must report your ivory before selling or hiring it out</h2>

        <p>The <a href="https://www.legislation.gov.uk/ukpga/2018/30/contents/enacted">Ivory Act 2018</a> bans dealing in most items that contain elephant ivory. Some items are exempt from the ban, but you must tell us before you sell or hire them out.</p>

        <p>You’ll need to pay an administration fee when you do this.</p>

        <a href="know-items-exempt" style="color: white; padding-right: 10px" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>

        <p class="govuk-!-margin-top-0">You can report an item on behalf of someone else.</p>

        <div class="govuk-warning-text govuk-!-margin-bottom-0">
          <span class="govuk-warning-text__icon" aria-hidden="true" style="margin-top: -20px; min-width: 32px">!</span>
          <strong class="govuk-warning-text__text" style="font-size: 19px; padding-left: 53px">
            <span class="govuk-warning-text__assistive">Warning</span>
            You can be fined up to £250,000 and sent to prison if you sell or hire out elephant ivory that does not meet the exemption criteria.
          </strong>
        </div>

<h2 id="know-your-items-category">Items that are exempt from the ivory ban</h2>

        <p>You can sell or hire out the following items, providing you tell us about them first:</p>

        <ul>
          <li>musical instruments made before 1975 with less than 20% ivory by volume</li>
          <li>items made before 1947 with less than 10% ivory by volume</li>
          <li>portrait miniatures made before 1918 with a surface area smaller than 320 square centimetres</li>
          <li>items that a qualifying museum intends to buy or hire</li>
          <li>items made before 1918 that are of outstandingly high artistic, cultural or historical value</li>
        </ul>

        <p>If you’re not sure about your item, try the <a href="sure-its-elephant">ivory item eligibility checker</a>.</p>


        <div class="govuk-inset-text">
          <p>If your item is not in one of these categories, it is illegal to sell or hire it out, but you can still keep it, give it away as a gift or leave it to someone in your will.</p>
        </div>



<h2 id="know-your-items-category">Telling us about about your item</h2>

        <p>UK citizens must tell us before they sell or hire out an exempt item, even if the item itself is not in the UK.</p>

        <p>Non-UK citizens must tell us before they sell or hire out an exempt item to someone in the UK.</p>


<h2 id="know-your-items-category">Other legal obligations</h2>

        <p>In addition to your obligations under the Ivory Act 2018, you may have other legal obligations under the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES):</p>

        <ul>
          <li>if the item will move into or out of Great Britain (England, Scotland and Wales) when you sell or hire it out, you’ll also need to <a href="https://www.gov.uk/guidance/apply-for-cites-permits-and-certificates-to-trade-endangered-species">apply for a CITES permit</a></li>
          <li>if you’re selling or hiring out a musical instrument made between 3 March 1947 and 1 January 1975, you’ll also need to <a href="https://www.gov.uk/guidance/apply-for-cites-permits-and-certificates-to-trade-endangered-species">apply for a CITES article 10 certificate</a></li>
        </ul>

        <p>There is a small administration charge for CITES applications, which you must pay even if your application is unsuccessful.</p>


<h2 id="know-your-items-category">What you can do with ivory that is not exempt</h2>

        <p>If you own ivory that does not meet the Ivory Act exemption criteria, you cannot sell or hire it out under any circumstances.</p>

        <p>You are legally allowed to:</p>

        <ul>
          <li>keep it</li>
          <li>give it away as a gift</li>
          <li>leave it to someone in your will</li>
        </ul>


<h2 id="act-purpose">How the Ivory Act helps protect elephants</h2>

        <p>The government believes that demand for ivory will exist so long as there are legal markets for it.</p>

        <p>Legal markets make it easier for people to sell new ivory from recently killed elephants. For example, illegal ivory traffickers use artificial staining and other ageing techniques, which make it extremely difficult for anyone to tell the difference between illegal and legal ivory.</p>

        <p>Closing down domestic ivory markets will reduce the demand for ivory, which in turn will help save elephants in the wild.</p>

        <p>The UK’s ivory ban is one of the toughest in the world. It aims to:</p>

        <ul>
          <li>remove the financial value from ivory</li>
          <li>reduce the opportunity for new ivory to be laundered through legal markets</li>
          <li>significantly reduce the flow of ivory from the UK to overseas markets</li>
          <li>send a clear message to the rest of the world that the UK no longer considers ivory to be an acceptable commodity</li>
          <li>encourage other countries to take similar actions</li>
        </ul>


<h2 id="act-purpose">More information about dealing in ivory</h2>

        <ul>
          <li>For technical information about the ivory ban exemption criteria, see <a href="https://consult.defra.gov.uk/communications/implementing-the-ivory-act/">Implementing the Ivory Act - consultation (PDF, 383KB)</a></li>
          <li><a href="guidance-rmi">Certifying ivory items of outstandingly high artistic, cultural or historical value</a></li>
          <li><a href="guidance-buying">How to buy elephant ivory</a></li>

        </ul>


      </div>

      </div>

    </div>


</div>



{% endblock %}
