// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";


// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/check-your-answers";


// Components that aren't in Frontend
@import "components/cookie-banner";


// From Blue Badge prototype

@import "custom/govuk-panels";
@import "custom/bb-candidate";


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

dl{
  font-family: "GDS Transport", Arial, sans-serif;
}

dt{

}

dd{
  margin-left: 0;
  margin-bottom: 2rem;
}






.defra-dl{
  display: block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-family: "GDS Transport", Arial, sans-serif;
}

.defra-dt{
  display: inline-block;
}

.defra-dd{
  display: inline-block;
    //display: block;
  margin-left: 0.5rem;
  font-weight: 600;
}


.defra-email-header{
    padding-bottom: 0;
    margin-bottom: 2rem;
    border-bottom: 1px #999 solid;
}

.defra-dt__email-header{
    margin-left: 0rem;
}

.defra-dt__email-header::after{
    content: ": ";
}

.defra-dd__email-header{
    margin-left: 2rem;
}



th, td{
  vertical-align: top;
}


// h2{margin-top: 5rem !important;}

.app-check-your-answers__question{
  vertical-align: top;
}



.defra-input-unit-cm{
}


.input-type__type-cm{

  border: 2px solid #333;
  border-left: none;
  background-color: #f5f5f5;

  padding: 0.33rem 0.5rem;
  // padding-bottom: 0.45rem;
  margin-left: -0.25rem;

  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}



.xdefra-input-unit-cm::after{
  content: "cm";
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  background-color: #ddd;
  border: 2px solid #ddd;
  padding: 0.3rem;
  // margin-left: -0.25rem;
}


.invisible-link a:link, .invisible-link a:visited{

  color: #fff;

}
.invisible-link a:focus{

  color: #005ea5;
}






.heading-label{

display: block;
font-size: 1rem;
font-weight: 500;
margin-top: 1rem;
margin-bottom: 0.5rem;

}


.hidden{display: none;}



// for URLs and things we only want to display when printing

@media screen {
    .print-only {
        display: none;
    }
}


.ivory-photos-list{
 margin: 0 0 1em 0;
    padding: 0;
}

.ivory-photo-item{
    list-style: none;
}

.ivory-photo{
    max-width: 480px;
}


@media print{

    .ivory-photos-list{
        margin: 0 0 1em 0;
        padding: 0;
    }

    .ivory-photo-item{
        list-style: none;
    }

    .ivory-photo{
        max-width: 100%;
    }
}





/* Detailed guidance CSS */

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    margin-right: 2px
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr
}

input:focus,textarea:focus,select:focus,button:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0
}

#global-header input[type=search]:focus {
    outline: 3px solid #ffbf47;
    outline-offset: -2px
}

#global-header h1 a:focus {
    background-color: transparent;
    outline: none
}

#global-header a:focus {
    color: #0b0c0c
}

#global-header .header-wrapper:after,#global-header .header-wrapper .header-global:after,#global-header .header-wrapper .header-global .header-logo:after,#global-header .header-proposition #proposition-link:after,#global-header .header-proposition #proposition-links:after,#footer .footer-meta:after {
    content: "";
    display: block;
    clear: both
}

#global-header {
    background-color: #0b0c0c;
    width: 100%
}

#global-header .header-wrapper {
    background-color: #0b0c0c;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px
}

@media (min-width: 641px) {
    #global-header .header-wrapper {
        padding-left:15px;
        padding-right: 15px
    }
}

#global-header .header-wrapper .header-global .header-logo {
    float: left
}

@media (min-width: 769px) {
    #global-header .header-wrapper .header-global .header-logo {
        width:33.33%
    }
}

@media screen and (max-width: 379px) {
    #global-header .header-wrapper .header-global .header-logo {
        width:auto;
        float: none
    }
}

#global-header .header-wrapper .header-global .header-logo .content {
    margin: 0 15px
}

#global-header .header-wrapper .header-global .header-logo {
    margin-top: 2px
}

@media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-global {
        float:left;
        width: 33.33%
    }

    #global-header.with-proposition .header-wrapper .header-global .header-logo,#global-header.with-proposition .header-wrapper .header-global .site-search {
        width: 100%
    }
}

@media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-proposition {
        width:66.66%;
        float: left
    }
}

#global-header.with-proposition .header-wrapper .header-proposition .content {
    margin: 0 15px
}

#global-header #logo {
    float: left;
    overflow: visible;
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    border-bottom: 1px solid transparent;
    background: url(https://assets.publishing.service.gov.uk/static/images/gov.uk_logotype_crown-ea874a79e09423d63420aff44f016fd0b92dc6dec0cc2668d63b150c8669875e.png) no-repeat;
    background-size: 36px 32px;
    background-position: 0 0
}

#global-header #logo img {
    margin: 2px 1px 0 0;
    vertical-align: bottom;
    visibility: hidden
}

#global-header #logo:hover,#global-header #logo:focus {
    text-decoration: none;
    border-bottom-color: white
}

#global-header .header-proposition {
    padding-top: 10px
}

@media (min-width: 769px) {
    #global-header .header-proposition {
        padding-top:0
    }
}

#global-header .header-proposition #proposition-name {
    font-family: "GDS Transport", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    color: white;
    text-decoration: none
}

@media (min-width: 641px) {
    #global-header .header-proposition #proposition-name {
        font-size:24px;
        line-height: 1.25
    }
}

#global-header .header-proposition a#proposition-name:hover {
    text-decoration: underline
}

#global-header .header-proposition a#proposition-name:focus {
    color: #0b0c0c
}

#global-header .header-proposition a.menu {
    font-family: "GDS Transport", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    color: white;
    display: block;
    float: right;
    text-decoration: none;
    padding-top: 6px
}

@media (min-width: 641px) {
    #global-header .header-proposition a.menu {
        font-size:16px;
        line-height: 1.25
    }
}

@media (min-width: 769px) {
    #global-header .header-proposition a.menu {
        display:none
    }
}

#global-header .header-proposition a.menu:hover {
    text-decoration: underline
}

#global-header .header-proposition a.menu:after {
    display: inline-block;
    font-size: 8px;
    height: 8px;
    padding-left: 5px;
    vertical-align: middle;
    content: " \25BC"
}

#global-header .header-proposition a.menu.js-visible:after {
    content: " \25B2"
}

#global-header .header-proposition #proposition-menu {
    margin-top: 5px
}

@media (min-width: 769px) {
    #global-header .header-proposition #proposition-menu.no-proposition-name {
        margin-top:37px
    }
}

#global-header .header-proposition #proposition-link,#global-header .header-proposition #proposition-links {
    clear: both;
    margin: 2px 0 0 0;
    padding: 0
}

.js-enabled #global-header .header-proposition #proposition-link,.js-enabled #global-header .header-proposition #proposition-links {
    display: none
}

@media (min-width: 769px) {
    .js-enabled #global-header .header-proposition #proposition-link,.js-enabled #global-header .header-proposition #proposition-links {
        display:block
    }
}

.js-enabled #global-header .header-proposition #proposition-link.js-visible,.js-enabled #global-header .header-proposition #proposition-links.js-visible {
    display: block
}

#global-header .header-proposition #proposition-link li,#global-header .header-proposition #proposition-links li {
    float: left;
    width: 50%;
    padding: 3px 0;
    border-bottom: 1px solid #2e3133
}

@media (min-width: 769px) {
    #global-header .header-proposition #proposition-link li,#global-header .header-proposition #proposition-links li {
        display:block;
        width: auto;
        padding: 0 15px 0 0;
        border-bottom: 0
    }

    #global-header .header-proposition #proposition-link li.clear-child,#global-header .header-proposition #proposition-links li.clear-child {
        clear: left
    }
}

#global-header .header-proposition #proposition-link a,#global-header .header-proposition #proposition-links a {
    color: white;
    text-decoration: none;
    font-family: "GDS Transport", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25
}

@media (min-width: 641px) {
    #global-header .header-proposition #proposition-link a,#global-header .header-proposition #proposition-links a {
        font-size:14px;
        line-height: 1.42857
    }
}

@media (min-width: 769px) {
    #global-header .header-proposition #proposition-link a,#global-header .header-proposition #proposition-links a {
        font-family:"GDS Transport", Arial, sans-serif;
        font-weight: 700;
        text-transform: none;
        font-size: 14px;
        line-height: 1.14286;
        line-height: 23px
    }
}

@media (min-width: 769px) and (min-width: 641px) {
    #global-header .header-proposition #proposition-link a,#global-header .header-proposition #proposition-links a {
        font-size:16px;
        line-height: 1.25
    }
}

#global-header .header-proposition #proposition-link a:hover,#global-header .header-proposition #proposition-links a:hover {
    text-decoration: underline
}

#global-header .header-proposition #proposition-link a.active,#global-header .header-proposition #proposition-links a.active {
    color: #1d8feb
}

#global-header .header-proposition #proposition-link a:focus,#global-header .header-proposition #proposition-links a:focus {
    color: #0b0c0c
}

#global-header .header-proposition #proposition-link {
    float: right;
    line-height: 22px
}

.js-enabled #global-header .header-proposition #proposition-link {
    display: block
}

@media (min-width: 769px) {
    #global-header .header-proposition #proposition-link {
        float:none
    }
}

#global-header-bar {
    height: 10px;
    background-color: #005ea5
}




/* add photo input file style from nostyle.herokuapp.com */

// .field-file-input{
//   max-width: 26em;
// }
//
// .check-photo{
//   max-width: 26em;
//   margin-bottom: 30px;
// }
//
// .check-photo img{
//   width: 100%;
// }
//
// [type=file] {
//     -webkit-appearance: none;
//     border-radius: 0;
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     font-size: inherit;
//     // font-family: inherit;
//     line-height: 1.25;
//     padding: .5em;
//     border: 2px solid #eee;
//     background-color: #eee;
//     width: 100%
// }
//
// [type=file]:hover {
//     border: 2px solid #222
// }

/* your-photos styles */

.your-photos-img{
    max-width: 200px;
    max-height: 200px;
}

.your-photos-key {
    vertical-align: top;
}

.your-photos-value{
    // this is a placeholder for now
}

.your-photos-actions{
    vertical-align: top;
}


/* check-your-answers styles */
.check-your-answers-img{
    max-width: 200px;
    max-height: 200px;
}

.check-your-answers-change{
    vertical-align: top;
}


/* APHA screens */

img.item-list-thumbnail{
    //width: 160px;
    height: 120px;
    border: 10px #eeecec solid;
    border-radius: 5px;
}

img.item-detail-main{
    //width: 600px;
    height: 400px;
    border: 1px #999 solid;
}






.call-to-action{
    border-left: 10px solid #dee0e2;
    padding: 1em 0 1em 1em;
    margin: 2em 0;
}






.reg-doc-header{
    margin: 1rem 0 3rem 0;
    //border-bottom: 1px solid #999;
}

.reg-doc-logo{
    border-left: 2px solid rgb(0, 163,59);
    padding-left: 10px;
}

.reg-doc-centre{
    text-align: center;
}


.reg-doc{
    font-size: 3rem;
    font-weight: 500;
}

.reg-doc-section{
    margin: 2rem 0;
    padding: 2rem 0 0 0;
    border-top: 1px solid #999;
}



.reg-doc-number{

    display: block;
    line-height: 1.8;
    font-size: 2rem;
    font-weight: 400;

}

.reg-doc-date{
    font-size: 1.4rem;
    font-weight: 500;
}


/* We need this because otherwise the 'Change' link is vertically middle aligned win the CYA page */
.app-check-your-answers__change{
    vertical-align: top;
}


///// INTERRUPT PATTERN - FLASH CARD //////

.flash-card {
  margin-top: -1em;
  padding: 30px;
  margin-bottom: 30px;
  background: #1d70b8;
  color: #FFF;

  header {
    background-color: inherit;
  }

  p {
    color: #FFF;
  }

  ul {
    color: #FFF;

    h2 {
      margin: 0;
      margin-bottom: 0;
      padding: 0;
      color: #FFF;
      font-size: 28px;
    }

    li {
      color: #FFF;
    }
  }

  h1 {
    color: #FFF;
    &:first-of-type {
      margin-top: 0 !important;
    }
  }

  a {
    color: #FFF;
    &:visited, &:hover, &:active {
      color: #FFF; }
    }
    details {
      // margin-bottom: 1em;
      summary {
        color: #FFF;
      }
      .panel {
        border-left-color: #FFF;
      }
    }

    button {
      color: #FFF;
      &:visited, &:hover, &:active {
        color: #FFF; }
      }
      details {
        // margin-bottom: 1em;
        summary {
          color: #FFF;
        }
        .panel {
          border-left-color: #FFF;
        }
      }
  }

  @media (min-width: 769px) {
    .flash-card {
      // margin-top: 1.25em;
      padding: 50px;
      margin-bottom: 30px;

    }
  }


.button-white {
  box-shadow: 0 1px 0 #0b0c0c;
  border: #0b0c0c 1px solid;
	background-color: #FFF;
	color: #0b0c0c;
	&[disabled]{
		background-color: #FFF;
	}
}

.button-white:hover {
	background-color: darken(#FFF, 5%);
	color: #0b0c0c;
	&[disabled]{
		background-color: #FFF;
	}
}
