// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";


// From Blue Badge prototype

@import "custom/govuk-panels";


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

dl{
  font-family: "nta", Arial, sans-serif;
}

dt{

}

dd{
  margin-left: 0;
  margin-bottom: 2rem;
}





.defra-dl{
  display: block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-family: "nta", Arial, sans-serif;
}

.defra-dt{
  display: inline-block;
}

.defra-dd{
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: 600;
}



th, td{
  vertical-align: top;
}




.app-check-your-answers__question{
  vertical-align: top;
}



.defra-input-unit-cm{
}


.input-type__type-cm{

  border: 2px solid #333;
  border-left: none;
  background-color: #f5f5f5;

  padding: 0.33rem 0.5rem;
  // padding-bottom: 0.45rem;
  margin-left: -0.25rem;

  font-family: "nta", Arial, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}



.xdefra-input-unit-cm::after{
  content: "cm";
  font-family: "nta", Arial, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  background-color: #ddd;
  border: 2px solid #ddd;
  padding: 0.3rem;
  // margin-left: -0.25rem;
}


.invisible-link a:link, .invisible-link a:visited{

  color: #fff;

}
.invisible-link a:focus{

  color: #005ea5;
}






.heading-label{

display: block;
font-size: 1rem;
font-weight: 500;
margin-top: 1rem;
margin-bottom: 0.5rem;

}


.hidden{display: none;}
