{% extends "./layout.html" %}


{% set thisPageTitle = "Help our experts by allowing us to share details of your item" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" novalidate>

      <div class="govuk-form-group">

          <h1 class="govuk-heading-l">{{ thisPageTitle }}</h1>

          <p class="govuk-body">To further their knowledge and understanding of pre-1918 ivory items of outstandingly high artistic, cultural, and historical value, we'd like to share details of your application with a closed group of 'Prescribed Institutions'. <a href="#" class="govuk-link">Prescribed Institutions (opens in a new window or tab)</a> are the experts who will be assessing the ivory items.</p>

          <p class="govuk-body">We will only share:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>information about the item from your application, such as the description</li>
            <li>photographs of the item declared in your application</li>
            <li>the outcome of your application</li>
            <li>this information once you have received the outcome of your application</li>
          </ul>

          <div class="govuk-inset-text">
            No personal data will be shared.
          </div>

          <!-- <p class="govuk-body">This information will help improve how we assess items.</p> -->

          <h2 class="govuk-heading-m">Do you agree to us sharing details of your application with the Prescribed Institutions?</h2>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="shareData-yes" name="shareData" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="shareData-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="shareData-no" name="shareData" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="shareData-no">
                No
              </label>
            </div>
          </div>

      </div>

      <button class="govuk-button" data-module="govuk-button">Confirm and submit</button>

    </form>
  </div>

</div>

{% endblock %}
