{% extends "./layout.html" %}


{% set thisPageTitle = "For an item that has no owner, in what capacity are you making this declaration?" %}

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" {{ novalidateVal }}>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="owner-agent-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
              {{ thisPageTitle }}
            </h1>
          </legend>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="capacity-executor" name="capacity" type="radio" value="Executor or administrator"/>
              <label class="govuk-label govuk-radios__label" for="capacity-executor">
                Executor or administrator
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="capacity-trustee" name="capacity" type="radio" value="Trustee or similar"/>
              <label class="govuk-label govuk-radios__label" for="capacity-trustee">
                Trustee or similar
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="capacity-agent" name="capacity" type="radio" value="Agent"/>
              <label class="govuk-label govuk-radios__label" for="capacity-agent">
                Agent or business acting on behalf of either of the above
              </label>
            </div>

              <!-- <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="capacity-other" name="capacity" type="radio" value="Other" data-aria-controls="conditional-capacity-other">
                 <label class="govuk-label govuk-radios__label" for="capacity-other">
                   Other
                 </label>
               </div>
               <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-capacity-other">
                 <div class="govuk-form-group">
                   <label class="govuk-label" for="capacity-other-details">
                     Give details
                   </label>
                   <input class="govuk-input govuk-!-width-one-third" id="capacity-other-details" name="capacity-other-details" type="text"/>
                 </div>
               </div> -->

            </div>
        </fieldset>

      </div>

      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>




{% endblock %}
