{% extends "./layout.html" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Your email address</h1>

    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden" for="agentEmail">Your email address</label>
        <span id="email-hint" class="govuk-hint">We’ll use this to send you the payment receipt and confirmation of registration</span>
        <input class="govuk-input" id="agentEmail" name="agentEmail" type="email" value="{{data['agentEmail']}}" required />
      </div>

      <button class="govuk-button">Continue</button>

    </form>



  </div>
</div>


{% endblock %}
