
{% block pageTitle %}
Application complete
{% endblock %}


{% extends "./layout.html" %}
<!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
{% block beforeContent %}
  {% include "../includes/stage-banner.html" %}
{% endblock %}
{% block content %}

{% if data['alreadyCertified'] === "Yes" %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
          <h1 class="govuk-panel__title">Submission received</h1>
          <!-- <div class="govuk-panel__body">
            Submission reference
            <br><strong>4HCP37NL</strong>
          </div> -->
        </div>

        <p class="govuk-body">We’ve sent confirmation of this to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{data['agentEmail']}}</li>
          {% if data['ownerEmail'] != null %}
          <li>{{data['ownerEmail']}}</li>
          {% else %}
          {% endif %}
        </ul>

        <h2 class="govuk-heading-m">What happens next</h2>

          <p class="govuk-body">You can now sell or hire out your item.</p>

          <p class="govuk-body">You must pass on the item's certificate to the new owner as part of the transaction.</p>

      <a href="guidance-new" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Finish</a>


      <p class="govuk-body invisible-link">
            <a href="confirmation-email?e=type1" class="govuk-link">View confirmation email</a>
      </p>

{% else %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
          <h1 class="govuk-panel__title">Application received</h1>
          <div class="govuk-panel__body">
            Submission reference
            <br><strong>4HCP37NL</strong>
          </div>
        </div>

        <p class="govuk-body">We’ve sent confirmation of this application to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{data['agentEmail']}}</li>
          {% if data['ownerEmail'] != null %}
          <li>{{data['ownerEmail']}}</li>
          {% else %}
          {% endif %}
        </ul>

        <h2 class="govuk-heading-m">What happens next</h2>

          <p class="govuk-body">An expert will now check your application.</p>

          <p class="govuk-body">Checks usually happen within 35 working days, and we may contact you during this time if we require more information.</p>

          <p class="govuk-body">If your application is approved, we will send you an exemption certificate so you can sell or hire out your item.</p>

          <p class="govuk-body">If you have not heard from us within 35 working days, you can contact us at <a href="mailto:">ivory@apha.gov.uk</a>. Make sure you have your submission reference number, so we can find your details. </p>

    <a href="guidance-new" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Finish</a>


      <p class="govuk-body invisible-link">
            <a href="confirmation-email?e=type5" class="govuk-link">View confirmation email</a>
      </p>

{% endif %}
  </div>
</div>


{% endblock %}
