{% extends "./layout.html" %}

<!-- {% set thisPageTitle = "You must now make a self-assessment to sell or hire out your item" %} -->

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

        <div class="govuk-form-group">


<!-- RMI and Checker and Resubmission-->
          {% if (data['knowItemsExempt'] === "unsure") and (data['exemptionChoice'] === "type5") and (data['appliedBefore'] === "Yes")%}
          <h1 class="govuk-heading-l">You can now make a new application for an exemption certificate</h1>

          <p class="govuk-body">Based on your answers, you are able to make an application for an exemption certificate for your item as a pre-1918 item of outstandingly high artistic, cultural or historical value.</p>

          <p class="govuk-body">Complete the process by following the steps below:</p>

            <ul class="govuk-list govuk-list--number">
              <li>Add up to 6 photos of the item.</li>
              <li>Describe the item and how it meets the exemption criteria.</li>
              <li>Upload any documents that support your application.</li>
              <li>Provide contact details.</li>
              <li>Declare that the item in your opinion meets the relevant exemption criteria</li>
              <li>Pay a non-refundable administration fee of £250.</li>
              <li>Wait up to 35 working days for your application to be approved by an expert.</li>
            </ul>

            <div class="govuk-inset-text">
              You can stop half-way through and come back later. We’ll delete your answers if you don’t complete the service within 24 hours.
            </div>

          <p class="govuk-body">After you’ve paid for your application, you’ll need to wait up to 35 working days for it to be approved by an expert. If it is successful, we’ll send you an exemption certificate so you can sell or hire out your item. If it's unsuccessful, we will let you know the reason for this.</p>

          <button class="govuk-button" data-module="govuk-button">Continue</button>

          <p class="govuk-body"><a class="govuk-link" href="guidance-new">Cancel</p>



<!-- RMI and Non-Checker and Resubmission-->
          {% elseif (data['knowItemsExempt'] === "yes") and (data['exemptionChoice'] === "type5") and (data['appliedBefore'] === "Yes")%}
          <h1 class="govuk-heading-l">You can now make a new application for an exemption certificate</h1>

            <p class="govuk-body">Complete the process by following the steps below:</p>

            <ul class="govuk-list govuk-list--number">
              <li>Add up to 6 photos of the item.</li>
              <li>Describe the item and how it meets the exemption criteria.</li>
              <li>Upload any documents that support your application.</li>
              <li>Provide contact details.</li>
              <li>Declare that the item in your opinion meets the relevant exemption criteria</li>
              <li>Pay a non-refundable administration fee of £250.</li>
              <li>Wait up to 35 working days for your application to be approved by an expert.</li>
            </ul>

            <div class="govuk-inset-text">
              You can stop half-way through and come back later. We’ll delete your answers if you don’t complete the service within 24 hours.
            </div>

          <p class="govuk-body">After you’ve paid for your application, you’ll need to wait up to 35 working days for it to be approved by an expert. If it is successful, we’ll send you an exemption certificate so you can sell or hire out your item. If it's unsuccessful, we will let you know the reason for this.</p>

          <button class="govuk-button" data-module="govuk-button">Continue</button>

          <!-- <p class="govuk-body"><a class="govuk-link" href="guidance-new">Cancel</p> -->




<!-- RMI previously Revoked -->
          {% elseif (data['exemptionChoice'] === "type5") and (data['alreadyCertified'] === "It used to")%}
          <h1 class="govuk-heading-l">You can now make a new application for an exemption certificate</h1>

            <p class="govuk-body">Complete the process by following the steps below:</p>

            <ul class="govuk-list govuk-list--number">
              <li>Add up to 6 photos of the item.</li>
              <li>Describe the item and how it meets the exemption criteria.</li>
              <li>Upload any documents that support your application.</li>
              <li>Provide contact details.</li>
              <li>Declare that the item in your opinion meets the relevant exemption criteria</li>
              <li>Pay a non-refundable administration fee of £250.</li>
              <li>Wait up to 35 working days for your application to be approved by an expert.</li>
            </ul>

            <div class="govuk-inset-text">
              You can stop half-way through and come back later. We’ll delete your answers if you don’t complete the service within 24 hours.
            </div>

          <p class="govuk-body">After you’ve paid for your application, you’ll need to wait up to 35 working days for it to be approved by an expert. If it is successful, we’ll send you an exemption certificate so you can sell or hire out your item. If it's unsuccessful, we will let you know the reason for this.</p>

          <button class="govuk-button" data-module="govuk-button">Continue</button>

          <p class="govuk-body"><a class="govuk-link" href="guidance-new">Cancel</p>



<!-- RMI and Non-Checker and RMI lite -->
          {% elseif (data['exemptionChoice'] === "type5") and (data['alreadyCertified'] === "Yes") %}

          <h1 class="govuk-heading-l">Reselling your item of outstandingly high artistic, cultural or historical value</h1>

          <p class="govuk-body">Complete the process by following the steps below:</p>

            <ul class="govuk-list govuk-list--number">
              <li>Provide contact details.</li>
              <li>Confirm the information on the certificate is still accurate and complete.</li>
              <li>Pay a non-refundable administration fee of £20.</li>
              <li>Receive confirmation you can now sell or hire out your item.</li>
            </ul>

            <div class="govuk-inset-text">
              You can stop half-way through and come back later. We’ll delete your answers if you don’t complete the service within 24 hours.
            </div>

          <button class="govuk-button" data-module="govuk-button">Continue</button>



<!-- RMI and Checker -->
          {% elseif (data['knowItemsExempt'] === "unsure") and (data['exemptionChoice'] === "type5") %}
          <h1 class="govuk-heading-l">You can now apply for an exemption certificate</h1>

            <p class="govuk-body">Based on your answers, you are able to make an application for an exemption certificate for your item as a pre-1918 item of outstandingly high artistic, cultural or historical value.</p>

            <p class="govuk-body">Complete the process by following the steps below:</p>

            <ul class="govuk-list govuk-list--number">
              <li>Add up to 6 photos of the item.</li>
              <li>Describe the item and how it meets the exemption criteria.</li>
              <li>Upload any documents that support your application.</li>
              <li>Provide contact details.</li>
              <li>Declare that the item in your opinion meets the relevant exemption criteria</li>
              <li>Pay a non-refundable administration fee of £250.</li>
              <li>Wait up to 35 working days for your application to be approved by an expert.</li>
            </ul>

            <div class="govuk-inset-text">
              You can stop half-way through and come back later. We’ll delete your answers if you don’t complete the service within 24 hours.
            </div>

            <p class="govuk-body">After you’ve paid for your application, you’ll need to wait up to 35 working days for it to be approved by an expert. If it is successful, we’ll send you an exemption certificate so you can sell or hire out your item. If it's unsuccessful, we will let you know the reason for this.</p>

          <button class="govuk-button" data-module="govuk-button">Continue</button>

          <p class="govuk-body"><a class="govuk-link" href="guidance-new">Cancel</p>



<!-- RMI non-checker -->
          {% elseif data['exemptionChoice'] === "type5" %}

          <h1 class="govuk-heading-l">You must now apply for an exemption certificate</h1>

          <p class="govuk-body">Complete the process by following the steps below:</p>

            <ul class="govuk-list govuk-list--number">
              <li>Add up to 6 photos of the item.</li>
              <li>Describe the item and how it meets the exemption criteria.</li>
              <li>Upload any documents that support your application.</li>
              <li>Provide contact details.</li>
              <li>Declare that the item in your opinion meets the relevant exemption criteria</li>
              <li>Pay a non-refundable administration fee of £250.</li>
              <li>Wait up to 35 working days for your application to be approved by an expert.</li>
            </ul>

            <div class="govuk-inset-text">
              You can stop half-way through and come back later. We’ll delete your answers if you don’t complete the service within 24 hours.
            </div>

          <p class="govuk-body">After you’ve paid for your application, you’ll need to wait up to 35 working days for it to be approved by an expert. If it is successful, we’ll send you an exemption certificate so you can sell or hire out your item. If it's unsuccessful, we will let you know the reason for this.</p>

          <button class="govuk-button" data-module="govuk-button">Continue</button>

          <!-- <p class="govuk-body"><a class="govuk-link" href="guidance-new">Cancel</p> -->


<!-- S10 and Checker -->
          {% elseif data['knowItemsExempt'] === "unsure" %}
            <h1 class="govuk-heading-l">You can now make a self-assessment to sell or hire out your item</h1>

              <p class="govuk-body">Based on your answers, your item may qualify as exempt from the ivory ban.</p>

              <p class="govuk-body">Complete the process by following the steps below:</p>

              <ul class="govuk-list govuk-list--number">
                <li>Add up to 6 photos of the item.</li>
                <li>Describe the item and how it meets the exemption criteria.</li>
                <li>Provide contact details.</li>
                <li>Declare that the item in your opinion meets the relevant exemption criteria</li>
                <li>Pay an administration fee of £20.</li>
              </ul>

              <div class="govuk-inset-text">
                You can stop half-way through and come back later. We’ll delete your answers if you close your browser or take more than 24 hours to complete the service.
              </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

            <p class="govuk-body"><a class="govuk-link" href="guidance-new">Cancel</p>


<!-- S10 and Non-checker -->
            {% else %}
            <h1 class="govuk-heading-l">You must now make a self-assessment to sell or hire out your item</h1>

              <p class="govuk-body">Complete the process by following the steps below:</p>

              <ul class="govuk-list govuk-list--number">
                <li>Add up to 6 photos of the item.</li>
                <li>Describe the item and how it meets the exemption criteria.</li>
                <li>Provide contact details.</li>
                <li>Declare that the item in your opinion meets the relevant exemption criteria</li>
                <li>Pay an administration fee of £20.</li>
              </ul>

              <div class="govuk-inset-text">
                You can stop half-way through and come back later. We’ll delete your answers if you close your browser or take more than 24 hours to complete the service.
              </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

            <!-- <p class="govuk-body"><a class="govuk-link" href="guidance-new">Cancel</p> -->
            {% endif %}



        </div>


      </form>

    </div>
  </div>
</div>
{% endblock %}
