
{% set tocPage = true %}

{% extends "./layout.html" %}

{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">


{% endblock %}


{% block pageTitle %}
How to buy elephant ivory
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>



  <div class="govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list" style="font-size: 16px">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>



{% endblock %}



{% block content %}


<div class="publication-external" style="margin-top: -30px; margin-bottom: 30px">
    <ul class="organisation-logos">
        <li class="organisation-logos__logo">
          <div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
            <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">
            <span class="gem-c-organisation-logo__name">Department<br>for Environment<br>Food &amp; Rural Affairs</span></a>
          </div>
        </li>
    </ul>
</div>

<header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
  <div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
    <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
    <h1 class="gem-c-title__text">
      How to buy elephant ivory
    </h1>
  </div>
  <p class="publication-header__last-changed">Updated 6 April 2021</p>
</header>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <!-- CONTENTS LIST -->
    <div class="govuk-!-margin-bottom-7" id="toc" class="toc"></div>
  </div>


  <div class="govuk-grid-column-three-quarters">

    <div class="gem-c-govspeak govuk-govspeak direction-ltr">
      <div class="govspeak">

<h2 class="govuk-!-margin-top-0" id="selling-an-ivory-item">Overview</h2>

        <p>If you are buying or hiring an ivory item from someone else, you must be certain that the item is exempt before you proceed.</p>

        <p>We can seize items that we later find out were traded illegally. We can also fine or prosecute anyone who buys or hires illegal ivory if we discover that they did not do everything possible to comply with the law.</p>


<h2 id="act-purpose">More information about dealing in ivory</h2>

        <ul>
          <li><a href="guidance-new">How to legally sell or hire out elephant ivory</a></li>
          <li>For technical information about the ivory ban exemption criteria, see <a href="https://consult.defra.gov.uk/communications/implementing-the-ivory-act/">Implementing the Ivory Act - consultation (PDF, 383KB)</a></li>
          <li><a href="guidance-rmi">Certifying ivory items of outstandingly high artistic, cultural or historical value</a></li>
        </ul>


      </div>

      </div>

    </div>


</div>



{% endblock %}
