{% set pageTitle = "Your documents" %}

{% extends "./layout.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
{{ pageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" autocomplete="off" novalidate>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Your documents</h1>

      <p class="govuk-body">You can add up to 6 documents.</p>

        <dl class="govuk-summary-list ">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Document 1
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['file-upload-1'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Remove<span class="govuk-visually-hidden"> document 1</span>
              </a>
            </dd>
          </div>
        </dl>

        <p class="govuk-body govuk-!-margin-bottom-7">
          <a href="add-document">Add another document</a>
        </p>

      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
