{% extends "layout.html" %}

{% block pageTitle %}
Item detail - Ivory register
{% endblock %}



{% set serviceName %}
Ivory register
{% endset%}


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag ">alpha</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it</span>
  </p>
</div>

<a href="index" class="govuk-back-link">Back</a>
{% endblock %}





{% block content %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">

      <h1 class="govuk-heading-l">Item details</h1>

      <img class="govuk-!-margin-bottom-5" src="https://farm8.staticflickr.com/7353/27096944865_ee6c27f42d_z.jpg" width="640" height="480" alt="Upright Bechstein">

      <table class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Registration&#160;number</th>
            <td class="govuk-table__cell">XKCD-RYTP-AWVB</td>
            <!-- <td class="govuk-table__cell">{{lookupArray[0].submission_id}}</td> -->
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Status</th>
            <td class="govuk-table__cell">Registered</td>
            <!-- <td class="govuk-table__cell">{{lookupArray[0].submission_id}}</td> -->
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Ivory type</th>
            <td class="govuk-table__cell">Musical instrument</td>
            <!-- <td class="govuk-table__cell">{{registerTypeChosen}}</td> -->
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Description</th>
            <td class="govuk-table__cell">Upright
            C. Bechstein. Berlin
            Height 146 cm. Depth 61cm. Width 137cm.
            Serial number:- 28937 Manufactured between the years 1891 and 1892</td>
            <!-- <td class="govuk-table__cell">{{lookupArray[0].description}}</td> -->
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Declaration</th>
            <td class="govuk-table__cell">The keys have ivory and are less than 20% of the piano, and it was made in 1891 and 1892, which is before 1975.</td>
            <!-- <td class="govuk-table__cell">{{lookupArray[0].description}}</td> -->
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Submitted</th>
            <td class="govuk-table__cell">Friday 4 January 2019</td>
            <!-- <td class="govuk-table__cell">{{lookupArray[0].submitted_datetime}}</td> -->
          </tr>

          <tr class="govuk-table__row apha-only">
            <th class="govuk-table__header" scope="row">Owner</th>
            <td class="govuk-table__cell">Jacky Turner</td>
          </tr>

          <tr class="govuk-table__row apha-only">
            <th class="govuk-table__header" scope="row">Owner's&#160;address</th>
            <td class="govuk-table__cell">57 Claremont Road, Bristol, BS7 8DW</td>
          </tr>

        </tbody>
      </table>





  </main>
</div>


{% endblock %}
