
{% set tocPage = true %}

{% extends "./layout.html" %}



{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">


{% endblock %}


{% block pageTitle %}
A guide to selling, hiring and buying items containing ivory
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>



  <div class="govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list" style="font-size: 16px">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>



{% endblock %}



{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text gem-c-title__text--long">
        Ivory Act 2018 guidance
      </h1>
    </div>

    <!-- <p class="gem-c-lead-paragraph ">
      What to do if you want to sell, hire or buy items that have elephant ivory in them.
    </p> -->

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata" lang="en">
        <div class="app-c-published-dates " lang="en">
          Published 2 December 2019
        </div>

        <div class="app-c-publisher-metadata__other">
          <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
              <span class="app-c-publisher-metadata__definition-sentence">
                <a href="/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a>
              </span>
            </dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <div id="toc" class="toc"></div>


    <div class="gem-c-govspeak govuk-govspeak direction-ltr">


      <div class="govspeak">

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true" style="margin-top: -20px; min-width: 32px">!</span>
          <strong class="govuk-warning-text__text" style="font-size: 19px; padding-left: 53px">
            <span class="govuk-warning-text__assistive">Warning</span>
            Under the <a href="https://www.legislation.gov.uk/ukpga/2018/30/contents/enacted">Ivory Act 2018</a>, you can be fined up to £250,000 and/or sent to prison if you buy, sell or hire an ivory item that does not have a valid registration or certificate.
          </strong>
        </div>


        <p>You’re responsible for knowing if your item contains elephant ivory and giving accurate information.</p>

        <h2 id="selling-an-ivory-item">Selling an ivory item</h2>

        <p>You must <a href="start-new">register or apply for a certificate</a> to:</p>

        <ul>
          <li>sell or hire an ivory item</li>
          <li>offer to sell or hire an ivory item</li>
          <li>exchange an ivory item for another good or service</li>
          <li>keep an ivory item for sale or hire</li>
          <li>export or import an ivory item you plan to sell or hire</li>
        </ul>

        <p>You do not need to register or apply for a certificate if you:</p>

        <ul>
          <li>
            <p>own an ivory item you do not plan to sell or hire</p>
          </li>
          <li>give or donate an ivory item</li>
          <li>inherit an ivory item</li>
        </ul>

        <p>If you’re not sure your item has ivory in it, you may ask a professional to assess it for you.</p>

        <h2 id="the-difference-between-registrations-and-certificates">The difference between registrations and certificates</h2>

        <h3 id="registrations">Registrations</h3>

        <p>You can register an ivory item if its in any of these categories:</p>

        <ul>
          <li>a musical instrument made before 1975 with less than 20% ivory</li>
          <li>an item made before 1947 with less than 10% ivory</li>
          <li>a portrait miniature made before 1918</li>
          <li>an item you’ll sell or hire to a qualifying museum</li>
        </ul>

        <p>If you’re buying an ivory item a seller has registered, that registration is only valid for the sale to you. If you want to sell the item, you must register it again and pay the fee.</p>

        <h3 id="certificates">Certificates</h3>

        <p>You can apply for a certificate if an ivory item meets all these conditions:</p>

        <ul>
          <li>it was made before 1918</li>
          <li>it has an outstanding artistic, cultural or historical value</li>
        </ul>

        <p>A certificate has no expiry date even when the item changes hands, for example when it is sold. If you sell an item with a certificate, you must transfer the certificate to the new owner.</p>

        <h2 id="musical-instruments">Musical instruments</h2>

        <p>To register, you’ll need to declare and prove that all of the following is true:</p>

        <ul>
          <li>it’s a musical instrument or an accessory used to play a musical instrument, such as a bow</li>
          <li>it was made before 1 January1975</li>
          <li>it has less than 20% ivory</li>
        </ul>

        <h3 id="ivory-added-after-1-january-1975">Ivory added after 1 January 1975</h3>

        <p>If any ivory has been added to the item since 1 January 1975, this ivory must have been:</p>

        <ul>
          <li>added for restoration only</li>
          <li>taken from its elephant source before 1 January 1975</li>
        </ul>

        <p>To prove this, you can use:</p>

        <ul>
          <li>a written statement from a previous owner</li>
          <li>a written record of repair that shows the date of that repair</li>
          <li>carbon dating evidence</li>
        </ul>

        <p>You cannot register an item under this category if:</p>

        <ul>
          <li>it’s in the shape of a musical instrument but not designed to be played</li>
          <li>it could be used to create music or rhythm but was not intended to be used in that way</li>
          <li>it’s an individual piano key or a set of keys</li>
        </ul>

        <p>You do not need to register an instrument to:</p>

        <ul>
          <li>play it to an audience, even if you’ll be paid</li>
          <li>teach lessons</li>
          <li>transport it abroad for personal use, professional performance or repair</li>
        </ul>

        <h3 id="how-to-prove-it-was-made-before-1975">How to prove it was made before 1975</h3>

        <p>You’ll need to explain why you believe the item was made before 1 January 1975.</p>

        <p>You can use:</p>

        <ul>
          <li>an original receipt or bill</li>
          <li>a date mark on the item</li>
          <li>written verification from an expert, such as an antiques specialist or museum curator</li>
          <li>knowledge that it’s been in the family since 1974 or before</li>
          <li>an article published before 1 January 1975 with photos or detailed description of the item</li>
        </ul>

        <h2 id="how-to-measure-ivory-volume">How to measure ivory volume</h2>

        <p>Calculate the amount of ivory as a percentage of the total volume of the material the item is made of.</p>

        <p>You can calculate the ivory volume by:</p>

        <ul>
          <li>eye estimate, if it’s easy to tell</li>
          <li>measuring and using maths formulas</li>
        </ul>

        <p>Any bag, for example in a set of bagpipes, should be deflated when making the assessment.</p>

        <p>It may not always be possible to calculate the exact percentage volume of ivory, for example if the item is of irregular shape or where the depth of inlay is difficult to determine.</p>

        <p>However, you’re responsible for correctly assessing the volume of ivory.</p>

        <h3 id="what-should-not-be-included">What should not be included</h3>

        <p>Don’t include empty spaces within an item in your measurement, for instance the space within a violin or piano.</p>

        <p>If it is difficult to know whether an item has empty spaces, you don’t need to damage it to find out. In that case you can assess based on your knowledge of similar items.</p>

        <h3 id="instrument-accessories">Instrument accessories</h3>

        <p>Accessories used to play a musical instrument (e.g. a violin bow) should be assessed separately from the rest of the instrument.</p>

        <h3 id="musical-instruments-likely-to-have-less-than-20-ivory">Musical instruments likely to have less than 20% ivory</h3>

        <ul>
          <li>A piano with ivory keys</li>
          <li>A violin bow with ivory at the end of the bow (known as a frog)</li>
        </ul>

        <h3 id="musical-instruments-likely-to-have-more-than-20-ivory">Musical instruments likely to have more than 20% ivory</h3>

        <ul>
          <li>A piano with ivory elsewhere other than the keys</li>
          <li>A violin bow with ivory elsewhere other than the frog</li>
          <li>A solid ivory guitar pick</li>
        </ul>

        <h2 id="items-made-before-1947-with-less-than-10-ivory">Items made before 1947 with less than 10% ivory</h2>

        <!-- <p>###</p> -->

        <p>To register, you’ll need to declare and prove that all of the following is true:</p>

        <ul>
          <li>the item was made before 3 March 1947</li>
          <li>the item has less than 10% ivory</li>
          <li>the ivory in the item is integral to the item</li>
        </ul>

        <p>Ivory must be integral</p>

        <p>This means that:</p>

        <ul>
          <li>you cannot remove the ivory easily or without risk of damage</li>
          <li>the ivory is essential to the design or function of the item</li>
        </ul>

        <p>Examples include:</p>

        <ul>
          <li>a detachable ivory knob from a measuring instrument.</li>
          <li>anoriginal ivory inlay on a piece of furniture</li>
        </ul>

        <p>An ivory statue which has been temporarily mounted on a plinth would not qualify.</p>

        <p>Ivory added after 2 March 1947</p>

        <p>If any ivory has been added to the item after 2 March 1947, it must have been:</p>

        <ul>
          <li>for restoration only</li>
          <li>taken from its elephant source before 1 January 1975</li>
        </ul>

        <h3 id="how-to-prove-it-was-made-before-1947">How to prove it was made before 1947</h3>

        <p>You can use:</p>

        <ul>
          <li>a date mark on the item</li>
          <li>an original receipt or bill</li>
          <li>an article published before 3 March 1947 with photos or detailed description of the item</li>
          <li>a written verification from an expert, such as an antiques specialist or a museum curator</li>
          <li>a written statement from previous owners, for example if the item is a family heirloom</li>
          <li>knowledge that it’s been in your family since 1946 or before</li>
          <li>evidence from a carbon dating test</li>
        </ul>

        <p>You must prove that you applied reasonable precaution and exercised due diligence when making your assessments.</p>


        <h2 id="how-to-measure-ivory-volume-1">How to measure ivory volume</h2>

        <p>You can calculate the ivory volume by:</p>

        <ul>
          <li>eye estimate, if it’s easy to tell</li>
          <li>measuring and using maths formulas</li>
        </ul>

        <p>Calculate the amount of ivory as a percentage of the total volume of the material the item is made of. For example, for a piece of furniture, this would be the ivory, wood and any other material from which the item is made.</p>

        <p>When working out volume, you can consider a set of objects used together as a single item - for example, an original tea set.</p>

        <p>Remember, you are responsible for correctly assessing the volume of ivory.</p>

        <h3 id="items-with-ivory-inlay">Items with ivory inlay</h3>

        <p>For some items with thin pieces of ivory on the surface, it may be difficult to calculate the depth of the ivory. You can measure the surface area of the ivory inlay in relation to the overall surface area of the item. However, even when a surface area measurement is over 10%, the ivory volume may still be below 10%. This is because the inlay is shallower than the object that is inlaid.</p>

        <h3 id="what-should-not-be-included-1">What should not be included</h3>

        <p>Don’t measure empty spaces within an item, for instance the space within a chest of drawers or a teapot.</p>

        <h3 id="avoiding-damage">Avoiding damage</h3>

        <p>You may not be able to work out the exact volume of ivory, for example in items with irregular shape. To avoid damage you should make an assessment based on knowledge of similar items.</p>

        <h3 id="examples-of-items-likely-to-have-less-than-10-ivory">Examples of items likely to have less than 10% ivory</h3>

        <ul>
          <li>furniture with ivory inlay</li>
          <!-- <li>xyz<sup><a href="" id="cmnt_ref2">[b]</a></sup></li> -->
        </ul>

        <h3 id="examples-of-items-likely-to-have-more-than-10-ivory">Examples of items likely to have more than 10% ivory</h3>

        <ul>
          <li>pieces of cutlery with ivory handle</li>
          <li>chess sets with ivory chess pieces</li>
        </ul>

        <h2 id="portrait-miniatures-made-before-1918">Portrait miniatures made before 1918</h2>

        <p>A portrait miniature is a portrait usually created in the 18th and 19th centuries, often painted on very thin pieces of ivory.</p>

        <p>It includes:</p>

        <ul>
          <li>portraits painted on ivory</li>
          <li>portraits in carved ivory relief</li>
        </ul>

        <p>To register a portrait miniature, all of the following must be true:</p>

        <ul>
          <li>it was made before 1 January 1918</li>
          <li>the surface area you can see is less than 320 square centimetres</li>
        </ul>

        <h2 id="how-to-measure-a-portrait-miniature">How to measure a portrait miniature</h2>

        <p>You can calculate the ivory volume by:</p>

        <ul>
          <li>eye estimate, if it’s easy to tell</li>
          <li>measuring and using maths formulas</li>
        </ul>

        <p>While calculating, the surface area you can see must be less than 320 square centimetres. This does not include the frame or areas covered by the frame.</p>

        <p>If a frame has ivory:</p>

        <ul>
          <li>it should not be included in the surface area measurement</li>
          <li>it must have been made before 1 January 1918</li>
        </ul>

        <p>320 square centimetres would be around 20 x 15 cm or 8 x 6 inches.</p>

        <p>If the area is calculated in square inches, you can convert it to square centimetres by multiplying by 6.45.</p>

        <h3 id="ivory-added-after-1-january-1975-1">Ivory added after 1 January 1975</h3>

        <p>If any ivory has been added to the item after 1 January 1975, this ivory must have been:</p>

        <ul>
          <li>added for restoration only</li>
          <li>taken from its elephant source before 1 January 1975</li>
        </ul>

        <h2 id="selling-or-hiring-to-qualifying-museums">Selling or hiring to qualifying museums</h2>

        <p>You can register to sell or hire an ivory item to a qualifying museum in the UK. The item does not need to meet any other exemption criteria.</p>

        <p>A qualifying museum is one that is accredited by or on behalf of:</p>

        <ul>
          <li>The Arts Council England</li>
          <li>The Welsh Government</li>
          <li>Scottish Ministers</li>
          <li>The Northern Ireland Museums Council</li>
          <li>International Council of Museums (IOCM) – for overseas museums</li>
        </ul>

        <p>These museums can buy, sell or hire items with ivory to other qualifying museums without registering or applying for a certificate. If a qualifying museum buys or sells an ivory item to an IOCM member, the export or import of ivory must meet EU wildlife trade regulations.</p>

        <p>All museums (qualifying or not) can continue to accept donations and gifts of ivory items.</p>

        <p>A registration document will clearly state that the item can only be sold or hired to a qualifying museum. If the item is sold or hired to any other buyer then you and the buyer will be committing an offence.</p>

        <h2 id="items-that-are-rare-and-most-important">Items that are rare and most important</h2>

        <p>To apply for a certificate for an ivory item, all of the following must be true:</p>

        <ul>
          <li>it was made before 1 January 1918</li>
          <li>it has an outstanding artistic, cultural or historical value</li>
        </ul>

        <p>You must declare that in your opinion the item meets both conditions. You must also explain your reasons by providing evidence.</p>

        <h3 id="ivory-added-after-1-january-1975-2">Ivory added after 1 January 1975</h3>

        <p>If any ivory has been added to the item after 1 January 1975, this ivory must have been:</p>

        <ul>
          <li>added for restoration only</li>
          <li>taken from its elephant source before 1 January 1975</li>
        </ul>

        <h3 id="how-we-will-assess-your-evidence">How we will assess your evidence</h3>

        <p>One of our selected assessors will check the item to confirm that:</p>

        <ul>
          <li>it is the rarest and/or most important of its type</li>
          <li>
            <p>it was made before 1 January 1918</p>
          </li>
          <li>no ivory was added to it on or after 1 January 1975, except to restore it</li>
          <li>the ivory was taken from its animal source before 1 January 1975</li>
        </ul>


        <h3 id="how-to-prove-it-was-made-before-1918">How to prove it was made before 1918</h3>

        <p>You can use:</p>

        <ul>
          <li>a date mark on the item</li>
          <li>an original receipt or bill</li>
          <li>an article published before 1 January 1918 with photos or detailed description of the item</li>
          <li>a written verification from an expert, such as an antiques specialist or a museum curator</li>
          <li>a written statement from previous owners, for example if the item is a family heirloom</li>
          <li>knowledge that it’s been in your family since 1918 or before</li>
          <li>evidence from a carbon dating test</li>
        </ul>

        <p>You must prove that you applied reasonable precaution and exercised due diligence when making your assessments.</p>

        <h3 id="items-of-outstandingly-high-artistic-cultural-or-historical-value">Items of outstandingly high artistic, cultural or historical value</h3>

        <p>This will only apply to a small number of items that are important to wider society, beyond any personal, sentimental or financial value.</p>

        <p>To judge whether an item has an outstandingly high artistic, cultural or historical value, we will consider:</p>

        <ul>
          <li>how rare the item is</li>
          <li>the extent to which the item is an important example of its type</li>
        </ul>

        <p>An item may be rare but not necessarily of any great importance. It may also be an important example of its type but not rare.</p>

        <h3 id="an-item-that-is-rare">An item that is rare</h3>

        <p>To assess how rare the item is, we will consider:</p>

        <ul>
          <li>an estimated number of similar items that exist, including how many are in the UK</li>
          <li>how unique the item is, including distinctive features or historical adaptations</li>
        </ul>

        <h3 id="an-item-that-is-an-important-example-of-its-type">An item that is an important example of its type</h3>

        <p>We will consider any evidence of:</p>

        <ul>
          <li>artistic or aesthetic quality, for example if it was made by a famous artist, school or studio</li>
          <li>notable craftsmanship</li>
          <li>condition of the item, for example if it’s much better than similar items</li>
          <li>significance as part of a collection, such as an artistic collection put together by a famous person</li>
          <li>close association with a specific individual or event, for example previous ownership by a historical figure</li>
          <li>significant historical context, including artistic, social, cultural, religious, scientific or technological development</li>
          <li>close association with a specific place or region</li>
          <li>items with recognised status, for example if it has been given a prestigious award or recognised as a national treasure</li>
        </ul>

        <h3 id="items-that-do-not-meet-the-criteria">Items that do not meet the criteria</h3>

        <p>Items that do not meet the criteria will not be granted a certificate.</p>

        <h2 id="how-to-register">How to register</h2>

        <p>The easiest way is <a href="start-new">online</a>. You can also register by post.</p>

        <p>Before starting the online process, you’ll need:</p>

        <ul>
          <li>a photo or photos of your item</li>
          <li>a debit or credit card</li>
        </ul>

        <p>When you have completed the registration and paid the fee, you will get:</p>

        <ul>
          <li>an email to say that you’ve completed your registration</li>
          <li>a payment reference number (this is not your registration number)</li>
          <li>your registration document within 48 hours of completing the registration</li>
        </ul>

        <p>If the new owner wants to sell the item, it must be registered again.</p>

        <h3 id="registering-for-someone-else">Registering for someone else</h3>

        <p>You can register or apply for a certificate on behalf of someone else - for example if you’re an auction house.</p>

        <h2 id="how-to-apply-for-a-certificate">How to apply for a certificate</h2>

        <p>The easiest way is <a href="start-new">online</a>. You can also register by post.</p>

        <p>Before starting the online process, you’ll need:</p>

        <ul>
          <li>a photo or photos of your item</li>
          <li>a debit or credit card</li>
        </ul>

        <p>When you have completed the application and paid the fee:</p>

        <ul>
          <li>the Animal and Plant Health Agency (APHA) will send the application to one of our selected assessors</li>
          <li>the assessor will use their expertise to assess the item, based on the information you’ve provided</li>
          <li>APHA will then act on the assessor’s advice to decide whether to grant a certificate</li>
          <li>if your application is successful, you will get an exemption certificate [insert details of how this will be provided i.e. by email or post?]</li>
          <li>if your application is refused, we will let you know why</li>
        </ul>

        <p>The process should take no more than [insert length of process] although in some cases this may be longer.</p>

        <p>If you disagree with a decision that has been made, you have the right to <a class="govuk-link" href="#" id="cmnt_ref3">appeal</a> that decision.</p>

        <p>A certificate given can be cancelled if the owner of an item gave inaccurate or incomplete information.</p>

        <p>If you can’t find your certificate, you can request a replacement but you must state the reason.</p>

        <!-- <h3 id="reporting-changes">Reporting changes</h3>

        <p>You must report any changes if:</p>

        <ul>
          <li>the item no longer meets the criteria for certificates</li>
          <li>your information has changed, for example name or address</li>
          <li>you did not provide relevant information about the item</li>
        </ul>

        <p>If you fail to report a change of circumstances, you may be issued with a fine or other penalty.</p>


        <h3 id="applying-for-a-certificate-again">Applying for a certificate again</h3>

        <p>If your application to get a certificate is refused or your certificate is revoked, you can make a fresh application. You can do this if you have further information or evidence, for example.</p>

        <p>You cannot make a fresh application if you have a live appeal against the decision to refuse or revoke that certificate.</p>

        <h3 id="how-to-appeal">How to appeal</h3>

        <p>You can appeal any decision to refuse or revoke a certificate if you believe the decision was:</p>

        <ul>
          <li>based on an error of fact</li>
          <li>wrong in law</li>
          <li>unreasonable</li>
        </ul>

        <p>You must appeal to the First-tier Tribunal within 28 days of receiving the decision to revoke or refuse a certificate.</p>

        <p>You must provide the documents and evidence you included in your application for the certificate. See The First-tier Tribunal rules for more information on what you must provide when making an appeal.<sup><a href="" id="cmnt_ref4">[d]</a></sup></p>

        <h2 id="buying-an-ivory-item">Buying an ivory item</h2>

        <p>! It is illegal to buy an ivory item that does not have a certificate or registration number.</p>

        <p>Before buying or offering to buy an ivory item, you’re legally responsible for checking that it has a registration number or certificate.</p>

        <p>To check an item you should:</p>

        <ul>
          <li>make sure the seller’s document matches the item</li>
          <li>put the item’s registration or certificate number into our online system to see if it’s genuine</li>
        </ul>

        <p>If you’re buying an item that has a certificate, you should collect the certificate from the seller after you’ve paid. You need this certificate (or a replacement) to sell the item in the future.</p>

        <p>If you’re buying an item a seller has registered, that registration is only valid for the sale to you. If you want to sell the item, you must register it again and pay the fee.</p>

        <h2 id="importing-and-exporting-an-ivory-item">Importing and exporting an ivory item</h2>

        <p>To import or export an ivory item for buying, selling or hiring, you must make sure:</p>

        <ul>
          <li>the item is registered or has a certificate</li>
          <li>the item meets existing requirements under the EU Wildlife Trade Regulations</li>
        </ul>

        <p>You can find out more about importing and exporting rules under CITES.</p>

        <h2 id="how-to-complain">How to complain</h2>

        <p>You can <a href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/complaints-procedure">complain</a>about:</p>

        <ul>
          <li>how your application has been handled</li>
          <li>a delay to your application</li>
          <li>an error in dealing with your application, for example a missed evidence</li>
        </ul>

        <p>Freedom of information</p>

        <p>Read about <a href="https://www.gov.uk/make-a-freedom-of-information-request/how-to-make-an-foi-request">making Freedom of Information (FOI) requests</a>.</p>

        <p>Make a request by contacting us:</p>

        <div class="address">
          <div class="adr org fn">
            <p>

              Customer Contact Unit<br/>
              Seacole Building<br/>
              2 Marsham Street<br/>
              London<br/>
              SW1P 4DF<br/>
              United Kingdom<br/>
              <br/>

              Email: defra.helpline@defra.gsi.gov.uk

            </p>
          </div>
        </div> -->


      </div>



      </div>




    </div>



    <!-- <div class="govuk-grid-column-one-third">



      <div class="gem-c-contextual-sidebar">


        <div class="gem-c-related-navigation">

          <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
            Related content
          </h2>




          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-1e7b0f2c" data-module="gem-toggle">


            <ul class="gem-c-related-navigation__link-list" data-module="track-click">

              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"
                href="apply-to-sell-or-hire-an-ivory-item">Apply to sell or hire an ivory item</a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"
                href="check-before-you-buy-an-ivory-item">Check before you buy an ivory item</a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/government/publications/endangered-species-application-for-import-and-export-permit" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Endangered species: apply for an import and export permit&quot;}" href="https://www.gov.uk/government/publications/endangered-species-application-for-import-and-export-permit">Endangered species: apply for an import and export permit</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/government/publications/endangered-species-application-for-commercial-use" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Endangered species: apply for a commercial use certificate&quot;}" href="https://www.gov.uk/government/publications/endangered-species-application-for-commercial-use">Endangered species: apply for a commercial use certificate</a></li>

            </ul>
          </nav>


    </div>


  </div>




</div> -->



</div>



{% endblock %}
