{% extends "layout.html" %}

{% block pageTitle %}
Tell us you want to trade ivory
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

      <h1 class="govuk-heading-xl">Tell us you want to trade ivory</h1>

      <h2 class="govuk-heading-m">Registering an exempt item</h2>

        <p>Use this service if you have one of the following items to trade:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a musical instrument made before 1975 with less than 20% ivory by volume</li>
          <li>an item made before 1947 with less than 10% ivory by volume</li>
          <li>a portrait miniature made before 1918 with a surface area smaller than 320 square centimetres</li>
          <li>an item that a qualifying museum intends to buy or hire</li>
        </ul>

        <p>This costs £xx.</p>

        <div class="govuk-inset-text">
          You’ll get your registration number as soon as we receive payment. We check registrations retrospectively to ensure they comply with the law.
        </div>

      <h2 class="govuk-heading-m">Applying to certify a rare and important item</h2>

        <p>You can also use the service if you intend to trade any ivory item made before 1918 that is rare and important. </p>
        <p>This costs £xxx and you’ll get an exemption certificate if an expert approves your application, usually within 30 days.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

        <p>You'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a photo that shows the whole item</li>
          <li>extra photos, if it’s not clear from the main photo how much ivory is in the item</li>
          <li>a debit or credit card to make payment</li>
        </ul>


        <input type="hidden" value="noHalt" name="haltTrigger" />
        <button class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </button>

      </form>

      <!-- <a href="know-items-exempt" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a> -->

    </div>

  </div>
{% endblock %}
