<h1 class="heading-large">Current licence details</h1>
<p><span class="heavy spacing">Licence number: </span> {{licenceNumber}}</p>
<p><span class="heavy spacing">Name: </span> {{nameOnLicence}}</p>
<p><span class="heavy spacing">Licence type: </span>{{oldLicenceType}} </p>
<p><span class="heavy spacing">Licence length: </span>{{oldLicenceLength}}</p>
{{#if isConcession}}
<p><span class="heavy spacing">Concession: </span>{{#if isJunior}} Junior {{/if}} {{#if isSenior}} Senior {{/if}} {{#if hasDisabledConcession}} Disabled {{/if}} concession</p>
{{else}}{{/if}}
<p><span class="heavy spacing">Valid from:</span> {{startDate}} {{startTime}}</p>
