
{% set tocPage = true %}

{% extends "./layout.html" %}

{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">


{% endblock %}


{% block pageTitle %}
Ivory Act 2018 guidance
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>



  <div class="govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list" style="font-size: 16px">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>



{% endblock %}



{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text gem-c-title__text--long">
        Understanding the ivory ban exemption criteria
      </h1>
    </div>

    <p class="gem-c-lead-paragraph ">
      How to work out if your ivory item is exempt from the ivory ban brought into force by the Ivory Act 2018.
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata govuk-!-margin-bottom-7" lang="en">
        <div class="app-c-published-dates " lang="en">
          Published 1 October 2021
        </div>

        <div class="app-c-publisher-metadata__other ">
          <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
              <span class="app-c-publisher-metadata__definition-sentence">
                <a href="/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a>
              </span>
            </dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<!-- CONTENTS LIST -->

    <div class="govuk-!-margin-bottom-7" id="toc" class="toc"></div>


    <div class="gem-c-govspeak govuk-govspeak direction-ltr">


      <div class="govspeak">

<h2 id="selling-an-ivory-item">Overview</h2>

        <p>The <a href="https://www.legislation.gov.uk/ukpga/2018/30/contents/enacted">Ivory Act 2018</a> makes it illegal to buy, sell or hire any items containing elephant ivory.</p>

        <p>There are special exemptions for some:</p>

        <ul>
          <li>musical instruments</li>
          <li>items with less than 10% ivory</li>
          <li>portrait miniatures</li>
          <li>items that a qualifying museum intends to buy or hire</li>
          <li>items of outstandingly high artistic, cultural or historical value</li>
        </ul>

        <p>This guide explains the exemption criteria for each category.</p>


<h2 id="know-your-items-category">How to tell if an item contains elephant ivory</h2>

        <p>It can be extremely difficult to tell the difference between:</p>

        <ul>
          <li>elephant ivory</li>
          <li>other types of ivory, such as walrus</li>
          <li>fake ivory, such as ivorine</li>
          <li>certain types of animal bone</li>
        </ul>

        <p>If you are not sure about the item you want to buy, sell or hire, you must consult an expert first, such as a registered antiques dealer who specialises in ivory.</p>



<h2 id="know-your-items-category">Items that contain replacement ivory</h2>

        <p>You cannot buy, sell or hire an exempt item if it’s been repaired with ivory taken from an elephant on or after 1 January 1975.</p>



<h2 id="know-your-items-category">Musical instruments</h2>

        <p>A musical instrument (or accessory used to play a musical instrument) is exempt from the ivory ban if it:</p>

        <ul>
          <li>was made before 1 January 1975</li>
          <li>has less than 20% ivory by volume</li>
        </ul>

        <p>You must <a href="know-items-exempt">tell us before you sell or hire one out</a>.</p>

        <p>You’ll need to treat accessories used to play a musical instrument, for example, a violin bow, as separate items when you tell us about them.</p>

    <h3   id="know-your-items-category">What is not a musical instrument</h3>

        <p>You cannot register an item as a musical instrument if it is:</p>

        <ul>
          <li>in the shape of a musical instrument but not designed to be played</li>
          <li>used to create music or rhythm but was not made originally for that purpose</li>
          <li>an individual piano key or a set of keys</li>
        </ul>

    <h3   id="know-your-items-category">When you don’t need to register a musical instrument</h3>

        <p>You do not need to register an instrument to:</p>

        <ul>
          <li>play it to an audience, even if you’ll be paid</li>
          <li>teach lessons</li>
          <li>take it abroad for personal use, professional performance or repair</li>
        </ul>

    <h3   id="know-your-items-category">How to measure the ivory volume of musical instruments</h3>

        <p>Make a reasonable assessment of the volume of ivory by either:</p>

        <ul>
          <li>estimating by eye, if it’s easy to tell</li>
          <li>calculating the amount of ivory as a percentage of the total volume of the material the item is made of</li>
        </ul>

        <p>Don’t include empty spaces within an item in your measurement, for instance the space within a violin or piano. Any bag, for example in a set of bagpipes, should be deflated when making the assessment.</p>

        <p>If it is difficult to know whether an item has empty spaces, you don’t need to damage it to find out; you can assess it based on knowledge of similar items.</p>



<h2 id="know-your-items-category">Items with less than 10% ivory</h2>

        <p>Items with less than 10% ivory by volume are exempt from the ivory ban if:</p>

        <ul>
          <li>they were made before 3 March 1947</li>
          <li>the ivory in the item is integral to the item</li>
        </ul>

        <p>You must <a href="know-items-exempt">tell us before you sell or hire one out</a>.</p>


    <h3   id="know-your-items-category">The ivory must be integral</h3>

        <p>This means that one of the following must be true:</p>

        <ul>
          <li>the ivory is essential to the design or function of the item</li>
          <li>you cannot remove the ivory easily or without risk of damage </li>
        </ul>

        <p>Examples of items where the ivory is integral include:</p>

        <ul>
          <li>a detachable ivory knob from a teapot or measuring instrument </li>
          <li>an original ivory inlay on a piece of furniture</li>
        </ul>

        <p>An ivory statue which has been temporarily mounted on a plinth would not qualify. </p>


    <h3   id="know-your-items-category">How to tell if an ivory item has less than 10% ivory</h3>


        <p>Make a reasonable assessment of the volume of ivory by either:</p>

        <ul>
          <li>estimating by eye, if it’s easy to tell</li>
          <li>calculating the amount of ivory as a percentage of the total volume of the material the item is made of</li>
        </ul>

        <p>Don’t include empty spaces within an item when calculating the total volume of the item. For example, the space within a chest of drawers or a teapot does not count towards its total volume.</p>

        <p>If it is difficult to know whether an item has empty spaces, you don’t need to damage it to find out; you can assess it based on knowledge of similar items.</p>

        <p>For some items with thin pieces of ivory on the surface (inlays), it may be difficult to calculate the depth of the ivory. The surface area of the ivory inlay may be over 10% of the total surface area of the item, but the ivory volume may still be below 10%. This is because the inlay is so thin.</p>


<h2 id="know-your-items-category">Portrait miniatures</h2>

        <p>A portrait miniature is a portrait usually created in the 18th or 19th century, often painted on very thin pieces of ivory.</p>

        <p>Portrait miniatures are exempt from the ivory ban if:</p>

        <ul>
          <li>they were made before 1 January 1918</li>
          <li>the surface area you can see is less than 320 square centimetres</li>
        </ul>

        <p>You must <a href="know-items-exempt">tell us before you sell or hire one out</a>.</p>


    <h3   id="know-your-items-category">How to measure a portrait miniature</h3>

        <p>The surface area you can see must be less than 320 square centimetres. This does not include the frame or areas covered by the frame.</p>



<h2 id="know-your-items-category">Items that a qualifying museum intends to buy or hire</h2>

        <p>Ivory items you intend to to sell or hire out to a qualifying museum are exempt from the ivory ban. The item does not need to meet any other exemption criteria.</p>

        <p>You must <a href="know-items-exempt">tell us before you sell or hire an item out to a qualifying museum</a>.</p>

        <p>A qualifying museum is one that is accredited in the UK by, or on behalf of:</p>

        <ul>
          <li>Arts Council England</li>
          <li>Museum Galleries Scotland </li>
          <li>Northern Ireland Museums Council</li>
          <li>The Museums, Archives and Libraries Division of the Welsh Government</li>
          <li>the International Council of Museums (ICOM)</li>
        </ul>

        <p>So long as the item is not raw (‘unworked’) ivory, a qualifying museum does not need to tell us if they buy, sell or hire ivory items to another qualifying museum. However, if they buy or sell an ivory item to an ICOM member, the export or import of ivory must comply with EU Wildlife Trade Regulations.</p>

        <p>All museums (qualifying or not) can continue to accept donations and gifts of ivory items, as long as they are not in return for any other goods or services.</p>



<h2 id="RMI">Items of outstandingly high artistic, cultural or historical value</h2>

        <p>An item of outstandingly high artistic, cultural or historical value is exempt from the ivory ban if:</p>

        <ul>
          <li>it was made before 1 January 1918</li>
          <li>it is a rare and socially significant example of its type</li>
        </ul>

        <p>Before you sell or hire out one of these items, you must <a href="know-items-exempt">apply for an exemption certificate.</a></p>


  <h3   id="how">How we assess the value of these items</h3>

        <p>Only a small minority of ivory items qualify as having outstandingly high artistic, cultural or historical value. These are important items to wider society, beyond any personal, sentimental or financial value.</p>

        <p>To judge whether an item has an outstandingly high artistic, cultural or historical value, our experts consider various things, such as whether an item:</p>

        <ul>
          <li>is unique or extremely rare</li>
          <li>is of high artistic or aesthetic quality, for example from a known artist, school or studio</li>
          <li>is in better condition than other items like it</li>
          <li>is part of a well-known collection</li>
          <li>has an important history</li>
          <li>is important to a specific place or region </li>
          <li>has previously been recognised for its value or status, for example being recognised as a national treasure</li>
        </ul>



<h2 id="act-purpose">More information about dealing in ivory</h2>

        <ul>
          <li><a href="guidance-new">How to legally sell or hire out elephant ivory</a></li>
          <li><a href="guidance-rmi">Certifying ivory items of outstandingly high artistic, cultural or historical value</a></li>
          <li><a href="guidance-buying">How to buy elephant ivory</a></li>

        </ul>


      </div>

      </div>

    </div>


</div>



{% endblock %}
