<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
          <p> We use this information to find your Blue Badge details, so that you can get a disabled concession. </p>
        <form method="post" autocomplete="off" novalidate>
            <fieldset data-required data-error="{{errorMessage}}">
                <div class="form-group">
                    <label for="blueBadge" class="form-label">Blue badge number</label>
                    <span class="form-hint">This will be on your badge.</span>
                    <input class="form-control" id="blueBadge" name="blueBadge" value="{{blueBadge}}" type="text">
                </div>
            </fieldset>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>
