<div class="grid-row">
  <div class="column-two-thirds reducemargin">
    {{> common/back}} 
    {{#isnt count 1}}
    <h1 class="heading-large">Your licences</h1>
    <!-- <h2 class="heading-medium">Total cost</h2> -->
    <table class="check-your-answers">
      <tbody>

        {{#each users}}
        <tr>
          <td scope="row" style="width:30%;">
            {{licenceLength}} - {{licenceType}}
          </td>
          <td>
            {{#if isJunior}} Junior {{else}} {{#if isSenior}} Senior {{else}} {{#if hasDisabledConcession}} Disabled
            {{else}} No {{/if}} {{/if}} {{/if}} concession
          </td>
          <td class="data" id="licence-type">
            £{{cost}}
          </td>
          <td>
            <a href="/buy/remove-user-one">Remove licence</a>
          </td>
        </tr>
        {{/each}} 

        <tr>
          <th scope="row" style="width:30%;">
            Total cost
          </th>
          <th class="data">
            {{#isnt totalCost 0}} £{{totalCost}} {{/isnt}} {{#is totalCost 0}} £{{totalCost}} {{/is}}
          </th>
          <th>

          </th>
          <th>

          </th>
        </tr>
    </table>
    </br>
    {{/isnt}} {{#isnt count 4}}
    <h1 class="heading-large">{{pageTitle}}</h1>
    <form method="post" autocomplete="off" novalidate>
      <div class="form-group {{#if errors}}error{{/if}}">
        <fieldset class="inline" data-required data-error="{{errorMessage}}">
          <div class="form-group">
            {{#each items}}
            <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}}data-target="{{name}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
            <div class="panel panel-border-narrow js-hidden" id="{{name}}_text">
              <p>{{selectedText}}</p>
            </div>
            {{/if}} {{/each}}
          </div>
        </fieldset>
      </div>
      <button type="submit" class="button">Continue</button>
    </form>
    {{/isnt}} {{#is count 4}}
    <p><a href="terms-conditions" class="button">Continue</a></p>
    <p>A maximum of 4 license can be bought in one transaction.</p>
    {{/is}}
  </div>
</div>