<div class="grid-row">
    <main role="main">
        <section class="column-two-thirds">
            <header class="page-header">
                <h1 class="heading-xlarge">
               Get a fishing licence
             </h1>
            </header>
            <div class="article-container group">
                <div class="content-block">
                    <div class="inner">
                        <aside>
                            <div class="inner">
                                <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
                                    <div class="grid-row">
                                        <div class="column-third">
                                            <ol class="list-number">
                                                <li class="active">
                                                    <a href="index.html">Overview</a>
                                                </li>
                                                <li>
                                                    <a href="licence-costs.html">Licence costs</a>
                                                </li>
                                                <li>
                                                    <a href="rules.html">Licence conditions</a>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="column-two-thirds">
                                            <ol class="list-number" start="4">
                                                <li>
                                                    <a href="important-changes.html">Important changes to fishing licences</a>
                                                </li>
                                                <li>
                                                    Get a fishing licence
                                                </li>
                                                <li>
                                                    <a href="replace.html">Replace a lost or stolen licence</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </aside>
                        <hr>

                        <h2 class="heading-medium">5. Get a fishing licence</h2>

                        <p>12 month licences can only be purchased from April 1st 2017.</p>



                        <p>Before you start, you'll need:</p>

                        <ul class="list-bullet">
                            <li>a debit or credit card</li>
                            <li>your Blue Badge or National Insurance number, if you have a disability</li>
                            <li>a pen and paper, if you'd like to write down your licence details</li>
                        </ul>
                        <br>
                        <a class="button button-start" href="/buy" role="button">Start now</a>
                        <p class="form-hint">to get a licence</p>

                        <h2 class="heading-medium">Other ways to get a licence:</h2>
                        <ul class="list list-bullet">
                          <li>Phone us: 0330 159 1981</li>
                            <li><a rel="external" href="http://www.postoffice.co.uk/branch-finder" title="Post Office branch finder">go to your nearest Post Office</a> to buy a licence in person</li>
                        </ul>

                                            <div class="contact">
                            <h3 class="heading-small">Environment Agency contact details</h3> Email <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br> Telephone: 0330 159 1981 - Monday to Friday, 9am to 5pm (<a href="https://www.gov.uk/call-charges">Find out about call charges</a>)
                            <br>Address: National Customer Contact Centre<br> Environment Agency<br> Bradmarsh Business Park<br> Bow Bridge Close<br> Rotherham
                            <br> S60 1BY
                        </div>


                        <nav class="pagination" role="navigation" aria-label="Pagination">
                            <ul class="group">
                                <li class="previous">
                                    <a title="Navigate to previous part" rel="prev" href="important-changes.html">
                                        <span class="pagination-label">Previous </span>
                                        <span class="pagination-part-title">Important changes to fishing licences</span>
                                    </a>
                                </li>
                                <li class="next">
                                    <a title="Navigate to next part" rel="next" href="replace.html">
                                        <span class="pagination-label">Next</span>
                                        <span class="pagination-part-title">Replace a lost or stolen licence</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="column-one-third">
            <div class="related-container">
                <aside class="related" id="related">
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Fishing and hunting</h2>
                        <nav role="navigation" aria-labelledby="parent-subsection">
                            <ul class="list list-bullet">
                                <li>
                                    <a href="http://www.gov.uk/freshwater-rod-fishing-rules">Freshwater rod fishing rules</a>
                                </li>
                                <li>
                                    <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">Local fishing byelaws</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>
            </div>
        </div>
    </main>
</div>
