<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">Confirm your payment</h1>
        <div class="check-details">

            <table class="payment-confirm">
                <tbody>

                    <tr>
                        <td>Card number:</td>
                        <td class="table-info">************6256</td>
                    </tr>
                    <tr>
                        <td>Expiry date:</td>
                        <td class="table-info">{{expiryMonth}} {{expiryYear}}</td>
                    </tr>
                    <tr>
                        <td>Name on card:</td>
                        <td class="table-info">{{nameOnCard}}</td>
                    </tr>
                    <tr>
                        <td>Billing address:</td>
                        <td class="table-info">{{billingPremises}}, {{billingStreet}}, {{billingTown}}, {{billingPostcode}}</td>
                    </tr>
                    <tr>
                        <td>Email address:</td>
                        <td class="table-info">{{user1.email}}</td>
                    </tr>
                    <tr>
                        <td>Amount to pay:</td>
                        <td class="table-info">£{{totalCost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <form class="form" method="POST" action="{{form_action}}">
            <div class="form-group">
                <input class="button" type="submit" value="Confirm payment">
            </div>
        </form>
        <div class="back">
            <a href="#">Cancel payment</a>
        </div>
    </div>
</div>
