<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <p> Choose how you’d like to receive your licence confirmation and expiry reminders.</p>
        {{#if isJunior}}
        <div class="panel panel-border-wide">
            <p>
                We don’t send junior licences in the post.
            </p>
        </div>
        {{else}} {{#if isFull}}
        <div class="panel panel-border-wide">
            <p>
                Your licence will arrive in the post within 10 working days. To go fishing before you receive it, you must be able to produce your licence confirmation.
            </p>
        </div>
        {{else}}
        <div class="panel panel-border-wide">
            <p>
                We don’t send 1-day or 8-day licences in the post.
            </p>
        </div>
        {{/if}} {{/if}}
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group">
                <fieldset>
                    <div class="form-group">
                        <legend class="visually-hidden">How do you want to be contacted?</legend>

                        <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
                    <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
                    Send me my licence number
                  </label>
                        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                            <label class="form-label" for="contact-email">Email address</label>
                            <!-- <input class="form-control" name="contact-email" type="text" id="contact-email"> -->
                            <input class="form-control" id="email" name="email" value="{{email}}" type="email"> <br>
                            <label class="form-label" for="contact-text-message">Mobile phone number</label>
                            <!-- <input class="form-control" name="contact-text-message" type="text" id="contact-text-message"> -->
                            <input class="form-control" id="mobile" name="mobile" value="{{mobile}}" type="text" maxlength="30">
                            </br>
                            <div class="form-group">
                                <input id="contact-checkbox" style="margin-top: 10px;" name="contact-by-text-phone" type="checkbox" value="true"> Would you like to receive fishing news and updates?
                            </div>
                            <br>
                            <a href="/buy/data-protection">View our data protection notice</a>
                        </div>


                        <label class="block-label selection-button-radio" data-target="write" for="example-contact-by-phone">
                  <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
                  I will write it down
                </label>
                        <div class="panel panel-border-narrow js-hidden" id="write">
                            <p>We will write to you when your licence is about to expire.</p>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- <div class="form-group">
                <input id="contact-checkbox" name="contact-by-text-phone" type="checkbox" value="true"> Would the licence holder like to receive fishing news and updates?
                </fieldset>
            </div> -->
            <button type="submit" class="button">Continue</button>
        </form>
        <br>
    </div>
</div>
