<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>

        <p>We send information on fishing and our newsletters from time to time.</p>
        <form>
            <div class="form-group">
                <fieldset>

                    <legend class="visually-hidden">How do you want to be contacted?</legend>

                    <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
        Yes
      </label>

                    <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                        <!-- <details class="progressive-disclosure-margin">
                            <summary class="non-blue">We'll send emails to <span class="bold">captured.email@from.last.page.com</span> <span class="summary-link">Change</span></summary>
                            <label class="form-label" for="contact-email">Email address</label>
                            <input class="form-control" name="contact-email" type="text" id="contact-email">
                        </details> -->
                    </div>





                    <label class="block-label selection-button-radio" data-target="contact-by-text" for="example-contact-by-text">
                    <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
                  No
                  </label>


                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
        <br>
        <a href="/buy/data-protection">View our data protection notice</a>
    </div>
</div>
