<div class="grid-row">
  <div class="column-two-thirds reducemargin">
    {{> common/back}}
    <h1 class="heading-large">{{pageTitle}}</h1>
    <p>We will send your licence confirmation and expiry reminders.</p>


    <div class="panel panel-border-wide">
        {{#if isJunior}}
      <p>
        We don’t send junior licences in the post.
      </p>
        {{else}} {{#if isFull}}
        <p>
          Your licence will arrive in the post within 10 working days. To go fishing before you receive it, you must be able to produce your licence confirmation.
        </p>
        {{else}}
        <p>
          We don’t send 1-day or 8-day licences in the post.
        </p>
        {{/if}} {{/if}}

    </div>




    <form method="post" autocomplete="off" novalidate>
      <div class="form-group">
        <fieldset>

          <legend class="visually-hidden">Can we send you your licence details?</legend>

          <label class="block-label selection-button-radio" data-target="contact-me" for="example-contact-me">
            <input id="example-contact-me" type="radio" name="radio-contact-group" value="Yes">
            Yes, email or text it to me
          </label>

          <div class="panel panel-border-narrow js-hidden" id="contact-me">

            <h2 class="heading-medium">How would you like to receive your licence confirmation</h2>
            <legend class="visually-hidden">How do you want to be contacted?</legend>



            <label class="block-label selection-button-checkbox" data-target="contact-by-email" for="example-contact-by-email">
        <input id="example-contact-by-email" type="checkbox" name="radio-contact-group-two" value="Yes">
        Email
      </label>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">Email address</label>
              <input class="form-control" name="email" type="text" id="email"> <br>
              <div class="form-group">
                <input id="contact-checkbox" style="margin-top: 10px;" name="contact-by-text-phone" type="checkbox" value="true"> Would you like to receive fishing news and updates?
              </div>
            </div>

            <label class="block-label selection-button-checkbox" data-target="contact-by-text" for="example-contact-by-text">
                    <input id="example-contact-by-text" type="checkbox" name="radio-contact-group-two" value="No">
                    Text message
                  </label>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <label class="form-label" for="contact-text-message">Mobile phone number</label>
              <input class="form-control" name="mobile" type="text" id="mobile">
            </div>


            <!-- <h2 class="heading-medium">Prefered message</h2>

            <label class="block-label selection-button-radio">
            <input id="example-contact-by-email" type="radio" name="radio-contact-prefered" value="Yes">

            <label class="block-label selection-button-radio">
        <input id="example-contact-by-email" type="radio" name="radio-contact-prefered" value="Yes"> -->


          </div>


          <label class="block-label selection-button-radio" data-target="contact-no" for="example-contact-no">
                  <input id="example-contact-no" type="radio" name="radio-contact-group" value="No">
                  No, I will write it down
                </label>
          <!-- <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
                      <p>By selecting none of the above options you will be required to write down your licence number</p>
                  </div> -->
      </div>
      <div class="form-group">
        </fieldset>
      </div>
      <button type="submit" class="button">Continue</button>
    </form>
    <br>
    <a href="/buy/data-protection">View our data protection notice</a>
  </div>
</div>
