<div class="grid-row">
  <div class="column-two-thirds reducemargin">
  {{> common/back}}{{> common/errors}}
    <h1 class="heading-large">{{pageTitle}}</h1>
  {{#if isJunior}}
    <div class="panel panel-border-wide">
      We don’t send junior licences in the post, but you must be able to produce your licence number when you go fishing.
    </div>
    <p>
      Choose how we send you your licence details (we'll show you your licence number once you’ve paid if you want to make a note of it):
    </p>
  {{else}} {{#if isFull}}
    <div class="panel panel-border-wide">
      Your licence will arrive in the post within 10 working days. In the meantime, you must be able to produce your licence number when you go fishing.
    </div>
    <p>
      Choose how we send you your licence details and expiry reminders (we'll show you your licence number once you’ve paid if you want to make a note of it):
    </p>
  {{else}}
    <div class="panel panel-border-wide">
      We don’t send 1-day or 8-day licences in the post, but you must be able to produce your licence number when you go fishing.
    </div>
    <p>
      Choose how we send you your licence details (we'll show you your licence number once you’ve paid if you want to make a note of it):
    </p>
  {{/if}} {{/if}}
    <form method="post" autocomplete="off" novalidate>
      <legend class="visually-hidden">Can we send you your licence details?</legend>
      <fieldset data-required data-error="{{errorMessage}}">
        <div class="form-group">
          <label class="form-label" for="contact-email">Email address</label>
          <input class="form-control" id="email" name="email" value="{{email}}" type="email">
        </div>
        <div class="form-group">
          <label class="form-label" for="contact-text-message">Text number</label>
          <input class="form-control" id="mobile" name="mobile" value="{{mobile}}" type="text" maxlength="30">
        </div>
      </fieldset>
      <p><a href="/buy/data-protection">View how we will use your information</a></p>
      <div class="form-group multiple-choice">
        <input id="checkbox-opt-in" name="contact-me" type="checkbox" value="true">
        <label for="checkbox-opt-in">I want to be kept up to date with the latest angling news and fisheries updates</label>
      </div>
      <button type="submit" class="button">Continue</button>
    </form>
  </div>
</div>