<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <p>
            The Environment Agency will use the information you have provided to deal with your licence application, to monitor compliance with the licence conditions, to provide you with further information about our fishing licence services and activities (including expiry or administration notices), and to provide you with our national and local fisheries information:</p>
            <ul class="list list-bullet">
                <li>byelaws, if necessary</li>
                <li>disease outbreak and control measures</li>
                <li>e-newsletters</li>
        </ul>
        <p>We may also use your information to help us:</p>

        <ul class="list list-bullet">
            <li>carry out statistical analysis, research and development on environmental issues</li>
            <li>contact you to assess customer satisfaction and improve our service</li>
            <li>investigate when people might be breaking the law and take any resulting action</li>
            <li>prevent people from breaking the law, and</li>
            <li>respond to requests for information under the Freedom of Information Act 2000 and the Environmental Information Regulations 2004, where the Data Protection Act 1998 allows</li>
        </ul>

        <p>We may pass your information on to our partners or suppliers to do these things on our behalf.</p>

        <a class="button" href="/buy/contact">Continue</a>
    </div>
</div>
