<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <!-- <h1 class="heading-large">{{pageTitle}}</h1> -->
        <h1 class="heading-large">What age group do you belong to?</h1>
        <!-- <div class="panel panel-border-wide"> -->
        <p>You qualify for a junior concession when you're between the ages of 12 and 16. You qualify for a senior concession if you're over the age of 65.</p>
        <!-- </div> -->
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        <div class="form-date">
                            <p class="form-hint">For example, {{exampleDate}}</p>
                            <div class="form-group form-group-day">
                                <label for="day">Day</label>
                                <input class="form-control" id="day" name="birthDay" value="{{birthDay}}" type="number" title="Date of birth day">
                            </div>
                            <div class="form-group form-group-month">
                                <label for="month">Month</label>
                                <input class="form-control" id="month" name="birthMonth" value="{{birthMonth}}" type="number" title="Date of birth month">
                            </div>
                            <div class="form-group form-group-year">
                                <label for="year">Year</label>
                                <input class="form-control" id="year" name="birthYear" value="{{birthYear}}" type="number" title="Date of birth year">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>


        <!-- <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form> -->



    </div>
</div>
