<main id="summary-page">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">You've successfully updated your details</h1>
                <!-- <p>
                    Your fishing licence number is<br>
                    <strong class="bold-medium" id="permissionNumber">345 612 895</strong>
                </p> -->
                <p><span class="bold-small">Name on licence:</span> <span id="licenceType">{{nameOnLicence}}</span></p>
                <p><span class="bold-small">Email address:</span> <span id="startDate">{{email}}</span></p>
                <p><span class="bold-small">Mobile number:</span> <span id="endDate">{{mobile}}</span></p>
                <p><span class="bold-small">Address:</span> <span id="endDate">{{address}}</span></p>
            </div>


            <h2 class="heading-medium">Your feedback</h2>
            <p><a href="#">Tell us what you think about updating your details</a> (takes 30 seconds)</p>

        </div>
    </div>
</main>

</div>
</main>
