<div class="grid-row">
    <main role="main">
        <section class="column-full">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Direct debit screens
              </h1>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>After journey screens</td>
                        <td>
                            <a href="would-you-like-to-set-up-a-direct-debit">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>View / amend DD</td>
                        <td>
                            <a href="/buy/licence-length-dd">View</a>
                        </td>
                    </tr>
                    
                    
                </tbody>
            </table>



    </main>
</div>
