<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}} {{> common/errors}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <ul class="list list-bullet">
            <li>The Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits</li>
            <li>If there are any changes to the amount, date or frequency of your Direct Debit, the Environment Agency will notify you 10 working days in advance of your account being debited or as otherwise agreed. If you request the Environment Agency to collect a payment, confirmation of the amount and date will be given to you at the time of the request</li>
            <li>If an error is made in the payment of your Direct Debit, by the Environment Agency or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society. If you receive a refund you are not entitled to, you must pay it back when the Environment Agency asks you to</li>
            <li>You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify the organisation</li>
        </ul>

        <form method="post" autocomplete="off" novalidate>
            <fieldset data-required data-error="{{errorMessage}}">
                <button type="submit" class="button">Continue</button> 
            </fieldset>
        </form>
    </div>
     <div class="column-third">
        <div class="payment-summary-small">
            <h2>Direct Debit</h2>
            <p class="payment-title">First payment date:</p>
            <p class="payment-info payment-amount">1st October 2017</p>
            <p class="payment-title">First payment amount:</p>
            <p class="payment-info payment-amount">£30.00</p>

        </div>
    </div>
</div>