<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <p>You qualify for a full 12-month licence because of your age. Licenses are free when you're between 12 and 16.</p>
        <div class="panel panel-border-wide">
            <h2 class="heading-medium">You must download your licence</h2>
            <p>If our bailiffs ask to see your licence, you must show them:</p>
            <ol class="list list-number">
                <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.

                    <li><span class="heavy">proof of your identity</span>, such as your driver's licence or passport</li>
            </ol>
        </div>
        <h2 class="heading-medium">Which licence would you like to download?</h2>
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      <span class="heading-small">{{text}}</span>
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Download</button>
        </form>
        <details class="progressive-disclosure-margin">
            <summary><span class="summary">Which fish are covered by the trout and coarse licence?</span></summary>
            <div class="panel panel-border-narrow">
                <p>A trout and coarse fish licences allows you to fish for fresh water fish such as Carp, Pike and Perch.</p>
            </div>
        </details>
    </div>
</div>
