<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">{{pageTitle}}</h1>

            <p> Thanks for sharing your comments on the "Get a fishing licence" service. It will help improve the service for everyone.</p>

            <form method="post" action="{{form_action}}">
                <fieldset>
                    <input class="button" type="submit" value="Send">
            </form>

        </div>
    </div>
</main>
