<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <form method="post" autocomplete="off" novalidate>
            <fieldset data-required data-error="{{errorMessage}}">
                <div class="form-group">
                    <label class="form-label" for="licence_number">
                      <span class="bold">  Rod licence number</span>
                      <span class="form-hint">A 9-digit number on the top left of your licence.<br/>For example: 123 456 789.</span>
                    </label>
                    <input class="form-control" id="licence_number" name="licence_number" value="{{licence_number}}" type="text">
                </div>
            </fieldset>
            <button type="submit" class="button">Continue</button>
        </form>
        <details class="progressive-disclosure-margin">
            <summary><span class="summary">I don't have my rod licence number</span></summary>
            <div class="panel panel-border-narrow">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat magnam inventore illo autem deserunt voluptatum iure at nostrum pariatur. Quod id accusamus ex velit cumque, est nobis vitae placeat et!</p>
            </div>
        </details>
    </div>
</div>
