<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <!-- <div class="panel panel-border-wide"> -->
        <p>
            If you can not find your licence number you can provide either your post office receipt number or your permission number.
        </p>
        <!-- </div> -->
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset>
                    <div class="form-group">
                        <label class="block-label selection-button-radio" data-target="contact-by-phone" for="example-contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
        Post office receipt number
      </label>
                        <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
                            <label class="form-label" for="contact-phone">Post office receipt number</label>
                            <span class="form-hint">Hint text.</span>
                            <input class="form-control" name="contact-phone" type="text" id="contact-phone">
                        </div>

                        <label class="block-label selection-button-radio" data-target="contact-by-text" for="example-contact-by-text">
        <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
        Permission number
      </label>
                        <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
                            <label class="form-label" for="contact-text-message">Permission number</label>
                            <span class="form-hint">Hint text.</span>
                            <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
        <!-- <details class="progressive-disclosure-margin">
            <summary><span class="summary">I don't know my rod licence number</span></summary>
            <div class="panel panel-border-narrow">
                <p>The licence number is a 9-digit number on the top left of your paper licence. It can also be found on your post office recipt.</p>
            </div>
        </details> -->
    </div>
</div>
