<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <!-- <div class="panel panel-border-wide"> -->
        <!-- <p>
            If you can not find your licence number you can provide either your post office receipt number or your permission number.
        </p> -->
        <!-- <img src="../../../../public/images/receipt-gds.png" alt="post office receipt diagram" class="licence-image"> -->
        <p class="visuallyhidden">post office receipt diagram</p>
        <form method="post" autocomplete="off" novalidate>
            <fieldset data-required data-error="{{errorMessage}}">
                <div class="form-group">
                    <label class="form-label" for="licence_number">
                        <span class="bold">Post office reference number</span>
                        <span class="form-hint">An 11-digit number that can be found on your post office receipt<br/>For example: 123456-7-8912.</span>
                      </label>
                    <input class="form-control" id="licence_number" name="licence_number" value="{{licence_number}}" type="text">
                </div>
            </fieldset>
            <button type="submit" class="button">Continue</button>
        </form>
        <details class="progressive-disclosure-margin">
            <summary><span class="summary">I don't have a post office reference number</span></summary>
            <div class="panel panel-border-narrow">
                <p>Call us on <a href="tel:+443448005386">0344 800 5386</a> and we will try to find your licence details.</p>
            </div>
        </details>
    </div>
</div>
