<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        <h1 class="heading-large">{{pageTitle}}</h1>
        <p>Revisions research docs and branch details</p>
        <!-- <h2 class="heading-medium">Ready for Dev</h2> -->
        <table>
            <thead>
                <tr>
                    <th colspan="3">Complete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 &amp; 8 day journey</td>
                    <td>23/11/2016</td>
                    <td><a href="#">View prototype</a></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table>
            <thead>
                <tr>
                    <th colspan="3">In development</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>365 day journey</td>
                    <td>05/12/2016</td>
                    <td><a href="#">View prototype</a></td>
                </tr>
            </tbody>
        </table>
        <br>
        <!--
        <table>
            <thead>
                <tr>
                    <th colspan="3">Prototypes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>365 Day Licence journey</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
                <tr>
                    <td>Notify</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
                <tr>
                    <td>Upgrades</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
            </tbody>
        </table>
        <br>

        <table>
            <thead>
                <tr>
                    <th colspan="3">Experimental</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12 to 16 journey</td>
                    <td>Add mesage to say its free - how do they get license number?</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
                <tr>
                    <td>How can we contact you</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
                <tr>
                    <td>Feedback from Thomas Adams school visit</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
