<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        <h1 class="heading-large">{{pageTitle}}</h1>
        <p>Revisions and branch details</p>
        <!-- <h2 class="heading-medium">Ready for Dev</h2> -->
        <table>
            <thead>
                <tr>
                    <th colspan="3">In development</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 and 8 day journey</td>
                    <td>23/11/2016</td>
                    <td><a href="#">View</a></td>
                </tr>
            </tbody>
        </table>
        <!-- <h2 class="heading-medium">Prototypes</h2> -->
        <table>
            <thead>
                <tr>
                    <th colspan="3">Prototypes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>365 Day Licence journey</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
                <tr>
                    <td>Notify</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
                <tr>
                    <td>Upgrades</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
            </tbody>
        </table>
        <!-- <h2 class="heading-medium">A/B tests</h2> -->
        <table>
            <thead>
                <tr>
                    <th colspan="3">A/B tests</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>How can we contact you</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
                <tr>
                    <td>Feedback from Thomas Adams school visit</td>
                    <td>Branch name</td>
                    <td><a href="#">Research doc</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
