<div class="grid-row">
    <main role="main">
        <section class="column-two-thirds">
            <header class="page-header">
                <h1 class="heading-xlarge">
              Get a fishing licence
            </h1>
            </header>
            <div class="article-container group">
                <div class="content-block">
                    <div class="inner">
                        <aside>
                            <div class="inner">
                                <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
                                    <div class="grid-row">
                                        <div class="column-third">
                                            <ol class="list-number">
                                                <li class="active">
                                                    Overview
                                                </li>
                                                <li>
                                                    <a href="licence-costs.html">Licence costs</a>
                                                </li>
                                                <li>
                                                    <a href="buy.html">Get a fishing licence</a>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="column-two-thirds">
                                            <ol class="list-number" start="4">
                                                <li>
                                                    <a href="rules.html">Licence conditions</a>
                                                </li>
                                                <li>
                                                    <a href="important-changes.html">Important changes to fishing licences</a>
                                                </li>
                                                <li>
                                                    <a href="replace.html">Replace a lost or stolen licence</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </aside>
                        <hr>
                        <h2 class="heading-medium">1. Overview</h2>
                        <p>
                            You need a rod fishing licence to fish for freshwater fish, including salmon, trout, smelt and eel. This licence allows you to fish with a rod and line in:
                        </p>
                        <ul class="list list-bullet">
                            <li>England (except the River Tweed)</li>
                            <li>Wales</li>
                            <li>Border Esk region of Scotland</li>
                        </ul>
                        <p>Depending on where you want to go fishing, you may also need to get local landowners’ permission.</p>
                        <p>
                            Children under 12 don’t need a licence. However, if you take an under-12 child fishing and you help to hold the rod, you must buy a licence for yourself.
                        </p>
                        <div class="notice">
                            <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
                            <strong class="bold-small">You can be fined up to £2,500 for fishing or intending to fish without a rod licence.</strong>
                        </div>
                        <h2 class="heading-medium">Types of licence</h2>
                        <p>There are 2 types of licence: </p>
                        <ul class="list-bullet">
                            <li><span class="bold-small">trout and coarse fish licences</span> that let you fish for coarse fish, non-migratory trout, char, eel and lamprey</li>
                            <li><span class="bold-small">salmon and sea trout licences</span> that let you fish for salmon and sea trout as well as all those fish covered by trout and coarse fish licences</li>
                        </ul>



                        <h2 class="heading-medium">Number of rods you can use with your licences</h2>
                        <p>There are two trout and coarse licences, the first allow you to fish with up to 2 rods. The second allows you to fish with 3 rods.</p>
                        <p>Salmon and sea trout licences allow you to fish with 1 rod, or up to 3 rods for trout and coarse fish.</p>
                        <p>If you're fishing for coarse fish and trout, 'spod' or 'marker' rods don't count towards these totals, as long as they don't have hooks attached.</p>

                        <nav class="pagination" role="navigation" aria-label="Pagination">
                            <ul class="group">
                                <li class="next">
                                    <a title="Navigate to next part" rel="next" href="licence-costs.html">
                                        <span class="pagination-label">Next</span> <span class="pagination-part-title">Licence costs</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="column-one-third">
            <div class="related-container">
                <aside class="related" id="related">
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Fishing and hunting</h2>
                        <nav role="navigation" aria-labelledby="parent-subsection">
                            <ul class="list list-bullet">
                                <li>
                                    <a href="http://www.gov.uk/freshwater-rod-fishing-rules">Freshwater rod fishing rules</a>
                                </li>
                                <li>
                                    <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">Local fishing byelaws</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>
            </div>
        </div>
    </main>
</div>
