<div class="grid-row">
    <main role="main">
        <section class="column-full">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Junior journey tests
              </h1>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Download from Done page - Show T's &amp; C's and change answers screen - Same as adult journy without posting</td>
                        <td><a href="/buy/name-junior">View</a></td>
                    </tr>
                    <tr>
                        <td>Download sooner - Add T's &amp; C's checkbox and link - Download a junior specific licence</td>
                        <td><a href="/buy/name-junior-quick">View</a></td>
                    </tr>
                    <tr>
                        <td>Trout and coarse junior licence</td>
                        <td>
                            <!-- <a href="#">View</a> -->
                        </td>
                    </tr>
                    <tr>
                        <td>Salmon and sea trout junior licence</td>
                        <td>
                            <!-- <a href="#">View</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
    </main>
</div>
</table>
</main>
</div>
