<div class="grid-row">
    <main role="main">
        <section class="column-full">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Fish sales prototype
              </h1>
            </header>
            <h2 class="heading-medium">Complete</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Feature</th>
                        <th colspan="1">Date</th>
                        <th colspan="1">Branch</th>
                        <th colspan="1">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">1 &amp; 8 Day Licence</td>
                        <td colspan="1">22/11/2016</td>
                        <td colspan="1">1-and-8-journey</td>
                        <td colspan="1"><a href="https://fish-sales-prototype-v1.herokuapp.com" target="_blank">View</a></td>
                    </tr>
                    <tr>
                        <td colspan="1">365 Day Licence</td>
                        <td colspan="1">20/12/2016</td>
                        <td colspan="1">365-journey-v2</td>
                        <td colspan="1"><a href="https://fish-sales-prototype-v2-1.herokuapp.com" target="_blank">View</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2 class="heading-medium">Test user details</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Rod licence number</th>
                        <th colspan="1">Scenario</th>
                        <th colspan="1">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">495969798</td>
                        <td colspan="1">Upgrade species</td>
                        <td colspan="1">John Smith</td>
                    </tr>
                    <tr>
                        <td colspan="1">697989192</td>
                        <td colspan="1">Upgrade length</td>
                        <td colspan="1">Bob Jones</td>
                    </tr>
                    <tr>
                        <td colspan="1">596979891</td>
                        <td colspan="1">Upgrade expired</td>
                        <td colspan="1">Mark Shaw</td>
                    </tr>
                </tbody>
            </table>
            <br>

            <h2 class="heading-medium">In progress</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Feature</th>
                        <th colspan="1">Description</th>
                        <th colspan="1">Branch</th>
                        <th colspan="1">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Junior licence </td>
                        <td>Download from done screen</td>
                        <td>365-journey-v2</td>
                        <td><a href="https://fish-sales-prototype-v2-1.herokuapp.com">View</a></td>
                    </tr>
                    <tr>
                        <td>Junior licence v2</td>
                        <td>Download sooner and create own licence</td>
                        <td>
                            <td>
                                <a href="/buy/name">View</a>
                            </td>
                    </tr>
                    <tr>
                        <td>Contact screen</td>
                        <td>Contact screen ideas</td>
                        <td>contact-ideas</td>
                        <td>
                            <a href="/contact-screen.html">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Upgrades</td>
                        <td>Upgrade from postcode and DOB</td>
                        <td>upgrades</td>
                        <td>
                            <a href="/start">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Start pages</td>
                        <td>Make start button more prominent</td>
                        <td></td>
                        <td>
                            <a href="#"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <br>
            <h2 class="heading-medium">Backlog</h2>
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th colspan="1">Description</th>
                        <th>Branch</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Notify</td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Renewals</td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#"></a>
                        </td>
                    </tr>
                </tbody>
            </table> -->


            <br>

            <h2 class="heading-medium">Old and/or not used</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Feature</th>
                        <th colspan="1">Description</th>
                        <th colspan="1">Branch</th>
                        <th colspan="1">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">365 Day Licence</td>
                        <td colspan="1">Origional (From Sophie)</td>
                        <td colspan="1">365-journey</td>
                        <td colspan="1"><a href="https://fish-sales-prototype-v2.herokuapp.com">View</a></td>
                    </tr>
                    <tr>
                        <td>365 Day Licence v3</td>
                        <td>Pre buy for April</td>
                        <td>365-journey-v3</td>
                        <td><a href="https://fish-sales-prototype-v2-2.herokuapp.com">View</a></td>
                    </tr>
                </tbody>
            </table>
    </main>
</div>
