<div class="grid-row">
    <main role="main">
        <section class="column-full">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Fish sales prototype
              </h1>
            </header>

            <h2 class="heading-medium">Complete</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Feature</th>
                        <!-- <th colspan="1">Description</th> -->
                        <th colspan="1">Branch</th>
                        <th colspan="1">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">1 &amp; 8 Day Licence</td>
                        <!-- <td colspan="1"></td> -->
                        <td colspan="1">1-and-8-journey</td>
                        <td colspan="1"><a href="https://fish-sales-prototype-v1.herokuapp.com">View</a></td>
                    </tr>
                    <tr>
                        <td colspan="1">365 Day Licence</td>
                        <!-- <td colspan="1"></td> -->
                        <td colspan="1"> 365-journey-v2</td>
                        <td colspan="1"><a href="https://fish-sales-prototype-v2-1.herokuapp.com">View</a></td>
                    </tr>
                </tbody>
            </table>
            <br>

            <h2 class="heading-medium">In progress</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Feature</th>
                        <th colspan="1">Description</th>
                        <th colspan="1">Branch</th>
                        <th colspan="1">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Junior licence </td>
                        <td>Download from done screen</td>
                        <td>365-journey-v2</td>
                        <td><a href="https://fish-sales-prototype-v2-1.herokuapp.com">View</a></td>
                    </tr>
                    <tr>
                        <td>Junior licence v2</td>
                        <td>Download sooner and crate won licence</td>
                        <td></td>
                        <td>
                            <!--<a href="https://fish-sales-prototype-v2-1.herokuapp.com">View</a>-->
                        </td>
                    </tr>
                    <tr>
                        <td>Contact screen</td>
                        <td>Contact screen ideas</td>
                        <td>contact-ideas</td>
                        <td>
                            <a href="#"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Upgrades</td>
                        <td>Upgrade from postcode and DOB</td>
                        <td>upgrades</td>
                        <td>
                            <!-- <a href="/upgrade">View</a> -->
                        </td>
                    </tr>
                    <tr>
                        <td>Start pages</td>
                        <td>Make start button more prominent</td>
                        <td></td>
                        <td>
                            <a href="#"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <br>
            <h2 class="heading-medium">Backlog</h2>
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th colspan="1">Description</th>
                        <th>Branch</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Notify</td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Renewals</td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#"></a>
                        </td>
                    </tr>
                </tbody>
            </table> -->


            <br>

            <h2 class="heading-medium">Old and/or not used</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Feature</th>
                        <th colspan="1">Description</th>
                        <th colspan="1">Branch</th>
                        <th colspan="1">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">365 Day Licence</td>
                        <td colspan="1">Origional</td>
                        <td colspan="1">365-journey</td>
                        <td colspan="1"><a href="https://fish-sales-prototype-v2.herokuapp.com">View</a></td>
                    </tr>
                    <tr>
                        <td>365 Day Licence v2</td>
                        <td>Move start date</td>
                        <td>365-journey-v2</td>
                        <td><a href="https://fish-sales-prototype-v2-1.herokuapp.com">View</a></td>

                    </tr>
                    <tr>
                        <td>365 Day Licence v3</td>
                        <td>Pre buy for April</td>
                        <td>365-journey-v3</td>
                        <td><a href="https://fish-sales-prototype-v2-2.herokuapp.com">View</a></td>
                    </tr>
                </tbody>
            </table>

            <br>
            <h2 class="heading-medium">Test user details</h2>
            <table>
                <thead>
                    <tr>
                        <th>Rod licence number</th>
                        <th>Scenario</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>495969798</td>
                        <td>Upgrade species</td>
                        <td>John Smith</td>
                    </tr>
                    <tr>
                        <td>697989192</td>
                        <td>Upgrade length</td>
                        <td>Bob Jones</td>
                    </tr>
                    <tr>
                        <td>596979891</td>
                        <td>Upgrade expired</td>
                        <td>Mark Shaw</td>
                    </tr>
                </tbody>
            </table>
    </main>
</div>
