<div class="grid-row">
    <main role="main">
        <section class="column-full">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Contact page tests
              </h1>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>One</td>

                        <td><a href="#">View</a></td>
                    </tr>
                    <tr>
                        <td>Two</td>
                        <td><a href="#">View</a></td>
                    </tr>
                </tbody>
            </table>
    </main>
</div>
