<div class="grid-row">
    <main role="main">
        <section class="column-two-thirds">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Get a fishing licence
              </h1>
            </header>
            <div class="article-container group">
                <div class="content-block">
                    <div class="inner">
                        <aside>
                            <div class="inner">
                                <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
                                    <div class="grid-row">
                                        <div class="column-third">
                                            <ol class="list-number">
                                                <li class="active">
                                                    <a href="index.html">Overview</a>
                                                </li>
                                                <li>
                                                    Licence costs
                                                </li>
                                                <li>
                                                    <a href="buy.html">Get a fishing licence</a>

                                                </li>
                                            </ol>
                                        </div>
                                        <div class="column-two-thirds">
                                            <ol class="list-number" start="4">
                                                <li>
                                                    <a href="rules.html">Licence conditions</a>
                                                </li>
                                                <li>
                                                    <a href="important-changes.html">Important changes to fishing licences</a>

                                                </li>
                                                <li>
                                                    <a href="replace.html">Replace a lost or stolen licence</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </aside>
                        <hr>
                        <h2 class="heading-medium">2. Licence costs</h2>
                        <p>These prices are all valid from 1 April 2017.</p>

                        <details class="progressive-disclosure-margin">
                            <summary><span class="summary">I want to buy a licence that starts before 1 April 2017</summary>
                      <div class="panel panel-border-narrow">
                      <h3 class="heading-small">Up until 1 April 2017, these prices still apply for 1-day and 8-day licences:</h3>
                      <ul class="list-bullet">
                        <li>a 1-day trout and coarse licence is £3.75</li>
                        <li>a 1-day salmon and sea trout licence is £8.00</li>
                        <li>an 8-day trout and coarse licence is £10.00</li>
                        <li>an 8-day salmon and sea trout is £23.00</li>
                      </ul>
                          <p>You can buy a 12-month licence before 1 April 2017, however it will only be valid after this date.</p>
                        </div></details>                        <h3 class="heading-medium">Trout and coarse licences</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th valign="top">Licence type</th>
                                    <th valign="top" class="numeric">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1-day</td>
                                    <td class="numeric">£6.00</td>
                                </tr>
                                <tr>
                                    <td>8-day</td>
                                    <td class="numeric">£12.00</td>
                                </tr>
                                <tr>
                                    <td>12-month 2-rod licence</td>
                                    <td class="numeric">£30.00</td>
                                </tr>
                                <tr>
                                    <td>12-month senior (over 65) and disabled concession</td>
                                    <td class="numeric">£20.00</td>
                                </tr>
                                <tr>
                                    <tr>
                                        <td>12-month 3-rod licence</td>
                                        <td class="numeric">£45.00</td>
                                    </tr>
                                    <tr>
                                        <td>12-month 3-rod senior (over 65) and disabled concession</td>
                                        <td class="numeric">£30.00</td>
                                    </tr>
                                    <td>12-month junior (12 to 16) </td>
                                    <td class="numeric">Free</td>
                                </tr>
                            </tbody>
                        </table>
                        </br>
                        <h3 class="heading-medium">Salmon and sea trout licences</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th valign="top">Licence type</th>
                                    <th valign="top" class="numeric">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1-day</td>
                                    <td class="numeric">£12.00</td>
                                </tr>
                                <tr>
                                    <td>8-day</td>
                                    <td class="numeric">£27.00</td>
                                </tr>
                                <tr>
                                    <td>12-month</td>
                                    <td class="numeric">£82.00</td>
                                </tr>
                                <tr>
                                    <td>12-month senior (over 65) and disabled concession</td>
                                    <td class="numeric">£54.00</td>
                                </tr>
                                <tr>
                                    <td>12-month junior (12 to 16) </td>
                                    <td class="numeric">Free</td>
                                </tr>
                            </tbody>
                        </table>
                        </br>
                        <details class="progressive-disclosure-margin">

                            <summary><span class="summary">How does my licence money get spent?</summary>
                  <div class="panel panel-border-narrow">
<h3 class="heading-small">We use your fishing licence money to:</h3>
                        <ul class="list-bullet">
                            <li>improve facilities for anglers and habitats for fish</li>
                            <li>protect fisheries from illegal activity</li>
                            <li>prevent the spread of fish diseases and invasive non-native species</li>
                            <li>rear and stock coarse fish to boost natural stocks</li>
                            <li>encourage more people to go fishing</li>
                        </ul>
                        <p>Read the <a href="https://www.gov.uk/government/publications/environment-agency-annual-fisheries-report">annual fisheries report</a> for more detail about how we spend this money.</p>
                    </div>
                    </details>

                    <h2 class="heading-medium">Concessions</h2>
                    <p>You can get a disabled concession if you’ve got a Blue Badge, get <a href="https://www.gov.uk/dla-disability-living-allowance-benefit/what-youll-get">Disability Living Allowance</a> or <a href="https://www.gov.uk/pip">Personal Independence Payment</a>                        (any rate).</p>
                    <p>You can get a senior concession if you're over the age of 65 on the date of purchase.</p>

                    <nav class="pagination" role="navigation" aria-label="Pagination">
                        <ul class="group">
                            <li class="previous">
                                <a title="Navigate to previous part" rel="prev" href="index.html">
                                    <span class="pagination-label">Previous </span>
                                <span class="pagination-part-title">Overview</span>
                                </a>
                                </li>
                                <li class="next">
                                    <a title="Navigate to next part" rel="next" href="buy.html">
                                        <span class="pagination-label">Next</span>
                                        <span class="pagination-part-title">Get a fishing licence</span>
                                    </a>
                                </li>
                                </ul>
                                </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="column-one-third">
            <div class="related-container">
                <aside class="related" id="related">
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Fishing and hunting</h2>
                        <nav role="navigation" aria-labelledby="parent-subsection">
                            <ul class="list list-bullet">
                                <li>
                                    <a href="http://www.gov.uk/freshwater-rod-fishing-rules">Freshwater rod fishing rules</a>
                                </li>
                                <li>
                                    <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">Local fishing byelaws</a>
                                </li>
                                <li>
                                  <a href="https://www.gov.uk/guidance/lock-and-weir-fishing-on-the-river-thames">Lock and weir fishing on the Thames</a>
</li>
                            </ul>
                        </nav>
                    </div>
                </aside>
            </div>
        </div>
    </main>
</div>
