<div class="grid-row">
    <main role="main">
        <section class="column-two-thirds">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Get a fishing licence
              </h1>
            </header>
            <div class="article-container group">
                <div class="content-block">
                    <div class="inner">
                        <aside>
                            <div class="inner">
                                <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
                                    <div class="grid-row">
                                        <div class="column-third">
                                            <ol class="list-number">
                                                <li class="active">
                                                    <a href="index.html">Overview</a>
                                                </li>
                                                <li>
                                                    Licence costs
                                                </li>
                                                <li>
                                                    <a href="buy.html">Get a fishing licence</a>

                                                </li>
                                            </ol>
                                        </div>
                                        <div class="column-two-thirds">
                                            <ol class="list-number" start="4">
                                                <li>
                                                    <a href="rules.html">Licence conditions</a>
                                                </li>
                                                <li>
                                                    <a href="important-changes.html">Important changes to fishing licences</a>

                                                </li>
                                                <li>
                                                    <a href="replace.html">Replace a lost or stolen licence</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </aside>
                        <hr>
                        <h2 class="heading-medium">2. Licence costs</h2>
                        <p>Prices are to 31 March 2017.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <th valign="top">Licence type</th>
                                    <th valign="top">Trout and coarse fish</th>
                                    <th valign="top">Salmon and sea trout <br>
                                        <span class="font-normal">(Includes trout and coarse fish)</span></th>
                                </tr>
                                <tr>
                                    <td>12-month licence</td>
                                    <td>£27.00</td>
                                    <td>£72.00</td>
                                </tr>
                                <tr>
                                    <td>8-day licence</td>
                                    <td>£10.00</td>
                                    <td>£23.00</td>
                                </tr>
                                <tr>
                                    <td>1-day licence</td>
                                    <td>£3.75</td>
                                    <td>£8.00</td>
                                </tr>
                                <tr>
                                    <td>Senior (over 65) concession</td>
                                    <td>£18.00</td>
                                    <td>£48.00</td>
                                </tr>
                                <tr>
                                    <td>Disabled concession</td>
                                    <td>£18.00</td>
                                    <td>£48.00</td>
                                </tr>
                                <tr>
                                    <td>Junior (12 to 16) concession</td>
                                    <td>£5.00</td>
                                    <td>£5.00</td>
                                </tr>
                                <tr>
                                    <td>Under 12</td>
                                    <td>No licence required</td>
                                    <td>No licence required</td>
                                </tr>
                            </tbody>
                        </table>
                        <details class="progressive-disclosure-margin">

                            <summary><span class="summary">How does my licence money get spent?</summary>
                  <div class="panel panel-border-narrow">
<h3 class="heading-small">We use your fishing licence money to:</h3>
                <ul class="list-bullet">
                <li>improve facilities for anglers and habitats for fish</li>
                <li>protect fisheries from illegal activity</li>
                <li>prevent the spread of fish diseases and invasive non-native species</li>
                <li>rear and stock coarse fish to boost natural stocks</li>
                <li>encourage more people to go fishing</li>
                </ul>
                <p>Read the <a href="https://www.gov.uk/government/publications/environment-agency-annual-fisheries-report">annual fisheries report</a> for more detail about how we spend this money.</p>
              </div>
                </details>

                  <h2 class="heading-medium">Concessions</h2>
                  <p>You can get a disabled concession if you’ve got a Blue Badge, get <a href="https://www.gov.uk/dla-disability-living-allowance-benefit/what-youll-get">Disability Living Allowance</a> or <a href="https://www.gov.uk/pip">Personal Independence Payment</a> (any rate).</p>


                  <nav class="pagination" role="navigation" aria-label="Pagination">
                    <ul class="group">
                    <li class="previous">
                      <a title="Navigate to previous part" rel="prev" href="index.html">
                        <span class="pagination-label">Previous </span>
                                <span class="pagination-part-title">Overview</span>
                                </a>
                                </li>
                                <li class="next">
                                    <a title="Navigate to next part" rel="next" href="rules.html">
                                        <span class="pagination-label">Next</span>
                                        <span class="pagination-part-title">Licence conditions</span>
                                    </a>
                                </li>
                                </ul>
                                </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="column-one-third">
            <div class="related-container">
                <aside class="related" id="related">
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Fishing and hunting</h2>
                        <nav role="navigation" aria-labelledby="parent-subsection">
                            <ul class="list list-bullet">
                                <li>
                                    <a href="http://www.gov.uk/freshwater-rod-fishing-rules">Freshwater rod fishing rules</a>
                                </li>
                                <li>
                                    <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">Local fishing byelaws</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>
            </div>
        </div>
    </main>
</div>
