<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}} {{> common/errors}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <div class="panel panel-border-wide">
            <p>
                12-month licences for children aged between 12 and 16 are free.
            </p>
        </div>
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
        <!--<details class="progressive-disclosure-margin" role="group">
            <summary role="button" aria="" controls="details-content-0" aria-expanded="true"><span class="summary">Which is right for me?</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                <h3 class="heading-small">12-month licences - from £30.00</h3>
                <p>12-month licences are valid for 365 days from their start date and can be purchased at any time during the year.</p>
                <h3 class="heading-small">8-day licences - from £12.00</h3>
                <p> 8-day licences are valid for 8 consecutive days.</p>
                <h3 class="heading-small">1-day licences - from £6.00</h3>
                <p>1-day licences are valid for a full 24 hours from the start time that you select.</p>
            </div>
        </details>-->
    </div>
</div>