<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">Licence details</h1>
        <!-- <p><span class="heavy spacing">Licence number: </span> {{licenceNumber}}</p>
        <p><span class="heavy spacing">Licence type: </span>{{licenceType}} {{licenceLength}}</p>
        <p><span class="heavy spacing">Name: </span> {{nameOnLicence}}</p>
        <p><span class="heavy spacing">Ends: </span> {{endDate}}</p> -->


        <article class="result standard-result">
          <header>
            <h2 class="heading-medium">Salmon and sea trout 8-day licence</h2>
          </header>
            <dl class="result-data-list">
              <dt><b>Valid from:</b></dt>
              <dd class="level">?????</dd>
              <dt><b>Expires</b></dt>
              <dd class="length">???? </dd>
            </dl>
        </article>

        <article class="result standard-result">
          <header>
            <h2 class="heading-medium">Salmon and sea trout 8-day licence</h2>
          </header>
            <dl class="result-data-list">
              <dt><b>Valid from:</b></dt>
              <dd class="level">?????</dd>
              <dt><b>Expires</b></dt>
              <dd class="length">???? </dd>
            </dl>
        </article>




              </br>
                <a href="name" title="Buy a new licence">Buy a new licence</a>

        <!-- <h2 class="heading-medium">{{pageTitle}}</h2> -->
        <!-- <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form> -->
    </div>
</div>
