<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>

        <form method="post" autocomplete="off" novalidate>
            <fieldset data-required data-error="{{errorMessage}}">
                <div class="form-group inline">
                    <legend class="visually-hidden">Have you had a licence before?</legend>
                    <label class="block-label selection-button-radio" data-target="licence-before" for="example-licence-before">
              <input id="example-licence-before" type="radio" name="licence_before" value="Yes">
                Yes
              </label>
                    <legend class="visually-hidden">Have you had a licence before?</legend>
                    <label class="block-label selection-button-radio" data-target="no-licence-before" for="example-no-licence-before">
              <input id="example-no-licence-before" type="radio" name="licence_before" value="No">
                No
              </label>
                </div>
            </fieldset>


            <div class="panel panel-border-narrow js-hidden" id="licence-before">
                <h2 class="heading-large">What would you like to do?</h2>
                <!-- <fieldset data-required data-error="{{errorMessageTwo}}"> -->
                <div class="form-group">
                    {{#each items1}}
                    <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                            <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                            {{text}}
                            {{#if subText}}
                              <br>{{subText}}
                            {{/if}}
                          </label> {{#if selectedText}}
                    <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                        <p>{{selectedText}}</p>
                    </div>
                    {{/if}} {{/each}}
                </div>
                <!-- </fieldset> -->
                <details class="progressive-disclosure-margin">
                    <summary><span class="summary">What can I upgrade?</span></summary>
                    <div class="panel panel-border-narrow">
                        <p>You can upgrade your 1-day or 8-day licence to the corresponding 12-month licence.</p>
                        <p>You can upgrade your 12-month trout and coarse licence to a 12-month salmon and sea trout licence.</p>
                    </div>
                </details>
            </div>



            <div class="panel panel-border-narrow js-hidden js-hidden" id="no-licence-before">
                <h2 class="heading-large">What would you like to do?</h2>
                <!-- <fieldset data-required data-error="{{errorMessageThree}}"> -->
                <div class="form-group">
                    {{#each items2}}
                    <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                            <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                            {{text}}
                            {{#if subText}}
                              <br>{{subText}}
                            {{/if}}
                          </label> {{#if selectedText}}
                    <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                        <p>{{selectedText}}</p>
                    </div>
                    {{/if}} {{/each}}
                </div>
                <!-- </fieldset> -->
                <details class="progressive-disclosure-margin">
                    <summary><span class="summary">What licences are avaiable?</span></summary>
                    <div class="panel panel-border-narrow">
                        <!-- <p>You can get a short term 1-day licence or an 8-day licence. 8-day licences are valid for 8 consecutive days</p> -->
                        <!-- <p>You can get a full 12-month licence. 12-month licences are now valid for 365 days from their start date and can be purchased at any time during the year.</p> -->
                        <p>1-day licence from £6.00</p>
                        <p>8-day licence from £12.00</p>
                        <p>12-month licence from £30.00</p>
                    </div>
                </details>
            </div>
            </br>
            <fieldset>
                <div class="form-group">
                    <button type="submit" class="button">Continue</button>
                </div>
            </fieldset>


        </form>










    </div>
</div>
