<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      <span class="heading-small">{{text}}</span>
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
        </br>
        <h2 class="heading-large">Helper text ideas to test</h2>
        <!-- <details class="progressive-disclosure-margin">
            <summary><span class="summary">Which fish are covered by the trout and coarse licence?</span></summary>
            <div class="panel panel-border-narrow">
                <p>A trout and coarse fish licence allows you to fish for freshwater fish such as Carp, Pike and Perch.</p>
            </div>
        </details>
        <details class="progressive-disclosure-margin">
            <summary><span class="summary">Which fishing licence do I need?</span></summary>
            <div class="panel panel-border-narrow">
                <p>A trout and coarse fish licence allows you to fish for freshwater fish such as Carp, Pike and Perch.</p>
                <p>A Salmon and sea trout licence allows you to fish for salmon and sea trout as well as all the freshwater fish included in the trout and coarse licence.</p>
            </div>
        </details> -->
        <details class="progressive-disclosure-margin">
            <summary><span class="summary">Which fishing licence do I need?</span></summary>
            <div class="panel panel-border-narrow">
                <p>A trout and coarse fish licence allows you to fish for all freshwater fish except Salmon and Sea Trout.</p>
                <p>A Salmon and sea trout licence allows you to fish for salmon and sea trout as well as all freshwater fish included in the trout and coarse licence.</p>
            </div>
        </details>
    </div>
</div>
