<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>



        <form method="post" autocomplete="off" novalidate>

            <div class="form-group {{#if errors}}error{{/if}}">
                <!-- {{#if errors}}
              <div class="alert alert-error">
                  <span class="error-message">{{errorMessage}}</span>
              </div>
              {{/if}} -->

                <fieldset data-required data-error="{{errorMessage}}">



                    <div class="form-group">
                        <div class="form-date">
                            <p class="form-hint">For example, 19 11 2016</p>
                            <div class="form-group form-group-day">
                                <label for="day">Day</label>
                                <input class="form-control" id="day" name="licence_start_day" value="{{day}}" type="number" title="Licence start date day">
                            </div>
                            <div class="form-group form-group-month">
                                <label for="month">Month</label>
                                <input class="form-control" id="month" name="licence_start_month" value="{{month}}" type="number" title="Licence start date month">
                            </div>
                            <div class="form-group form-group-year">
                                <label for="year">Year</label>
                                <input class="form-control" id="year" name="licence_start_year" value="{{year}}" type="number" title="Licence start date year">
                            </div>
                            <div class="form-group calendar-svg-container">

                                <a href="btn_date" id="bn_date"><svg class="svg"></svg>
                <p class="visuallyhidden">Calendar</p>

            <!--<object type="image/svg+xml" data="/public/images/calendar.svg" class="calendar-svg">
              <img src="/public/assets/images/calendar.png" alt="Select a date from calendar"/>
    <svg no support fallback ie < 9 android < 3 ...
  </object>-->
          </a>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <!--Date picker -->
                <div id="application" role="application">
                    <!--<p><a href="btn_date" id="bn_date">Select date from a calendar</a></p>-->
                    <div id="dp1" class="datepicker" aria-hidden="true">
                        <div id="month-wrap">
                            <div id="bn_prev" role="button" aria-labelledby="bn_prev-label" tabindex="0"><img class="bn_img" src="http://www.oaa-accessibility.org/media/examples/images/prev.png" alt="<<" /></div>
                            <div id="month" role="heading" aria-live="assertive" aria-atomic="true">February 2011</div>
                            <div id="bn_next" role="button" aria-labelledby="bn_next-label" tabindex="0"><img class="bn_img" src="http://www.oaa-accessibility.org/media/examples/images/next.png" alt=">>" /></div>
                        </div>
                        <table id="cal" role="grid" aria-activedescendant="errMsg" aria-labelledby="month" tabindex="0">
                            <thead>
                                <tr id="weekdays">
                                    <th id="Sunday"><abbr title="Sunday">Su</abbr></th>
                                    <th id="Monday"><abbr title="Monday">Mo</abbr></th>
                                    <th id="Tuesday"><abbr title="Tuesday">Tu</abbr></th>
                                    <th id="Wednesday"><abbr title="Wednesday">We</abbr></th>
                                    <th id="Thursday"><abbr title="Thursday">Th</abbr></th>
                                    <th id="Friday"><abbr title="Friday">Fr</abbr></th>
                                    <th id="Saturday"><abbr title="Saturday">Sa</abbr></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="errMsg" colspan="7">Javascript must be enabled</td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="bn_prev-label" class="offscreen">Go to previous month</div>
                        <div id="bn_next-label" class="offscreen">Go to next month</div>
                    </div>
                </div>
                <!--End Date picker -->

            </div>
            <button type="submit" class="button">Continue</button>
        </form>


    </div>
</div>
