<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <!-- <div class="panel panel-border-wide">
            <p>
                You qualify for an upgrade within 14 days of buying a licence.
            </p>
        </div> -->

        <!-- <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form> -->



        <form method="post" autocomplete="off" novalidate>
            <div class="form-group">
                <fieldset>

                    <legend class="visually-hidden">Have you had a licence before?</legend>

                    <label class="block-label selection-button-radio" data-target="licence-before" for="example-licence-before">
                    <input id="example-licence-before" type="radio" name="radio-contact-group" value="Yes">
                    Yes
                  </label>

                    <div class="panel panel-border-narrow js-hidden" id="licence-before">

                        <fieldset data-required data-error="{{errorMessage}}">
                            <div class="form-group">
                                {{#each items}}
                                <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                            <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                            {{text}}
                            {{#if subText}}
                              <br>{{subText}}
                            {{/if}}
                          </label> {{#if selectedText}}
                                <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                                    <p>{{selectedText}}</p>
                                </div>
                                {{/if}} {{/each}}
                            </div>
                        </fieldset>

                        <details class="progressive-disclosure-margin">
                            <summary><span class="summary">What can I upgrade?</span></summary>
                            <div class="panel panel-border-narrow">
                                <p>You can upgrade your 1-day or 8-day licence to the corresponding 12-month licence.</p>
                                <p>You can upgrade your 12-month trout and coarse licence to a 12-month salmon and sea trout licence.</p>
                            </div>
                        </details>

                    </div>


                    <legend class="visually-hidden">Have you had a licence before?</legend>

                    <label class="block-label selection-button-radio" data-target="no-licence-before" for="example-no-licence-before">
                    <input id="example-no-licence-before" type="radio" name="radio-contact-group" value="No">
                    No
                  </label>
                    <div class="panel panel-border-narrow js-hidden" id="no-licence-before">

                        <fieldset data-required data-error="{{errorMessage}}">
                            <div class="form-group">
                                {{#each items2}}
                                <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                        <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                        {{text}}
                        {{#if subText}}
                          <br>{{subText}}
                        {{/if}}
                      </label> {{#if selectedText}}
                                <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                                    <p>{{selectedText}}</p>
                                </div>
                                {{/if}} {{/each}}
                            </div>
                        </fieldset>

                        <details class="progressive-disclosure-margin">
                            <summary><span class="summary">What licences are avaiable?</span></summary>
                            <div class="panel panel-border-narrow">
                                <p>You can get a short term 1-day licence or an 8-day licence. 8-day licences are valid for 8 consecutive days</p>
                                <p>You can get a full 12-month licence. 12-month licences are now valid for 365 days from their start date and can be purchased at any time during the year.</p>
                            </div>
                        </details>

                    </div>
                </fieldset>
            </div>
            <!-- <div class="form-group">
                <input id="contact-checkbox" name="contact-by-text-phone" type="checkbox" value="true"> Would the licence holder like to receive fishing news and updates?
                </fieldset>
            </div> -->
            <button type="submit" class="button">Continue</button>
        </form>



        <!-- <details class="progressive-disclosure-margin">
            <summary><span class="summary">What can I upgrade?</span></summary>
            <div class="panel panel-border-narrow">
                <p>You can upgrade your 1-day or 8-day licence to the corresponding 12-month licence.</p>
                <p>You can upgrade your 12-month trout and coarse licence to a 12-month salmon and sea trout licence.</p>
            </div>
        </details> -->
    </div>
</div>
