<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}} {{startDate}} {{startMonth}} {{startYear}}</h1>
<!-- <p>1-day licences are valid for a full 24 hours from the start time that you select.</p> -->
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        <div class="grid-row">
                            <div class="column-half">
                                <div class="radio-list">
                                    {{#each items}}
                                    <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}}data-target="{{name}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}">
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                                    <div class="panel panel-border-narrow js-hidden" id="{{name}}_text">
                                        <p>{{selectedText}}</p>
                                    </div>
                                    {{/if}} {{/each}}
                                </div>
                            </div>
                            <div class="column-half">
                                <div class="radio-list">
                                    {{#each itemsTwo}}
                                    <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}}data-target="{{name}}_text" {{/if}}>
                              <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}">
                              {{text}}
                              {{#if subText}}
                              <br>{{subText}}
                              {{/if}}
                              </label> {{#if selectedText}}
                                    <div class="panel panel-border-narrow js-hidden" id="{{name}}_text">
                                        <p>{{selectedText}}</p>
                                    </div>
                                    {{/if}} {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>
