<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                        <p class="form-block">or</p>
                        {{#each items2}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>

        <details class="progressive-disclosure-margin">
            <summary><span class="summary">Which is right for me?</span></summary>
            <div class="panel panel-border-narrow">
                <p>You can upgrade your 1-day or 8-day licence to the corresponding 12-month licence.</p>
                <p>You can upgrade your 12-month trout and coarse licence to a 12-month salmon and sea trout licence.</p>
                <p>You can get a short term 1-day licence or an 8-day licence. 8-day licences are valid for 8 consecutive days</p>
                <p>You can get a full 12-month licence. 12-month licences are now valid for 365 days from their start date and can be purchased at any time during the year.</p>
                <p>1-day licence from £6.00</p>
                <p>8-day licence from £12.00</p>
                <p>12-month licence from £30.00</p>
            </div>
        </details>
    </div>
</div>
