<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      <span class="heading-small">{{text}}</span>
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
        </br>
        <details class="progressive-disclosure-margin">
            <summary><span class="summary">Which fishing licence do I need?</span></summary>
            <div class="panel panel-border-narrow">
                <p>A trout and coarse licence allows you to fish for all freshwater fish, but not for salmon or sea trout.</p>
                <p>A salmon and sea trout licence allows you to fish for salmon and sea trout as well as all freshwater fish included in the trout and coarse licence.</p>
            </div>
        </details>
    </div>
    <div class="column-third">
        <div class="payment-summary-small">
            <h2>Pricing help</h2>
            <!-- <p class="payment-info">Licence length {{#if licenceLength}} {{licenceLength}} {{else}} Not supplied {{/if}} </p> -->
            <!-- {{#if licenceLength}}
            <p class="payment-title">Licence length</p>
            <p class="payment-info">{{licenceLength}}</p>
            {{/if}} -->
            <!-- <h3>Amount to pay:</h3> -->
            <!-- {{#if concession}}
            <p class="payment-title">Concession</p>
            <p class="payment-info">
                {{#if isJunior}} Junior{{/if}} {{#if isSenior}} Senior {{/if}} {{#if hasBlueBadge}} disabled{{/if}} {{#if hasNINumber}} disabled {{/if}} concession</p>
            {{/if}} -->
            <!-- <p class="payment-amount"> </p> -->
            <p class="payment-title">Trout and coarse</p>
            <p class="payment-info payment-amount">{{coarseCost}}</p>
            <p class="payment-title">Salmon and sea trout</p>
            <p class="payment-info payment-amount">{{salmonCost}}</p>


        </div>
    </div>
</div>
