<div class="grid-row">
    <main role="main">
        <section class="column-full">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Multibuy page revisions
              </h1>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Multibuy done screen V1</td>
                        <td>
                            <a href="/buy/order-complete-two">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Multibuy done screen V2</td>
                        <td>
                            <a href="/buy/order-complete-three">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Multibuy check answeres screen</td>
                        <td>
                            <a href="/buy/summary-two">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Multibuy flow</td>
                        <td>
                            <form method="post" autocomplete="off" novalidate>
                                <button type="submit" class="button">Continue</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>



    </main>
</div>
