<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <p>It will take at least 48 hours for newly purchased licence numbers to appear online before a catch return can be submitted.</p>

        <!-- <div class="form-group licence-svg-container">
            <img src="../../../../public/images/licence-gds.png" alt="Licence number diagram" class="licence-image">
            <p class="visuallyhidden">Licence diagram</p>
        </div> -->
        <form method="post" autocomplete="off" novalidate>
            <fieldset data-required data-error="{{errorMessage}}">
                <div class="form-group">
                    <label class="form-label" for="licence_number">
                        <span class="bold">Enter the last 6 digits of your licence number</span>
                        <span class="form-hint">For example, B7A718</span>
                      </label>
                    <input class="form-control" id="licence_number" name="licence_number" value="{{licence_number}}" type="text">
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label for="postcode" class="form-label"><span class="bold">UK Postcode</span><span class="form-hint">For example, WA4 1AB</span></label>
                    <input class="form-control" id="postcode" name="postcode" type="text" value="" maxlength="10">
                </div>
            </fieldset>
            <button type="submit" class="button">Continue</button>
        </form>
        </br>
        <details class="progressive-disclosure-margin" role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">I don't know my licence number</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                <p>Call us on <a href="tel:+443708506506">03708 506 506</a> (open 8am to 6pm Monday to Friday) or <a href="mailto:enquiries@environment-agency.gov.uk">email us at enquiries@environment-agency.gov.uk</a> and we will try to find your licence
                    details.
                </p>
            </div>
        </details>
    </div>
</div>
