<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
          <p> We use your National Insurance number to find your benefit details, so that you can get a disabled concession.</p>
        <form method="post" autocomplete="off" novalidate>
            <fieldset data-required data-error="{{errorMessage}}">
                <div class="form-group">
                    <label for="NINumber" class="form-label">National Insurance number</label>
                    <span class="form-hint">You can find this on your payslip, P60 or tax return. </br>For example, ‘QQ 12 34 56 C’.
</span>
                    <input class="form-control" id="NINumber" name="NINumber" value="{{NINumber}}" type="text">
                </div>
            </fieldset>
            <button type="submit" class="button">Continue</button>
        </form>
        <!-- <details class="progressive-disclosure-margin">
            <summary><span class="summary">Why do you need my National Insurance number?</summary>
      <div class="panel panel-border-narrow">
<p>We use your National Insurance number to find your benefit details, so that you can get a disabled concession. </p>
</div></details> -->
    </div>
</div>
