<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <label class="form-label">
                      National Insurance number
                      <span class="form-hint">You can find this on your payslip, P60 or tax return.</span>
                    </label> <input class="form-control" id="ni-number" name="ni-number" value="{{ni-number}}" type="text">
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>
