<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}} {{> common/errors}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <p>You can choose how many rods to licence for freshwater fish.</p>
        <details class="progressive-disclosure-margin" role="group">
            <summary role="button" aria="" controls="details-content-0" aria-expanded="true"><span class="summary">How many rods can I use?</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                <p>Your licence allows you to fish with:</p>
                    <ul class="list-bullet">
                        <li>1 rod for non-migratory trout in rivers, streams, drains and canals</li>
                        <li>up to 2 rods for non-migratory trout in reservoirs, lakes and ponds</li>
                    </ul>
                    <p>You can choose whether your licence allows you to fish with:</p>
                    <ul class="list-bullet">
                        <li>up to 2 rods for freshwater fish</li>
                        <li>up to 3 rods for freshwater fish</li>
                    </ul>
                    <p>The place where you fish may have additional rules about how many rods you can use there.</p>
            </div>
        </details>

        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
    <div class="column-third">
        <div class="payment-summary-small">
            <h2>How much will this cost?</h2>
            {{#if hasDisabledConcession}}
            <p class="bold">
                {{#if isJunior}} Junior disabled concession {{else}} {{#if isSenior}} Senior disabled concession {{else}} Disabled concession
                {{/if}} {{/if}}
            </p>
            {{else}}
            <p class="bold">
                {{#if isJunior}} Junior concession {{else}} {{#if isSenior}} Senior concession {{/if}} {{/if}}
            </p>
            {{/if}}
            <p class="payment-title">Up to 2 rods for freshwater fish</p>
            <p class="payment-info payment-amount">{{Rod2Cost}}</p>
            <p class="payment-title">Up to 3 rods for freshwater fish</p>
            <p class="payment-info payment-amount">{{Rod3Cost}}</p>
        </div>
    </div>
</div>