<main id="summary-page">
    <div class="grid-row">
        <div class="column-two-thirds">

  {{#if user2}}<section class="more">{{/if}}
              {{#if user2}}
                <div class="js-tabs nav-tabs">
                    <ul>
                        {{#if user1}}<li class="active"><a href="#{{user1.firstName}}">{{user1.firstName}} {{user1.lastName}}</a></li>{{/if}}
                        {{#if user2}}<li><a href="#{{user2.firstName}}">{{user2.firstName}} {{user2.lastName}}</a></li>{{/if}}
                        {{#if user3}}<li><a href="#{{user3.firstName}}">{{user3.firstName}} {{user3.lastName}}</a></li>{{/if}}
                        {{#if user4}}<li><a href="#{{user4.firstName}}">{{user4.firstName}} {{user4.lastName}}</a></li>{{/if}}
                    </ul>
                </div>
                  {{/if}}

                {{#if user1}}
              {{#if user2}}  <div class="js-tab-content tab-content">{{/if}}
                    <div class="js-tab-pane tab-pane" id="{{user1.firstName}}">
                        <div class="govuk-box-highlight">
                            {{#if user1.isUpgrade}}
                            <h1 class="bold-large">You've successfully upgraded your licence</h1> {{else}} {{#if isJunior}}
                            <h1 class="bold-large">You've successfully ordered your licence</h1> {{else}}
                            <h1 class="bold-large">You've bought your licence</h1> {{/if}}{{/if}}
                            <p>
                              Your fishing licence number is:<br>
                              <strong class="bold-medium" id="permissionNumber">00010418-3WC3JDS-B7A718</strong><br>
                            </p>
                            <p class="print-hide"><i class="icon icon-file-download">
                            <span class="visually-hidden">Save licence (PDF)</span>
                            </i><a href="
                            /public/pdf/licence-details.pdf" download="/public/pdf/licence-details.pdf" title="Download licence confirmtion" class="govuk-box-highlight-link">Save licence (PDF)</a></p>
                            <p>This licence can only be used by {{user1.holderName}}</p>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <!-- <th>Name:</th> -->
                                    <th>Licence type:</th>
                                    <th>Licence length:</th>
                                    <th>Valid from:</th>
                                    <th>Expires:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <td>{{user1.holderName}}</td> -->
                                    {{#if user1.isSalmon}}
                                    <td>{{user1.licenceType}}</td>
                                    {{else}}
                                    <td>{{user1.numberOfRods}} {{user1.licenceType}}</td>
                                    {{/if}}
                                    <td>{{user1.licenceLength}}</td>
                                    <td>{{user1.startDate}} {{user1.startMonth}} {{user1.startYear}} {{user1.startTime}}</td>
                                    <td>{{user1.endDate}} {{user1.endMonth}} {{user1.endYear}} {{user1.endTime}}</td>
                                </tr>
                            </tbody>
                        </table>



                                    {{#if user1.isFull}} {{#if user1.isJunior}}
                                    <h2 class="heading-medium">We don’t send junior licences in the post</h2>
                                    <p>If our bailiffs ask to see your licence, you must show them proof of your licence. <a href="javascript:window.print();">Print out this page</a> or make a note of your licence number.
                                    </p>
                                    {{#if user1.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user1.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user1.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user1.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}



                                    {{else}}
                                    <h2 class="heading-medium">Want to go fishing before your licence arrives?</h2>
                                    <p>Your licence will arrive in the post within 10 working days. To go fishing before you receive it, you must take:</p>

                                    <ol class="list list-number">
                                        <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.
                                            <!-- {{#if noContact}} You can also have your licence number sent in an <a href="email-address">email</a> or <a href="phone-number">text message</a></li>
                                        {{/if}} -->
                                            <li><span class="heavy">proof of your identity</span>, such as your driver's licence or other photo ID</li>
                                    </ol>

                                    {{#if user1.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user1.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user1.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user1.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}

                                    {{/if}} {{else}}

                                    <h2 class="heading-medium">We don’t send 1-day or 8-day licences in the post</h2>
                                    <p>If our bailiffs ask to see your licence, you must show them:</p>
                                    <ol class="list list-number">
                                        <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.
                                            <!-- {{#if noContact}} You can also have your licence number sent in an <a href="email-address">email</a> or <a href="phone-number">text message</a></li>
                                        {{/if}} -->
                                            <li><span class="heavy">proof of your identity</span>, such as your driver's licence or other photo ID</li>
                                    </ol>
                                    {{#if user1.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user1.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user1.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user1.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}


                                    {{/if}}

                                    <!-- <p>You must check the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and byelaws before you go.</p> -->
                                    <h2 class="heading-medium">Check the byelaws before you go</h2>
                                    <p>You must follow the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">local fishing byelaws</a> whenever you go fishing. These include
                                        the rules on: </p>
                                    <ul class="list list-bullet">
                                        <li>where you can fish</li>
                                        <li>when you can fish</li>
                                        <li>which fish you’re allowed to keep</li>
                                    </ul>

                                    {{#if user1.isSalmon}}
                                    <h2 class="heading-medium">Remember to submit a catch return</h2>
                                    <p class="text">You must <a href="https://www.gov.uk/catch-return">report a catch return</a> to tell us how many salmon and sea trout you’ve caught.</p>
                                    {{/if}} {{#if isJunior}} {{else}}
                                    <h2 class="heading-medium">How your licence money gets spent</h2>
                                    <p class="text">We use your fishing licence money to:</p>
                                    <ul class="list list-bullet">
                                        <li>improve angling facilities and fish habitats</li>
                                        <li>protect fisheries from illegal activity</li>
                                        <li>prevent the spread of fish diseases and invasive, non-native species</li>
                                        <li>rear and stock coarse fish to boost natural stocks</li>
                                        <li>encourage more people to go fishing</li>
                                    </ul>
                                    <p class="text">Read the <a href="https://www.gov.uk/government/publications/environment-agency-annual-fisheries-report">annual fisheries report</a> for more detail about how we spend this money.</p>
                                    {{/if}}

                    </div>
                    {{/if}}

                  {{#if user2}}
                    <div class="js-tab-pane tab-pane" id="{{user2.firstName}}">
                        <div class="govuk-box-highlight">
                            {{#if user2.isUpgrade}}
                            <h1 class="bold-large">You've successfully upgraded your licence</h1> {{else}} {{#if isJunior}}
                            <h1 class="bold-large">You've successfully ordered your licence</h1> {{else}}
                            <h1 class="bold-large">You've bought your licence</h1> {{/if}}{{/if}}
                            <p>
                                Your fishing licence numbers are:<br>
                                <strong class="bold-medium" id="permissionNumber">00010418-3WC3JDS-B7A719</strong><br>
                            </p>
                            <p class="print-hide"><i class="icon icon-file-download">
                            <span class="visually-hidden">Save licence (PDF)</span>
                            </i><a href="
                            /public/pdf/licence-details.pdf" download="/public/pdf/licence-details.pdf" title="Download licence confirmtion" class="govuk-box-highlight-link">Save licence (PDF)</a></p>
                            <p>This licence can only be used by {{user2.holderName}}</p>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <!-- <th>Name:</th> -->
                                    <th>Licence type:</th>
                                    <th>Licence length:</th>
                                    <th>Valid from:</th>
                                    <th>Expires:</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <!-- <td>{{user2.holderName}}</td> -->
                                  {{#if user2.isSalmon}}
                                  <td>{{user2.licenceType}}</td>
                                  {{else}}
                                  <td>{{user2.numberOfRods}} {{user2.licenceType}}</td>
                                  {{/if}}
                                  <td>{{user2.licenceLength}}</td>
                                  <td>{{user2.startDate}} {{user2.startMonth}} {{user2.startYear}} {{user2.startTime}}</td>
                                <td>{{user2.endDate}} {{user2.endMonth}} {{user2.endYear}} {{user2.endTime}}</td>
                              </tr>
                            </tbody>
                        </table>



                                    {{#if user2.isFull}} {{#if user2isJunior}}
                                    <h2 class="heading-medium">We don’t send junior licences in the post</h2>
                                    <p>If our bailiffs ask to see your licence, you must show them proof of your licence. <a href="javascript:window.print();">Print out this page</a> or make a note of your licence number.
                                    </p>
                                    {{#if user2.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user2.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user2.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user2.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}



                                    {{else}}
                                    <h2 class="heading-medium">Want to go fishing before your licence arrives?</h2>
                                    <p>Your licence will arrive in the post within 10 working days. To go fishing before you receive it, you must take:</p>

                                    <ol class="list list-number">
                                        <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.
                                            <!-- {{#if noContact}} You can also have your licence number sent in an <a href="email-address">email</a> or <a href="phone-number">text message</a></li>
                                        {{/if}} -->
                                            <li><span class="heavy">proof of your identity</span>, such as your driver's licence or other photo ID</li>
                                    </ol>

                                    {{#if user2.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user2.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user2.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user2.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}

                                    {{/if}} {{else}}

                                    <h2 class="heading-medium">We don’t send 1-day or 8-day licences in the post</h2>
                                    <p>If our bailiffs ask to see your licence, you must show them:</p>
                                    <ol class="list list-number">
                                        <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.
                                            <!-- {{#if noContact}} You can also have your licence number sent in an <a href="email-address">email</a> or <a href="phone-number">text message</a></li>
                                        {{/if}} -->
                                            <li><span class="heavy">proof of your identity</span>, such as your driver's licence or other photo ID</li>
                                    </ol>
                                    {{#if user2.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user2.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user2.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user2.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}


                                    {{/if}}

                                    <!-- <p>You must check the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and byelaws before you go.</p> -->
                                    <h2 class="heading-medium">Check the byelaws before you go</h2>
                                    <p>You must follow the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">local fishing byelaws</a> whenever you go fishing. These include
                                        the rules on: </p>
                                    <ul class="list list-bullet">
                                        <li>where you can fish</li>
                                        <li>when you can fish</li>
                                        <li>which fish you’re allowed to keep</li>
                                    </ul>

                                    {{#if user2.isSalmon}}
                                    <h2 class="heading-medium">Remember to submit a catch return</h2>
                                    <p class="text">You must <a href="https://www.gov.uk/catch-return">report a catch return</a> to tell us how many salmon and sea trout you’ve caught.</p>
                                    {{/if}} {{#if isJunior}} {{else}}
                                    <h2 class="heading-medium">How your licence money gets spent</h2>
                                    <p class="text">We use your fishing licence money to:</p>
                                    <ul class="list list-bullet">
                                        <li>improve angling facilities and fish habitats</li>
                                        <li>protect fisheries from illegal activity</li>
                                        <li>prevent the spread of fish diseases and invasive, non-native species</li>
                                        <li>rear and stock coarse fish to boost natural stocks</li>
                                        <li>encourage more people to go fishing</li>
                                    </ul>
                                    <p class="text">Read the <a href="https://www.gov.uk/government/publications/environment-agency-annual-fisheries-report">annual fisheries report</a> for more detail about how we spend this money.</p>
                                    {{/if}}


                    </div>
                  {{/if}}

                  {{#if user3}}
                    <div class="js-tab-pane tab-pane" id="{{user3.firstName}}">

                        <div class="govuk-box-highlight">
                            {{#if user3.isUpgrade}}
                            <h1 class="bold-large">You've successfully upgraded your licence</h1> {{else}} {{#if isJunior}}
                            <h1 class="bold-large">You've successfully ordered your licence</h1> {{else}}
                            <h1 class="bold-large">You've bought your licence</h1> {{/if}}{{/if}}
                            <p>
                                Your fishing licence numbers are:<br>
                                <strong class="bold-medium" id="permissionNumber">00010418-3WC3JDS-B7A721</strong><br>
                            </p>
                            <p class="print-hide"><i class="icon icon-file-download">
                            <span class="visually-hidden">Save licence (PDF)</span>
                            </i><a href="
                            /public/pdf/licence-details.pdf" download="/public/pdf/licence-details.pdf" title="Download licence confirmtion" class="govuk-box-highlight-link">Save licence (PDF)</a></p>
                            <p>This licence can only be used by {{user3.holderName}}</p>
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <!-- <th>Name:</th> -->
                                    <th>Licence type:</th>
                                    <th>Licence length:</th>
                                    <th>Valid from:</th>
                                    <th>Expires:</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <!-- <td>{{user3.holderName}}</td> -->
                                  {{#if user3.isSalmon}}
                                  <td>{{user3.licenceType}}</td>
                                  {{else}}
                                  <td>{{user3.numberOfRods}} {{user3.licenceType}}</td>
                                  {{/if}}
                                  <td>{{user3.licenceLength}}</td>
                                 <td>{{user3.startDate}} {{user3.startMonth}} {{user3.startYear}} {{user3.startTime}}</td>
                                 <td>{{user3.endDate}} {{user3.endMonth}} {{user3.endYear}} {{user3.endTime}}</td>
                              </tr>
                            </tbody>
                        </table>




                                    {{#if user3.isFull}} {{#if user3.isJunior}}
                                    <h2 class="heading-medium">We don’t send junior licences in the post</h2>
                                    <p>If our bailiffs ask to see your licence, you must show them proof of your licence. <a href="javascript:window.print();">Print out this page</a> or make a note of your licence number.
                                    </p>
                                    {{#if user3.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user3.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user3.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user3.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}



                                    {{else}}
                                    <h2 class="heading-medium">Want to go fishing before your licence arrives?</h2>
                                    <p>Your licence will arrive in the post within 10 working days. To go fishing before you receive it, you must take:</p>

                                    <ol class="list list-number">
                                        <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.
                                            <!-- {{#if noContact}} You can also have your licence number sent in an <a href="email-address">email</a> or <a href="phone-number">text message</a></li>
                                        {{/if}} -->
                                            <li><span class="heavy">proof of your identity</span>, such as your driver's licence or other photo ID</li>
                                    </ol>

                                    {{#if user3.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user3.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user3.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user3.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}

                                    {{/if}} {{else}}

                                    <h2 class="heading-medium">We don’t send 1-day or 8-day licences in the post</h2>
                                    <p>If our bailiffs ask to see your licence, you must show them:</p>
                                    <ol class="list list-number">
                                        <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.
                                            <!-- {{#if noContact}} You can also have your licence number sent in an <a href="email-address">email</a> or <a href="phone-number">text message</a></li>
                                        {{/if}} -->
                                            <li><span class="heavy">proof of your identity</span>, such as your driver's licence or other photo ID</li>
                                    </ol>
                                    {{#if user3.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user3.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user3.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user3.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}


                                    {{/if}}

                                    <!-- <p>You must check the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and byelaws before you go.</p> -->
                                    <h2 class="heading-medium">Check the byelaws before you go</h2>
                                    <p>You must follow the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">local fishing byelaws</a> whenever you go fishing. These include
                                        the rules on: </p>
                                    <ul class="list list-bullet">
                                        <li>where you can fish</li>
                                        <li>when you can fish</li>
                                        <li>which fish you’re allowed to keep</li>
                                    </ul>

                                    {{#if user3.isSalmon}}
                                    <h2 class="heading-medium">Remember to submit a catch return</h2>
                                    <p class="text">You must <a href="https://www.gov.uk/catch-return">report a catch return</a> to tell us how many salmon and sea trout you’ve caught.</p>
                                    {{/if}} {{#if user3.isJunior}} {{else}}
                                    <h2 class="heading-medium">How your licence money gets spent</h2>
                                    <p class="text">We use your fishing licence money to:</p>
                                    <ul class="list list-bullet">
                                        <li>improve angling facilities and fish habitats</li>
                                        <li>protect fisheries from illegal activity</li>
                                        <li>prevent the spread of fish diseases and invasive, non-native species</li>
                                        <li>rear and stock coarse fish to boost natural stocks</li>
                                        <li>encourage more people to go fishing</li>
                                    </ul>
                                    <p class="text">Read the <a href="https://www.gov.uk/government/publications/environment-agency-annual-fisheries-report">annual fisheries report</a> for more detail about how we spend this money.</p>
                                    {{/if}}


                    </div>
                {{/if}}

                      {{#if user4}}
                    <div class="js-tab-pane tab-pane" id="{{user4.firstName}}">

                        <div class="govuk-box-highlight">
                            {{#if user4.isUpgrade}}
                            <h1 class="bold-large">You've successfully upgraded your licence</h1> {{else}} {{#if isJunior}}
                            <h1 class="bold-large">You've successfully ordered your licence</h1> {{else}}
                            <h1 class="bold-large">You've bought your licence</h1> {{/if}}{{/if}}
                            <p>
                                Your fishing licence numbers are:<br>
                                <strong class="bold-medium" id="permissionNumber">00010418-3WC3JDS-B7A722</strong><br>
                            </p>
                            <p class="print-hide"><i class="icon icon-file-download">
                            <span class="visually-hidden">Save licence (PDF)</span>
                            </i><a href="
                            /public/pdf/licence-details.pdf" download="/public/pdf/licence-details.pdf" title="Download licence confirmtion" class="govuk-box-highlight-link">Save licence (PDF)</a></p>
                            <p>This licence can only be used by {{user4.holderName}}</p>
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <!-- <th>Name:</th> -->
                                    <th>Licence type:</th>
                                    <th>Licence length:</th>
                                    <th>Valid from:</th>
                                    <th>Expires:</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <!-- <td>{{user4.holderName}}</td> -->
                                  {{#if user4.isSalmon}}
                                  <td>{{user4.licenceType}}</td>
                                  {{else}}
                                  <td>{{user4.numberOfRods}} {{user4.licenceType}}</td>
                                  {{/if}}
                                  <td>{{user4.licenceLength}}</td>
                                  <td>{{user4.startDate}} {{user4.startMonth}} {{user4.startYear}} {{user4.startTime}}</td>
                                  <td>{{user4.endDate}} {{user4.endMonth}} {{user4.endYear}} {{user4.endTime}}</td>
                              </tr>
                            </tbody>
                        </table>





                                    {{#if user4.isFull}} {{#if user4.isJunior}}
                                    <h2 class="heading-medium">We don’t send junior licences in the post</h2>
                                    <p>If our bailiffs ask to see your licence, you must show them proof of your licence. <a href="javascript:window.print();">Print out this page</a> or make a note of your licence number.
                                    </p>
                                    {{#if user4.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user4.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user4.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user4.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}



                                    {{else}}
                                    <h2 class="heading-medium">Want to go fishing before your licence arrives?</h2>
                                    <p>Your licence will arrive in the post within 10 working days. To go fishing before you receive it, you must take:</p>

                                    <ol class="list list-number">
                                        <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.
                                            <!-- {{#if noContact}} You can also have your licence number sent in an <a href="email-address">email</a> or <a href="phone-number">text message</a></li>
                                        {{/if}} -->
                                            <li><span class="heavy">proof of your identity</span>, such as your driver's licence or other photo ID</li>
                                    </ol>

                                    {{#if user4.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user4.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user4.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user4.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}

                                    {{/if}} {{else}}

                                    <h2 class="heading-medium">We don’t send 1-day or 8-day licences in the post</h2>
                                    <p>If our bailiffs ask to see your licence, you must show them:</p>
                                    <ol class="list list-number">
                                        <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.
                                            <!-- {{#if noContact}} You can also have your licence number sent in an <a href="email-address">email</a> or <a href="phone-number">text message</a></li>
                                        {{/if}} -->
                                            <li><span class="heavy">proof of your identity</span>, such as your driver's licence or other photo ID</li>
                                    </ol>
                                    {{#if user4.noContact}}
                                    <p>We can also send you your licence confirmation:</p>
                                    <ol class="list">
                                        <li><a href="email-address">Email me my licence confirmation</a></li>
                                        <li><a href="mobile-number">Text me my licence confirmation</a></li>
                                    </ol>
                                    {{else}}
                                    {{#if user4.hasBothContact}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user4.email}}
                                      <p>We will send your licence details to {{email}}.</p>
                                    {{else}}

                                    {{#if user4.mobile}}
                                    <p>We will send your licence details to {{mobile}}.</p>

                                    {{/if}}{{/if}}{{/if}}{{/if}}


                                    {{/if}}

                                    <!-- <p>You must check the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and byelaws before you go.</p> -->
                                    <h2 class="heading-medium">Check the byelaws before you go</h2>
                                    <p>You must follow the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">local fishing byelaws</a> whenever you go fishing. These include
                                        the rules on: </p>
                                    <ul class="list list-bullet">
                                        <li>where you can fish</li>
                                        <li>when you can fish</li>
                                        <li>which fish you’re allowed to keep</li>
                                    </ul>

                                    {{#if user4.isSalmon}}
                                    <h2 class="heading-medium">Remember to submit a catch return</h2>
                                    <p class="text">You must <a href="https://www.gov.uk/catch-return">report a catch return</a> to tell us how many salmon and sea trout you’ve caught.</p>
                                    {{/if}} {{#if isJunior}} {{else}}
                                    <h2 class="heading-medium">How your licence money gets spent</h2>
                                    <p class="text">We use your fishing licence money to:</p>
                                    <ul class="list list-bullet">
                                        <li>improve angling facilities and fish habitats</li>
                                        <li>protect fisheries from illegal activity</li>
                                        <li>prevent the spread of fish diseases and invasive, non-native species</li>
                                        <li>rear and stock coarse fish to boost natural stocks</li>
                                        <li>encourage more people to go fishing</li>
                                    </ul>
                                    <p class="text">Read the <a href="https://www.gov.uk/government/publications/environment-agency-annual-fisheries-report">annual fisheries report</a> for more detail about how we spend this money.</p>
                                    {{/if}}


                    </div>
                    {{/if}}
                {{#if user2}}</div>{{/if}}
          {{#if user2}}  </section>{{/if}}





            <h2 class="heading-medium">Your feedback</h2> {{#if isJunior}}
            <p><a href="#">Tell us what you think about getting your licence</a> (takes 30 seconds)</p>
            {{else}}
            <p><a href="#">Tell us what you think about buying your licence</a> (takes 30 seconds)</p>
            {{/if}}
            <p>
                <a href="/buy/clear-session" class="button" title="Exit service">Finished</a>
            </p>

        </div>
    </div>
</main>
</div>
</main>
