<main id="summary-page">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">You've bought your licence</h1>
                <p>
                    Your fishing licence number is<br>
                    <strong class="bold-medium" id="permissionNumber">345 612 895</strong>
                </p>
                <p><span class="bold-small">Licence type:</span> <span id="licenceType">{{licenceType}}</span></p>
                <p><span class="bold-small">Starts:</span> <span id="startDate">{{startDate}}</span></p>
                <p><span class="bold-small">Ends:</span> <span id="endDate">{{endDate}}</span></p>
            </div>
            <h2 class="heading-medium">Before you go fishing</h2>
            <p>We don't send you a licence in the post. When our bailiffs ask to see your licence, you must show them:</p>
            <ol class="list list-number">
                <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number</li>
                <li><span class="heavy">proof of your identity</span>, such as your driver's licence or passport</li>
            </ol>
            <p>You must check the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and byelaws before you go.</p>
            <h2 class="heading-medium">Your payment</h2>
            <p>You paid by debit or credit card.</p>
            <h3 class="heading-small">We use your fishing licence money to:</h3>
            <ul class="list list-bullet">
                <li>encourage people to take-up fishing</li>
                <li>improve facilities for anglers</li>
                <li>rear coarse fish for restocking</li>
                <li>protect stocks from illegal fishing</li>
                <li>get rid of invasive species</li>
            </ul>
            <p class="text">Read the <a href="https://www.gov.uk/government/publications/environment-agency-annual-fisheries-report">annual fisheries report</a> for more detail about how we spend this money.</p>
            <h2 class="heading-medium">Your feedback</h2>
            <p><a href="/feedback">Tell us what you think about buying your licence</a> (takes 30 seconds)</p>
        </div>
    </div>
</main>
