<main id="summary-page">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">You've bought your licence</h1>
                <p>
                    <strong class="bold-medium" id="permissionNumber">00010418-3WC3JDS-B7A718</strong><br>
                </p>
                <p><i class="icon icon-file-download">
    <span class="visually-hidden">Download licence</span>
  </i><a href="#" title="Download licence" class="govuk-box-highlight-link">Save licence</a> </p>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Name:</th>
                        <th>Licence type:</th>
                        <th>Licence length:</th>
                        <th>Valid from:</th>
                        <th>Expires:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Peter Walter-Smith</td>
                        <td>2-rod trout and coarse</td>
                        <td>12 months</td>
                        <td>1 March 2017</td>
                        <td>1 March 2018</td>
                    </tr>
                </tbody>
            </table>

            <h2 class="heading-medium">Want to go fishing before your licence arrives?</h2>
            <p>Your licence will arrive in the post within 10 working days. To go fishing before you receive it, you must be able to produce your licence confirmation.
            </p>
            <p>Your licence will arrive in the post within 10 working days. To go fishing before you receive it, you must take:</p>
            <ol class="list list-number">
                <li><span class="heavy">proof of your licence</span>: <a href="javascript:window.print();">print out this page</a> or make a note of your licence number.

                    <li><span class="heavy">proof of your identity</span>, such as your driver's licence or passport</li>

            </ol>
            <p>We will send your licence details to peter-walter-smith@gmail.com.</p>



            <h2 class="heading-medium">Check the byelaws before you go</h2>
            <p>You must follow the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">rod fishing rules</a> and <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">local fishing byelaws</a> whenever you go fishing. These include
                the rules on: </p>
            <ul class="list list-bullet">
                <li>where you can fish</li>
                <li>when you can fish</li>
                <li>which fish you’re allowed to keep</li>
            </ul>


            <h2 class="heading-medium">How your licence money gets spent</h2>
            <p class="text">We use your fishing licence money to:</p>
            <ul class="list list-bullet">
                <li>improve angling facilities and fish habitats</li>
                <li>protect fisheries from illegal activity</li>
                <li>prevent the spread of fish diseases and invasive, non-native species</li>
                <li>rear and stock coarse fish to boost natural stocks</li>
                <li>encourage more people to go fishing</li>
            </ul>
            <p class="text">Read the <a href="https://www.gov.uk/government/publications/environment-agency-annual-fisheries-report">annual fisheries report</a> for more detail about how we spend this money.</p>


            <h2 class="heading-medium">Your feedback</h2>
            <p><a href="#">Tell us what you think about buying your licence</a> (takes 30 seconds)</p>

            <p>
                <a href="/" title="Exit service">Finished (exit service)</a>
            </p>
        </div>
    </div>
</main>
</div>
</main>
