<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <p>We will use this number to send you your licence number.</p>
        <form method="post" autocomplete="off" novalidate>
            <fieldset>
                <div class="form-group">
                    <label for="mobile" class="form-label">Mobile number</label> {{#if errors.mobile}}<span class="error-message">{{errors.mobile}}</span>{{/if}}
                    <input class="form-control" id="mobile" name="mobile" value="{{mobile}}" type="text" maxlength="30">
                </div>
            </fieldset>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>
