<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                        <p class="form-block">or</p>
                        {{#each items2}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}} data-target="{{value}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{value}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
        <details class="progressive-disclosure-margin">
            <summary><span class="summary">Which is right for me?</span></summary>
            <div class="panel panel-border-narrow">
                <!-- <h3 class="heading-small">12-months - from £30.00</h3>
                <p>12-month licences are valid for 365 days from their start date and can be purchased at any time during the year.</p>
                <h3 class="heading-small">8-days - from £12.00</h3>
                <p>8-day licences are valid for 8 consecutive days.</p>
                <h3 class="heading-small">1-day - from £6.00</h3>
                <p>1-day licences are valid for a full 24 hours from the selected start time.</p>
                <h3 class="heading-small">Upgrades</h3>
                <p>You can upgrade your 1-day or 8-day licence to the corresponding 12-month licence within 14 days of expirey.</p>
                <p>You can upgrade your 12-month trout and coarse licence to a 12-month salmon and sea trout licence at any time.</p> -->
                <!-- <h3 class="heading-small">Renewals</h3>
                <p>You can renew your existing licence up to 90 days before it expires.</p> -->


                <h3 class="heading-medium">Buy a new licence</h3>
                <h3 class="heading-small">12-month licences - from £30.00</h3>
                <p>12-month licences are valid for 365 days from their start date and can be purchased at any time during the year.</p>

                <h3 class="heading-small">8-day licences - from £12.00</h3>
                <p> 8-day licences are valid for 8 consecutive days.</p>

                <h3 class="heading-small">1-day licences - from £6.00</h3>
                <p>1-day licences are valid for a full 24 hours from the start time that you select.</p>

                <h3 class="heading-medium">Upgrade a licence</h3>
                <h3 class="heading-small">1-day or 8-day licences to 12-month licences</h3>
                <p> You can upgrade your current 1-day or 8-day licence to the corresponding 12-month licence within 14 days of its expiry.</p>

                <h3 class="heading-small">Trout and coarse licences to salmon and sea trout licences
                <p> You can upgrade your 12-month trout and coarse licence to a 12-month salmon and sea trout licence at any time.</p>
                <h3 class="heading-small">2-rod trout licences to 3-rod licences</h3>
                <p> You can upgrade your 2-rod 12-month trout and coarse licence to a 3-rod 12-month trout and coarse licence at any time</p>

            </div>
        </details>
    </div>
</div>
