<div class="grid-row">
    <main role="main">
        <section class="column-full">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Rod page revisions
              </h1>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New question</td>
                        <td>
                            <a href="/buy/three-rods">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Explain the question</td>
                        <td>
                            <a href="/buy/rods-two">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Illustrtion</td>
                        <td>
                            <!-- <a href="/buy/order-complete-two">View</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
    </main>
</div>
