<div class="grid-row">
    <main role="main">
        <section class="column-two-thirds">
            <header class="page-header">
                <h1 class="heading-xlarge">
               Get a fishing licence
             </h1>
            </header>
            <div class="article-container group">
                <div class="content-block">
                    <div class="inner">
                        <aside>
                            <div class="inner">
                                <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
                                    <div class="grid-row">
                                        <div class="column-third">
                                            <ol class="list-number">
                                                <li class="active">
                                                    <a href="index.html">Overview</a>
                                                </li>
                                                <li>
                                                    <a href="licence-costs.html">Licence costs</a>
                                                </li>
                                                <li>
                                                    <a href="get.html">Get a fishing licence</a>

                                                </li>
                                            </ol>
                                        </div>
                                        <div class="column-two-thirds">
                                            <ol class="list-number" start="4">
                                                <li>
                                                    Licence conditions
                                                </li>
                                                <li>
                                                    <a href="important-changes.html">Important changes to fishing licences</a>
                                                </li>
                                                <li>
                                                    <a href="replace.html">Replace a lost or stolen licence</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </aside>
                        <hr>
                        <h2 class="heading-medium">4. Licence conditions</h2>
                        <p>These conditions apply to fishing licences:</p>
                        <ol class="list list-number">
                            <li>You can only fish with a licence if you’re the person named on it </li>
                            <li>You must carry the necessary proof of your licence when you go fishing, and show it to our bailiffs if they ask</li>
                            <li>The licence gives you the right to use a fishing rod and line – not the right to fish. You must have the prior permission from any owners of fishing rights before you fish</li>
                            <li>You must read and comply with the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">freshwater rod fishing rules</a></li>
                            <li>You can only use the licence while it is valid</li>
                        </ol>

                        <h2 class="heading-medium">Byelaws</h2>
                        <p>You must follow national and local rules (byelaws) when freshwater fishing with a rod and line in England and Wales.</p>
                        <p>Read the local byelaws for your area to find out the:</p>

                        <ul class="list list-bullet">
                            <li>areas in your region where you’re not allowed to fish</li>
                            <li>closed seasons (when you can’t fish) which apply to particular types of water and fish within your region</li>
                            <li>sort of tackle you can use for certain fish in your region</li>
                            <li>size of fish you can keep</li>
                        </ul>

                        <div class="notice">
                            <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
                            <strong class="bold-small">Before you go fishing, read all <a href="http://www.gov.uk/freshwater-rod-fishing-rules">national and local byelaws</a>.
                   </strong>
                        </div>

                        <h2 class="heading-medium">Fishing in Scotland and Northern Ireland</h2>
                        <p>In Scotland, you need a fishing licence for the Border Esk and its tributaries. You don’t need a fishing licence elsewhere in Scotland, but you do need to get permission. <a href="http://www.gov.scot/Topics/marine/Licensing/fishintros/methods">Find out more about fishing in Scotland</a>.</p>
                        <p>You must <a rel="external" href="https://www.nidirect.gov.uk/services/buy-rod-licences-and-permits-online">get either a rod licence or permit</a> to fish in Northern Ireland.</p>

                        <nav class="pagination" role="navigation" aria-label="Pagination">
                            <ul class="group">
                                <li class="previous">
                                    <a title="Navigate to previous part" rel="prev" href="get.html">
                                        <span class="pagination-label">Previous </span>
                                        <span class="pagination-part-title">Get a fishing licence</span>
                                    </a>
                                </li>
                                <li class="next">
                                    <a title="Navigate to next part" rel="next" href="important-changes.html">
                                        <span class="pagination-label">Next</span>
                                        <span class="pagination-part-title">Important changes to fishing licences</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="column-one-third">
            <div class="related-container">
                <aside class="related" id="related">
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Fishing and hunting</h2>
                        <nav role="navigation" aria-labelledby="parent-subsection">
                            <ul class="list list-bullet">
                                <li>
                                    <a href="http://www.gov.uk/freshwater-rod-fishing-rules">Freshwater rod fishing rules</a>
                                </li>
                                <li>
                                    <a href="https://www.gov.uk/government/collections/local-fishing-byelaws">Local fishing byelaws</a>
                                </li>
                                <li>
                                    <a href="https://www.gov.uk/guidance/lock-and-weir-fishing-on-the-river-thames">Lock and weir fishing on the Thames</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>
            </div>
        </div>
    </main>
</div>
