<div class="grid-row">
    <main role="main">
        <section class="column-full">
            <header class="page-header">
                <h1 class="heading-xlarge">
                    Static page content ideas
                </h1>
            </header>


            <h2 class="heading-medium">
                Price table 2016
            </h2>
            <table>
                <thead>
                    <tr>
                        <th>Licence type</th>
                        <th>Trout and coarse 2-rod</th>
                        <th>Trout and coarse 3-rod</th>
                        <th>Salmon and sea trout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1-day</td>
                        <td>£6</td>
                        <td>Not available</td>
                        <td>£12</td>
                    </tr>
                    <tr>
                        <td>8-day</td>
                        <td>£12</td>
                        <td>Not available</td>
                        <td>£27</td>
                    </tr>
                    <tr>
                        <td>12-month</td>
                        <td>£30</td>
                        <td>£45</td>
                        <td>£82</td>
                    </tr>
                    <tr>
                        <td>12-month - over 65 or disabled</td>
                        <td>£20</td>
                        <td>£30</td>
                        <td>£54</td>
                    </tr>
                    <tr>
                        <td>12-month - junior (12 to 16)</td>
                        <td>Free</td>
                        <td>Free</td>
                        <td>Free</td>
                    </tr>
                </tbody>
            </table>


            <h2 class="heading-medium">
                Price table concept November 2017
            </h2>
            </br>
            <div class="panel panel-border-wide">
                <p>Split table based on licence length</p>
            </div>
            </br>
            <h3 class="heading-small">
                12-month licences
            </h3>
            <table>
                <thead>
                    <tr>
                        <th>Licence type</th>
                        <th>Trout and coarse 2-rod</th>
                        <th>Trout and coarse 3-rod</th>
                        <th>Salmon and sea trout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12-month</td>
                        <td>£30</td>
                        <td>£45</td>
                        <td>£82</td>
                    </tr>
                    <tr>
                        <td>12-month - senior (over 65)</td>
                        <td>£20</td>
                        <td>£30</td>
                        <td>£54</td>
                    </tr>
                    <tr>
                        <td>12-month - disabled</td>
                        <td>£20</td>
                        <td>£30</td>
                        <td>£54</td>
                    </tr>
                    <tr>
                        <td>12-month - junior (12 to 16)</td>
                        <td>Free</td>
                        <td>Free</td>
                        <td>Free</td>
                    </tr>
                </tbody>
            </table>
            </br>
            <h3 class="heading-small">
                Short term licences
            </h3>
            <table>
                <thead>
                    <tr>
                        <th>Licence type</th>
                        <th>Trout and coarse 2-rod</th>
                        <th>Trout and coarse 3-rod</th>
                        <th>Salmon and sea trout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1-day</td>
                        <td>£6</td>
                        <td>Not available</td>
                        <td>£12</td>
                    </tr>
                    <tr>
                        <td>8-day</td>
                        <td>£12</td>
                        <td>Not available</td>
                        <td>£27</td>
                    </tr>
                </tbody>
            </table>
            </br>
            </br>
            <div class="panel panel-border-wide">
                <p>Split table based on species</p>
            </div>
            </br>
            <h3 class="heading-small">
                Trout and coarse licences
            </h3>
             </br>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Full</th>
                        <th>Senior</th>
                        <th>Junior</th>
                        <th>Disabled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12-month 2-rod licence</td>
                        <td>£30</td>
                        <td>£20</td>
                        <td>Free</td>
                        <td>£20</td>
                    </tr>
                    <tr>
                        <td>12-month 3-rod licence</td>
                        <td>£45</td>
                        <td>£30</td>
                        <td>Free</td>
                        <td>£30</td>
                    </tr>
                    <tr>
                        <td>8-day licence</td>
                        <td>£12</td>
                        <td>Not available</td>
                        <td>Not available</td>
                        <td>Not available</td>
                    </tr>
                    <tr>
                        <td>1-day - licence</td>
                        <td>£6</td>
                        <td>Not available</td>
                        <td>Not available</td>
                        <td>Not available</td>
                    </tr>
                </tbody>
            </table>
             </br>
            <h3 class="heading-small">
                Salmon and sea trout licences
            </h3>
            </br>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Full</th>
                        <th>Senior</th>
                        <th>Junior</th>
                        <th>Disabled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12-month licence</td>
                        <td>£82</td>
                        <td>£54</td>
                        <td>Free</td>
                        <td>£54</td>
                    </tr>
                    <tr>
                        <td>8-day licence</td>
                        <td>£27</td>
                        <td>Not available</td>
                        <td>Not available</td>
                        <td>Not available</td>
                    </tr>
                    <tr>
                        <td>1-day - licence</td>
                        <td>£12</td>
                        <td>Not available</td>
                        <td>Not available</td>
                        <td>Not available</td>
                    </tr>
                </tbody>
            </table>



    </main>
</div>
</table>
</main>
</div>