<main id="summary-page">
    <div class="grid-row">
        <div class="column-two-thirds">
            {{> common/back}}
            <h1 class="heading-large">{{pageTitle}}</h1>
            <br> {{#if isJunior}} {{else}}
            <div class="notice">
                <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
                <strong class="bold-small">Your licence is not valid until payment is complete</strong>
            </div>
            {{/if}}
            <h2 class="heading-medium">Licence holder details</h2>
            <table class="check-your-answers">
                <tbody>
                    <tr>
                        <th scope="row" style="width:30%;">
                            Name on licence
                        </th>
                        <td class="data" id="holder-name">
                            {{#if nameOnLicence}} {{nameOnLicence}} {{else}} Not supplied {{/if}}
                        </td>
                        <td class="change-answer" id="change-holder-name">
                            <a href="/buy/name?returnUrl=/buy/summary" id="buy.holder.name">
                Change <span class="visuallyhidden">name</span>
              </a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            Date of birth
                        </th>
                        <td class="data" id="holder-dob">
                            {{#if licenceDOB}} {{licenceDOB}} {{else}} Not supplied {{/if}}
                        </td>
                        <td class="change-answer" id="change-holder-dob">
                            <a href="/buy/date-of-birth?returnUrl=/buy/summary" id="buy.holder.dateOfBirth">
                Change <span class="visuallyhidden">date of birth</span>
              </a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            Email address
                        </th>
                        <td class="data" id="holder-email">
                            {{#if email}} {{email}} {{else}} Not supplied {{/if}}
                        </td>
                        <td class="change-answer" id="change-holder-email">
                            <a href="/buy/contact?returnUrl=/buy/summary" id="buy.holder.contact.email">
                Change <span class="visuallyhidden">email</span>
              </a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            Mobile number
                        </th>
                        <td class="data" id="holder-mobile">
                            {{#if mobile}} {{mobile}} {{else}} Not supplied {{/if}}
                        </td>
                        <td class="change-answer" id="change-holder-mobile">
                            <a href="/buy/contact?returnUrl=/buy/summary" id="buy.holder.contact.mobile">
                Change <span class="visuallyhidden">mobile number</span>
              </a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            Address
                        </th>
                        <td class="data" id="holder-address">
                            {{#if address}} {{address}} {{else}} Not supplied {{/if}}
                        </td>
                        <td class="change-answer" id="change-holder-address">
                            <a href="/buy/manual-address?returnUrl=/buy/summary" id="buy.holder.address">
                Change <span class="visuallyhidden">address</span>
              </a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <h2 class="heading-medium">Licence details</h2>
            <table class="check-your-answers">
                <tbody>
                    <tr>
                        <th scope="row" style="width:30%;">
                            Licence type
                        </th>
                        <td class="data" id="licence-type">
                            {{#if licenceType}} {{licenceType}} {{else}} Not supplied {{/if}}
                        </td>
                        <td class="change-answer" id="change-licence-type">
                            <a href="/buy/licence-type?returnUrl=/buy/summary" id="buy.licence.type">
                Change <span class="visuallyhidden">licence type</span>
              </a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            Licence length
                        </th>
                        <td class="data" id="licence-length">
                            {{#if licenceLength}} {{licenceLength}} {{else}} Not supplied {{/if}}
                        </td>
                        <td class="change-answer" id="change-licence-length">

                            <a href="/buy/licence-length?returnUrl=/buy/summary" id="buy.licence.length">
                Change <span class="visuallyhidden">licence length</span>
              </a>

                        </td>
                    </tr>

                    {{#if isFull}} {{#if concession}}
                    <tr>
                        <th scope="row">
                            Concession
                        </th>
                        <td class="data" id="concession">
                            {{#if isJunior}} Junior {{/if}} {{#if isSenior}} Senior {{/if}} {{#if hasBlueBadge}} Disabled {{/if}}concession
                        </td>

                    </tr>
                    {{/if}} {{/if}}




                    <tr>
                        <th scope="row">
                            Valid from
                        </th>
                        <td class="data" id="start-date">
                            {{#if startDate}} {{startDate}} {{else}} Not supplied {{/if}}
                        </td>
                        <td class="change-answer" id="change-start-date">
                            <a href="/buy/licence-start-option?returnUrl=/buy/summary" id="buy.licence.start">
                Change <span class="visuallyhidden">start date</span>
              </a>
                        </td>
                    </tr>

                    {{#if isFull}} {{else}}


                    <tr>
                        <th scope="row">
                            Time
                        </th>
                        <td class="data" id="start-date">
                            {{#if startTime}}{{startTime}}{{/if}}
                        </td>
                        <td class="change-answer" id="change-start-date">
                            <a href="/buy/licence-start-time?returnUrl=/buy/summary" id="buy.licence.start">
                Change <span class="visuallyhidden">start time</span>
              </a>
                        </td>
                    </tr>

                    {{/if}}
                    <tr>
                        <th scope="row">
                            Number of rods
                        </th>
                        <td class="data" id="number-of-rods">
                            {{#if numberOfRods}} {{numberOfRods}} {{/if}}
                        </td>
                        <td class="change-answer" id="number-of-rods">

                            {{#if isFull}} {{#if isCoarse}}

                            <a href="/buy/number-of-rods?returnUrl=/buy/summary" id="buy.licence.start">
              Change <span class="visuallyhidden">Number of rods</span>
            </a> {{/if}} {{/if}}
                        </td>
                    </tr>

                    {{#if isJunior}} {{else}}
                    <tr>
                        <th scope="row">
                            Cost
                        </th>
                        <td class="data" id="cost-data">
                            {{#if cost}} {{cost}} {{else}} Not supplied {{/if}}
                        </td>
                        <td class="change-answer">
                            &nbsp;
                        </td>
                    </tr>
                    {{/if}}


                </tbody>
            </table>
            <br>
            <a class="button" href="/buy/terms-conditions">Continue</a>
        </div>
    </div>
</main>
