<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        <p>We're looking into the problem and will have the service running again as quickly as possible.</p>
        <h2 class="heading-medium">What now?</h2>
        <ul class="list list-bullet">
            <li><a href="product-type" title="Buy a new licence">Buy a new licence</a></li>
            <li><a href="/clear-session" title="exit service">Exit service</a></li>
        </ul>
    </div>
</div>
