<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1> {{#if isJunior}}
        <p>When you get this licence you agree that:</p>
        {{else}}
        <p>When you buy this licence you agree that:</p>
        {{/if}}




        <ul class="list list-bullet">
            <li>the licence will only be used by the person named on it</li>
            <li>you will carry the necessary proof of your licence when you go fishing and show it to our bailiffs if they ask</li>
            <li>the licence gives you the right to use a fishing rod and line only - not the right to fish. You will check you have permission from any owner of fishing rights before you fish</li>
            <li>you will read and comply with the <a href="https://www.gov.uk/freshwater-rod-fishing-rules">freshwater rod fishing rules</a></li>
            <li>you will only use the licence while it is valid</li>
        </ul>
        <form method="post" autocomplete="off" novalidate>
            <fieldset data-required data-error="{{errorMessage}}">
                <div id="agree-form-group" class="form-group {{#if errors.agree}}error{{/if}}">
                    {{#if errors}}
                    <span class="error-message">{{errors.agree}}</span> {{/if}}
                    <label for="agree" class="block-label selection-button-checkbox">
              <input id="agree" name="agree" type="checkbox">
              I agree to the terms and conditions
            </label>
                </div>
                {{#if isJunior}}

                <button type="submit" class="button">Get my licence</button> {{else}}
                <button type="submit" class="button">Pay for the licence</button> {{/if}} {{#if isJunior}} {{else}}
                <p class="form-hint">on the Worldpay secure payment site</p>
                {{/if}}
            </fieldset>
        </form>
        {{#if isJunior}}
        <p><br><a href="/clear-session">I no longer want this licence</a></p>
        {{else}}
        <p><a href="/clear-session" title="exit service">I no longer want to buy a licence</a></p>
        {{/if}}
    </div>
</div>
