<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>

        <!-- <p>Even though you choose {{LicenceLength}} license, you qualify for a full 12-month one because of your age. Licenses are free when you're between 12 and 16.</p> -->
        <p>You qualify for a full 12-month licence because of your age. Licences are free when you're between 12 and 16, but you still need to get a licence.</p>
        <form method="post" autocomplete="off" novalidate>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>
