<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}}
        <h1 class="heading-large">{{pageTitle}}</h1>
        
        <!-- <p>Even though you choose {{LicenceLength}} license, you qualify for a full 12-month one because of your age. Licenses are free when you're between 12 and 16.</p> -->
        <!--<p>  On 1 April 2017, fishing licences became free to everyone aged between 12 and 16. You still need a licence, but you won't get charged for it.   </p>-->
        <!--<p>You qualify for a full 12-month licence because of your age. Licences are free when you're between 12 and 16, but you still need to get a licence.</p>-->
       
        <!--<p>You qualify for a full 12-month junior licence because of your age.</p>-->
        <p>You​r junior licence:</p>
        
        <ul class="list list-bullet">
            <li>​is free because you're between 12 and 16 - but you must still get a licence</li>
            <li>will start today​ and last for a full 12 months</li>
            <li>won't get sent in the post - you'll be able to save or print it instead</li>
        </ul>

        <form method="post" autocomplete="off" novalidate>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>
