<div class="grid-row">
    <main role="main">
        <section class="column-full">
            <header class="page-header">
                <h1 class="heading-xlarge">
                Upgrade &amp; renewals journey
              </h1>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Journey</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Journey in flow</td>
                        <td><a href="buy/licence-before">View</a></td>
                    </tr>
                </tbody>
            </table>
            </br>
            <!-- <table>
                <thead>
                    <tr>
                        <th>Feature tests</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Licence information table demo</td>
                        <td><a href="buy/licence-options">View</a></td>
                    </tr>
                    <tr>
                        <td>Licence information defenition list demo</td>
                        <td><a href="buy/licence-options-two">View</a></td>
                    </tr>
                </tbody>
            </table> -->
            </br>
            <!--<h2 class="heading-medium">Test user details</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Rod licence number</th>
                        <th colspan="1">Scenario</th>
                        <th colspan="1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">B7A711</td>
                        <td colspan="1">12-month coarse</td>
                        <td colspan="1">Upgrade, Renew or buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A712</td>
                        <td colspan="1">12-month salmon</td>
                        <td colspan="1">Renew or buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A713</td>
                        <td colspan="1">8-day coarse senior</td>
                        <td colspan="1">Upgrade, Renew or buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A713B</td>
                        <td colspan="1">8-day coarse</td>
                        <td colspan="1">Upgrade, Renew or buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A714</td>
                        <td colspan="1">1-day salmon upgrade expired</td>
                        <td colspan="1">Renew or buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A715</td>
                        <td colspan="1">12-month salmon no upgrade and renew not yet valid</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A716</td>
                        <td colspan="1">Junior licence</td>
                        <td colspan="1">Get new</td>
                    </tr>
                    <tr>
                        <td colspan="1">Any other number</td>
                        <td colspan="1">Licence not found</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                </tbody>
            </table> -->

            <table>
                <thead>
                    <tr>
                        <th>Feature tests</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Licence before V1</td>
                        <td><a href="buy/licence-before">View</a></td>
                    </tr>
                    <tr>
                        <td>Licence before V2 (Reveal)</td>
                        <td><a href="buy/licence-before-two">View</a></td>
                    </tr>
                    <tr>
                        <td>No Licence before</td>
                        <td><a href="buy/product-type">View</a></td>
                    </tr>
                    <tr>
                        <td>Licence information table demo</td>
                        <td><a href="buy/licence-options">View</a></td>
                    </tr>
                    <tr>
                        <td>Licence information defenition list demo</td>
                        <td><a href="buy/licence-options-two">View</a></td>
                    </tr>
                </tbody>
            </table>
            </br>
            <h2 class="heading-medium">Upgrade user details</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Rod licence number</th>
                        <th colspan="1">Scenario</th>
                        <th colspan="1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">B7A711</td>
                        <td colspan="1">12-month coarse disabled concession</td>
                        <td colspan="1">Upgrade or buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A712</td>
                        <td colspan="1">12-month coarse</td>
                        <td colspan="1">Upgrade or buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A713</td>
                        <td colspan="1">12-month salmon</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A714</td>
                        <td colspan="1">8-day coarse senior</td>
                        <td colspan="1">Upgrade or buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A715</td>
                        <td colspan="1">8-day coarse</td>
                        <td colspan="1">Upgrade or buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A716</td>
                        <td colspan="1">1-day salmon upgrade expired</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A717</td>
                        <td colspan="1">Junior licence</td>
                        <td colspan="1">Get new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A718</td>
                        <td colspan="1">Upgrade already used</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A719</td>
                        <td colspan="1">CRM down</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">Any other number</td>
                        <td colspan="1">Licence not found</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                </tbody>
            </table>
            </br>
            <h2 class="heading-medium">Renew user details</h2>
            <table>
                <thead>
                    <tr>
                        <th>Rod licence number</th>
                        <th>Scenario</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">B7A720</td>
                        <td colspan="1">12-month salmon</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A721</td>
                        <td colspan="1">8-day trout and coarse</td>
                        <td colspan="1">Buy new</td>
                    </tr>


                    <tr>
                        <td colspan="1">B7A722</td>
                        <td colspan="1">12-month salmon renew not yet valid</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A723</td>
                        <td colspan="1">Junior licence</td>
                        <td colspan="1">Get new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A724</td>
                        <td colspan="1">Renew already used</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">B7A725</td>
                        <td colspan="1">CRM down</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                    <tr>
                        <td colspan="1">Any other number</td>
                        <td colspan="1">Licence not found</td>
                        <td colspan="1">Buy new</td>
                    </tr>
                </tbody>
            </table>


    </main>
</div>

</main>
</div>
