<div class="grid-row">
    <div class="column-two-thirds reducemargin">
        {{> common/back}} {{> common/licence-details}}
        <h2 class="heading-medium">{{pageTitle}}</h2>
        <form method="post" autocomplete="off" novalidate>
            <div class="form-group {{#if errors}}error{{/if}}">
                <fieldset data-required data-error="{{errorMessage}}">
                    <div class="form-group">
                        {{#each items}}
                        <label for="{{id}}" class="block-label selection-button-radio" {{#if selectedText}}data-target="{{name}}_text" {{/if}}>
                      <input id="{{id}}" type="radio" name="{{name}}" value="{{id}}" {{#if checked}}checked{{/if}}>
                      {{text}}
                      {{#if subText}}
                        <br>{{subText}}
                      {{/if}}
                    </label> {{#if selectedText}}
                        <div class="panel panel-border-narrow js-hidden" id="{{name}}_text">
                            <p>{{selectedText}}</p>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
    <div class="column-third">
        <div class="payment-summary-small">
            <h2>How much will it cost?</h2>
            <p class="payment-title">Buy this licence again</p>
            <p class="payment-info payment-amount">{{buyAgain}}</p>
        </div>
    </div>
</div>
