{% extends "./layout_unbranded.html" %}

{% block pageTitle %}
Ivory seller klaxon - Gumtree
{% endblock %}

{% block content %}

  <div style="background:#fff;padding:2rem;padding-bottom:6rem;margin:auto;margin-top:10rem;border:1px solid #999;">

  <h1 class="govuk-heading-xl">
    Gumtree
  </h1>

  <p class="govuk-body-l">It looks like you're buying an item that may have some ivory in it. The law on buying ivory has changed recently.</p>

  <p class="govuk-body-l">We advise you to check what to do before buying ivory <a href="check-before-you-buy-an-ivory-item">www.gov.uk/ivoryservice</a></p>

  </div>

{% endblock %}
