{% extends "./layout.html" %}

{% set thisPageTitle = "Based on your answers" %}

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


			{% if checker == '1' %}

			<!-- 1. Musical instrument, meets criteria -->

      <h1 class="govuk-heading-xl">You must register the item</h1>

			<form method="post">

      <p class="govuk-body">Based on your answers, you must register the item before you can sell or hire it because:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>it's a musical instrument made before 1975 with less than 20% ivory</li>
      </ul>

			<button class="govuk-button">Confirm and continue</button>

			</form>

			{% elif checker == '2' %}

			<!-- 1. Musical instrument, age not sure, volume ok -->

			<h1 class="govuk-heading-xl">You are not ready to apply</h1>

			<p class="govuk-body">Based on your answers, you're not ready to apply.</p>

			<p class="govuk-body">You need to be sure the musical instrument was made before 1975.</p>

			<h2 class="govuk-heading-m">How to prove it was made before 1975</h2>

			<p class="govuk-body">You can use:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>an original receipt or bill</li>
				<li>a date mark on the item</li>
				<li>written verification from an expert, such as an antiques specialist or museum curator</li>
				<li>knowledge that it’s been in the family since 1974 or before</li>
				<li>an article published before 1 January 1975 with photos or detailed description of the item</li>
			</ul>

			<p class="govuk-body">You must prove that you made all efforts to assess the item correctly.</p>

			<h2 class="govuk-heading-m">Still not sure<h2>

			<p class="govuk-body">Read the <a href="guidance">guide to selling, hiring and buying ivory items</a>.</p>

			<h2 class="govuk-heading-m">If you’re now sure</h2>

			<p class="govuk-body">If you are sure you have the correct information, <a href="check-item-musical-instrument">check again</a>.


				{% elif checker == '3' %}

				<!-- 3. Musical instrument, age ok, volume not sure -->

				<h1 class="govuk-heading-xl">You are not ready to apply</h1>

				<p class="govuk-body">Based on your answers, you're not ready to apply.</p>

				<p class="govuk-body">You need to be sure the musical instrument has less than 20% ivory by volume.</p>


				<p class="govuk-body">Musical instruments likely to have less than 20% ivory</p>

				<ul class="govuk-list govuk-list--bullet">
					<li>a piano with ivory keys</li>
					<li>a violin bow with ivory and the end of the bow, known as the face</li>
				</ul>






				<p class="govuk-body">You must prove that you made all efforts to assess the item correctly.</p>

				<h2 class="govuk-heading-m">Still not sure<h2>

				<p class="govuk-body">Read the <a href="guidance">guide to selling, hiring and buying ivory items</a>.</p>

				<h2 class="govuk-heading-m">If you’re now sure</h2>

				<p class="govuk-body">If you are sure you have the correct information, <a href="check-item-musical-instrument">check again</a>.



			{% else %}

			<h1 class="govuk-heading-xl">How did you get here?</h1>

			{% endif %}







    </div>
  </div>

{% endblock %}
