{% extends "./layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form method="post" autocomplete="off" {{ novalidateVal }}>

      {{ govukRadios({
        idPrefix: "pre-1975",
        name: "pre-1975",
        fieldset: {
          legend: {
            text: "Was it made before 1975?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "I'm not sure",
          text: "I'm not sure"
        }
        ]
      }) }}


      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>



{% endblock %}
