
{% set tocPage = true %}

{% extends "./layout.html" %}



{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">

{% endblock %}


{% block pageTitle %}
Check before you buy an ivory item
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>


<div class="gem-c-contextual-breadcrumbs">

  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>


</div>

{% endblock %}



{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text gem-c-title__text--long">
        Check before you buy an ivory item
      </h1>
    </div>

    <p class="gem-c-lead-paragraph ">
      Check if an item you want to buy has been registered or has a certificate.
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata" lang="en">
        <div class="app-c-published-dates " lang="en">
          Published 2 December 2019
          <!-- <br>Last updated 21 December 2019
          — <a href="#history">see all updates</a> -->
        </div>

        <div class="app-c-publisher-metadata__other">
          <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
              <span class="app-c-publisher-metadata__definition-sentence">
                <a href="/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a>
              </span>
            </dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <div id="toc" class="toc"></div>


    <div class="gem-c-govspeak govuk-govspeak direction-ltr">


      <div class="govspeak">





          <div class="xcall-to-action">

            <h2 id="your-legal-responsibility">Your legal responsibility</h2>

            <div role="note" aria-label="Help" class="application-notice help-notice">
              <p>It is illegal to buy an ivory item that does not have a valid registration number or certificate.</p>
            </div>


            <p>Before buying or offering to buy an ivory item, you’re legally responsible for checking that it:</p>

            <ul>
              <li>is not included in the ivory ban</li>
              <li>has a valid registration number or certificate</li>
            </ul>

            <p>If you’re buying an item a seller has registered, the registration is only valid for that single transaction. If you want to sell the item, you must register it again and pay the fee.</p>

            <p>If you’re buying an item that has a certificate, you should collect the certificate from the seller after you’ve paid. You need this certificate (or a replacement) to sell the item in the future.</p>


          </div>


          <h2 id="check">Check an item</h2>

          <p>To check an item you should:</p>

          </p>
          <ul>
            <li>put the item’s registration or certificate number into our online system to see if it’s genuine</li>
            <li>make sure the seller’s document matches the item</li>
          </ul>

          <a href="check-registration-search" role="button" class="button button-start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
            Start now
          </a>


        </div>



      </div>




    </div>



    <div class="govuk-grid-column-one-third">



      <div class="gem-c-contextual-sidebar">


        <div class="gem-c-related-navigation">

          <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
            Related content
          </h2>




          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-1e7b0f2c" data-module="gem-toggle">

            <ul class="gem-c-related-navigation__link-list" data-module="track-click">

              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"
                href="apply-to-sell-or-hire-an-ivory-item">Apply to sell or hire an ivory item</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"
                href="https://gov.uk/government/publications/endangered-species-application-for-import-and-export-permit">Endangered species: apply for an import and export permit</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"
              href="https://gov.uk/government/publications/endangered-species-application-for-commercial-use">Endangered species: apply for a commercial use certificate</a></li>

            </ul>

          </nav>



          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_guides-1e7b0f2c" data-module="gem-toggle">

            <h3 id="related-nav-related_guides-1e7b0f2c" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Detailed guidance</h3>

            <ul class="gem-c-related-navigation__link-list" data-module="track-click">

              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar" href="guidance">A guide to selling, hiring and buying items containing ivory</a></li>

            </ul>
          </nav>



          <!-- <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-collections-1e7b0f2c" data-module="gem-toggle">

          <h3 id="related-nav-collections-1e7b0f2c" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Collection</h3>

          <ul class="gem-c-related-navigation__link-list" data-module="track-click">


          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="3.1 Collection" data-track-label="/government/collections/guidance-on-importing-and-exporting-live-animals-or-animal-products" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Guidance on importing and exporting live animals or animal products&quot;}" href="/government/collections/guidance-on-importing-and-exporting-live-animals-or-animal-products">Guidance on importing and exporting live animals or animal products</a></li>

        </ul>
      </nav> -->

    </div>


  </div>




</div>



</div>



{% endblock %}
