{% extends "./layout.html" %}


{% set thisPageTitle = "Check your answers" %}

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{ thisPageTitle }}</h1>

<!-- RMI resubmission -->
{% if (data['exemptionChoice'] === "type5") and (data['alreadyCertified'] === "Yes") %}

<h2 class="govuk-heading-m ">The item</h2>

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Ivory type</dt>
        <dd class="app-check-your-answers__answer">
          {% if data['species'] == null %}Elephant
          {% else %}{{ data['species'] }}
          {% endif %}
        </dd>
        <dd class="app-check-your-answers__change"><a href="what-species-expert">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Type of exemption</dt>
        <dd class="app-check-your-answers__answer">{{ exemptionTypeChosen }}</dd>
        <dd class="app-check-your-answers__change"><a href="what-type-of-item-is-it">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Already has a certficate
          <br><br>Certificate number
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
          <br><br><br>{{data['certNumber']}}
        </dd>
        <dd class="app-check-your-answers__change"><a href="already-certified">Change</a></dd>
      </div>
  </dl>

{% if agentOwner == 'agent' %}
<h2 class="govuk-heading-m ">Owner and applicant details</h2>
{% else %}
<h2 class="govuk-heading-m ">Owner's details</h2>
{% endif %}

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Do you own the item?</dt>
      <dd class="app-check-your-answers__answer">
        {% if agentOwner == 'agent' %}
          No
        {% else %}
          Yes
        {% endif %}</dd>
      <dd class="app-check-your-answers__change"><a href="who-owns-item">Change</a></dd>
    </div>


    {% if agentOwner == 'agent' %}

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Work for a business</dt>
      <dd class="app-check-your-answers__answer">{{data['workForABusiness']}}</dd>
      <dd class="app-check-your-answers__change"><a href="work-for-a-business">Change</a></dd>
    </div>
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Selling on behalf of</dt>
      <dd class="app-check-your-answers__answer">{{data['onBehalfOf']}}</dd>
      <dd class="app-check-your-answers__change"><a href="who-selling-on-behalf-of">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Owner's name</dt>
      <dd class="app-check-your-answers__answer">{{data['ownerName']}}</dd>
      <dd class="app-check-your-answers__change"><a href="owner-name">Change</a></dd>
    </div>
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Owner's email</dt>
      <dd class="app-check-your-answers__answer">{{data['ownerEmail']}}</dd>
      <dd class="app-check-your-answers__change"><a href="owner-name">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Owner's address</dt>
      <dd class="app-check-your-answers__answer">
        {{ data['addressLine1'] }}<br/>
        {{ data['addressLine2'] }}<br/>
        {{ data['addressTown'] }}<br/>
        {{ data['addressPostcode'] }}
      </dd>
      <dd class="app-check-your-answers__change"><a href="owner-address">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your name</dt>
      <dd class="app-check-your-answers__answer">{{data['agentName']}}</dd>
      <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
    </div>
    {% if data['workForABusiness'] == 'Yes' %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Business name</dt>
        <dd class="app-check-your-answers__answer">
            {{data['agentNameBusiness']}}
        </dd>
        <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
      </div>
    {% else %}
    {% endif %}

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your email</dt>
      <dd class="app-check-your-answers__answer">{{data['agentEmail']}}</dd>
      <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your address</dt>
      <dd class="app-check-your-answers__answer">
        {{ data['agentAddressLine1'] }}<br/>
        {{ data['agentAddressLine2'] }}<br/>
        {{ data['agentAddressTown'] }}<br/>
        {{ data['agentAddressPostcode'] }}
      </dd>
      <dd class="app-check-your-answers__change"><a href="agent-address">Change</a></dd>
    </div>

    {% else %}

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your name</dt>
      <dd class="app-check-your-answers__answer">{{data['agentName']}}</dd>
      <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
    </div>
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your email</dt>
      <dd class="app-check-your-answers__answer">{{data['agentEmail']}}</dd>
      <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your address</dt>
      <dd class="app-check-your-answers__answer">
        {{ data['agentAddressLine1'] }}<br/>
        {{ data['agentAddressLine2'] }}<br/>
        {{ data['agentAddressTown'] }}<br/>
        {{ data['agentAddressPostcode'] }}
      </dd>
      <dd class="app-check-your-answers__change"><a href="agent-address">Change</a></dd>
    </div>
    {% endif %}
    </dl>

<h2 class="govuk-heading-m ">What will happen to the item</h2>

    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">What owner intends to do</dt>
        <dd class="app-check-your-answers__answer">{{ data['sellHire'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="sell-or-hire">Change</a></dd>
      </div>
    </dl>



<!-- Museums -->
{% elseif data['exemptionChoice'] == 'type4' %}


<h2 class="govuk-heading-m ">The item</h2>

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Ivory type</dt>
        <dd class="app-check-your-answers__answer">
          {% if data['species'] == null %}Elephant
          {% else %}{{ data['species'] }}
          {% endif %}
        </dd>
        <dd class="app-check-your-answers__change"><a href="what-species-expert">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Type of exemption</dt>
        <dd class="app-check-your-answers__answer">{{ exemptionTypeChosen }}</dd>
        <dd class="app-check-your-answers__change"><a href="what-type-of-item-is-it">Change</a></dd>
      </div>
  </dl>


<h2 class="govuk-heading-m ">Photos of the item</h2>

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Your photos</dt>
        <dd class="app-check-your-answers__answer">
          <ul class="govuk-list">
          {% for photo in data['photos'] %}
            <li>
              <img class="check-your-answers-img" src="{{baseUrl}}/photos/{{photo}}" />
            </li>
          {%  endfor %}
          </ul>
        </dd>
        <dd class="app-check-your-answers__change"><a href="your-photos">Change</a></dd>
      </div>
  </dl>

<h2 class="govuk-heading-m ">Description of the item</h2>

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">What is it?</dt>
        <dd class="app-check-your-answers__answer">{{ data['describe-itemType'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="describe-the-item">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Where's the ivory?</dt>
        <dd class="app-check-your-answers__answer">{{ data['describe-ivory'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="describe-the-item">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Unique, identifying features (optional)</dt>
        <dd class="app-check-your-answers__answer">{{ data['describe-features'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="describe-the-item">Change</a></dd>
      </div>
  </dl>


{% if agentOwner == 'agent' %}
<h2 class="govuk-heading-m ">Owner and applicant details</h2>
{% else %}
<h2 class="govuk-heading-m ">Owner's details</h2>
{% endif %}

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Do you own the item?</dt>
        <dd class="app-check-your-answers__answer">
          {% if agentOwner == 'agent' %}
            No
          {% else %}
            Yes
          {% endif %}</dd>
        <dd class="app-check-your-answers__change"><a href="who-owns-item">Change</a></dd>
      </div>


      {% if agentOwner == 'agent' %}

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Work for a business</dt>
        <dd class="app-check-your-answers__answer">{{data['workForABusiness']}}</dd>
        <dd class="app-check-your-answers__change"><a href="work-for-a-business">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Selling on behalf of</dt>
        <dd class="app-check-your-answers__answer">{{data['onBehalfOf']}}</dd>
        <dd class="app-check-your-answers__change"><a href="who-selling-on-behalf-of">Change</a></dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Owner's name</dt>
        <dd class="app-check-your-answers__answer">{{data['ownerName']}}</dd>
        <dd class="app-check-your-answers__change"><a href="owner-name">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Owner's email</dt>
        <dd class="app-check-your-answers__answer">{{data['ownerEmail']}}</dd>
        <dd class="app-check-your-answers__change"><a href="owner-name">Change</a></dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Owner's address</dt>
        <dd class="app-check-your-answers__answer">
          {{ data['addressLine1'] }}<br/>
          {{ data['addressLine2'] }}<br/>
          {{ data['addressTown'] }}<br/>
          {{ data['addressPostcode'] }}
        </dd>
        <dd class="app-check-your-answers__change"><a href="owner-address">Change</a></dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Your name</dt>
        <dd class="app-check-your-answers__answer">{{data['agentName']}}</dd>
        <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
      </div>
      {% if data['workForABusiness'] == 'Yes' %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">Business name</dt>
          <dd class="app-check-your-answers__answer">
              {{data['agentNameBusiness']}}
          </dd>
          <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
        </div>
      {% else %}
      {% endif %}

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Your email</dt>
        <dd class="app-check-your-answers__answer">{{data['agentEmail']}}</dd>
        <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Your address</dt>
        <dd class="app-check-your-answers__answer">
          {{ data['agentAddressLine1'] }}<br/>
          {{ data['agentAddressLine2'] }}<br/>
          {{ data['agentAddressTown'] }}<br/>
          {{ data['agentAddressPostcode'] }}
        </dd>
        <dd class="app-check-your-answers__change"><a href="agent-address">Change</a></dd>
      </div>

      {% else %}

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Your name</dt>
        <dd class="app-check-your-answers__answer">{{data['agentName']}}</dd>
        <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Your email</dt>
        <dd class="app-check-your-answers__answer">{{data['agentEmail']}}</dd>
        <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Your address</dt>
        <dd class="app-check-your-answers__answer">
          {{ data['agentAddressLine1'] }}<br/>
          {{ data['agentAddressLine2'] }}<br/>
          {{ data['agentAddressTown'] }}<br/>
          {{ data['agentAddressPostcode'] }}
        </dd>
        <dd class="app-check-your-answers__change"><a href="agent-address">Change</a></dd>
      </div>
      {% endif %}
    </dl>


<h2 class="govuk-heading-m ">What will happen to the item</h2>

    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">What owner intends to do</dt>
        <dd class="app-check-your-answers__answer">{{ data['sellHire'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="sell-or-hire">Change</a></dd>
      </div>
    </dl>

{% else %}

<!-- All other exemptions -->

<h2 class="govuk-heading-m ">The item</h2>

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Ivory type</dt>
      <dd class="app-check-your-answers__answer">
        {% if data['species'] == null %}Elephant
        {% else %}{{ data['species'] }}
        {% endif %}
      </dd>
      <dd class="app-check-your-answers__change"><a href="what-species-expert">Change</a></dd>
    </div>
    <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Type of exemption</dt>
        <dd class="app-check-your-answers__answer">{{ exemptionTypeChosen }}</dd>
        <dd class="app-check-your-answers__change"><a href="what-type-of-item-is-it">Change</a></dd>
      </div>
    <!-- RMI post MVS features -->
      {% if (data['exemptionChoice'] === "type5") and (data['alreadyCertified'] === "No") %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Already has a certficate</dt>
        <dd class="app-check-your-answers__answer">No</dd>
        <dd class="app-check-your-answers__change"><a href="already-certified">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Applied before</dt>
        <dd class="app-check-your-answers__answer">{{ data['appliedBefore'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="applied-before">Change</a></dd>
      </div>
      <!-- RMI Revoked application  -->
      {% elseif (data['exemptionChoice'] === "type5") and (data['alreadyCertified'] === "It used to") %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Already has a certficate</dt>
        <dd class="app-check-your-answers__answer">It used to</dd>
        <dd class="app-check-your-answers__change"><a href="already-certified">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Revoked certificate number</dt>
        <dd class="app-check-your-answers__answer">{{data['previous-number']}}</dd>
        <dd class="app-check-your-answers__change"><a href="previous-previous">Change</a></dd>
      </div>

      {% endif %}
        <!-- RMI Reapplication -->
      {% if (data['exemptionChoice'] === "type5") and (data['alreadyCertified'] === "No") and (data['appliedBefore'] === "Yes") %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Previous application number</dt>
        <dd class="app-check-your-answers__answer">{{ data['previous-number'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="previous-application">Change</a></dd>
      </div>
      {% else %}
      {% endif %}
  </dl>


<h2 class="govuk-heading-m ">Photos of the item</h2>

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Your photos</dt>
        <dd class="app-check-your-answers__answer">
          <ul class="govuk-list">
          {% for photo in data['photos'] %}
            <li>
              <img class="check-your-answers-img" src="{{baseUrl}}/photos/{{photo}}" />
            </li>
          {%  endfor %}
          </ul>
        </dd>
        <dd class="app-check-your-answers__change"><a href="your-photos">Change</a></dd>
      </div>
  </dl>

<h2 class="govuk-heading-m ">Description of the item</h2>

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">What is it?</dt>
        <dd class="app-check-your-answers__answer">{{ data['describe-itemType'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="describe-the-item">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Where's the ivory?</dt>
        <dd class="app-check-your-answers__answer">{{ data['describe-ivory'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="describe-the-item">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Unique, identifying features (optional)</dt>
        <dd class="app-check-your-answers__answer">{{ data['describe-features'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="describe-the-item">Change</a></dd>
      </div>

      {% if data['exemptionChoice'] == 'type5' %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Where was it made?	(optional)</dt>
        <dd class="app-check-your-answers__answer">{{ data['describe-where'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="describe-the-item">Change</a></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">When was it made? (optional)</dt>
        <dd class="app-check-your-answers__answer">{{ data['describe-when'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="describe-the-item">Change</a></dd>
      </div>
      {% else %}
      {% endif %}
  </dl>



<h2 class="govuk-heading-m ">Why item qualifies for exemption</h2>

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      {% if data['exemptionChoice'] != 'type5' %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Proof it has less than {{ ivoryVolume }} ivory</dt>
        <dd class="app-check-your-answers__answer">
          {{ data['ivoryVolume'] }}

          {% if data['ivoryVolume'] != 'Other' %}
          {% else %}
          <br><br>
          Details: {{ data['volumeDetail'] }}
          {% endif %}
        </dd>
        <dd class="app-check-your-answers__change"><a href="ivory-volume">Change</a></dd>
      </div>
      {% else %}
      {% endif %}

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Proof of item's age</dt>
        <dd class="app-check-your-answers__answer">
          {{ data['ivoryAge'] }}

          {% if data['ivoryAge'] != 'Other' %}
          {% else %}
          <br><br>
          Details: {{ ageDetail }}
          {% endif %}
        </dd>
        <dd class="app-check-your-answers__change"><a href="ivory-age">Change</a></dd>
      </div>

      {% if data['exemptionChoice'] == 'type5' %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Why it’s of outstandingly high value</dt>
        <dd class="app-check-your-answers__answer">{{ data['volumeDetail'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="ivory-volume">Change</a></dd>
      </div>
      {% else %}
      {% endif %}

      {% if data['exemptionChoice'] == 'type3' %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Why all ivory is integral</dt>
        <dd class="app-check-your-answers__answer">{{ data['ivoryIntegral'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="ivory-is-integral">Change</a></dd>
      </div>
      {% else %}
      {% endif %}
  </dl>

{% if data['exemptionChoice'] == 'type5' %}
<h2 class="govuk-heading-m ">Documents to support application</h2>

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Your documents</dt>
        <dd class="app-check-your-answers__answer">{{ data['file-upload-1'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="your-documents">Change</a></dd>
      </div>
  </dl>
{% else %}
{% endif %}

{% if agentOwner == 'agent' %}
<h2 class="govuk-heading-m ">Owner and applicant details</h2>
{% else %}
<h2 class="govuk-heading-m ">Owner's details</h2>
{% endif %}

  <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Do you own the item?</dt>
      <dd class="app-check-your-answers__answer">
        {% if agentOwner == 'agent' %}
          No
        {% else %}
          Yes
        {% endif %}</dd>
      <dd class="app-check-your-answers__change"><a href="who-owns-item">Change</a></dd>
    </div>


    {% if agentOwner == 'agent' %}

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Work for a business</dt>
      <dd class="app-check-your-answers__answer">{{data['workForABusiness']}}</dd>
      <dd class="app-check-your-answers__change"><a href="work-for-a-business">Change</a></dd>
    </div>
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Selling on behalf of</dt>
      <dd class="app-check-your-answers__answer">{{data['onBehalfOf']}}</dd>
      <dd class="app-check-your-answers__change"><a href="who-selling-on-behalf-of">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Owner's name</dt>
      <dd class="app-check-your-answers__answer">{{data['ownerName']}}</dd>
      <dd class="app-check-your-answers__change"><a href="owner-name">Change</a></dd>
    </div>
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Owner's email</dt>
      <dd class="app-check-your-answers__answer">{{data['ownerEmail']}}</dd>
      <dd class="app-check-your-answers__change"><a href="owner-name">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Owner's address</dt>
      <dd class="app-check-your-answers__answer">
        {{ data['addressLine1'] }}<br/>
        {{ data['addressLine2'] }}<br/>
        {{ data['addressTown'] }}<br/>
        {{ data['addressPostcode'] }}
      </dd>
      <dd class="app-check-your-answers__change"><a href="owner-address">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your name</dt>
      <dd class="app-check-your-answers__answer">{{data['agentName']}}</dd>
      <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
    </div>
    {% if data['workForABusiness'] == 'Yes' %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Business name</dt>
        <dd class="app-check-your-answers__answer">
            {{data['agentNameBusiness']}}
        </dd>
        <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
      </div>
    {% else %}
    {% endif %}

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your email</dt>
      <dd class="app-check-your-answers__answer">{{data['agentEmail']}}</dd>
      <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your address</dt>
      <dd class="app-check-your-answers__answer">
        {{ data['agentAddressLine1'] }}<br/>
        {{ data['agentAddressLine2'] }}<br/>
        {{ data['agentAddressTown'] }}<br/>
        {{ data['agentAddressPostcode'] }}
      </dd>
      <dd class="app-check-your-answers__change"><a href="agent-address">Change</a></dd>
    </div>

    {% else %}

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your name</dt>
      <dd class="app-check-your-answers__answer">{{data['agentName']}}</dd>
      <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
    </div>
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your email</dt>
      <dd class="app-check-your-answers__answer">{{data['agentEmail']}}</dd>
      <dd class="app-check-your-answers__change"><a href="agent-name">Change</a></dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">Your address</dt>
      <dd class="app-check-your-answers__answer">
        {{ data['agentAddressLine1'] }}<br/>
        {{ data['agentAddressLine2'] }}<br/>
        {{ data['agentAddressTown'] }}<br/>
        {{ data['agentAddressPostcode'] }}
      </dd>
      <dd class="app-check-your-answers__change"><a href="agent-address">Change</a></dd>
    </div>
    {% endif %}
    </dl>



<h2 class="govuk-heading-m ">What will happen to the item</h2>

    <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">What owner intends to do</dt>
        <dd class="app-check-your-answers__answer">{{ data['sellHire'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="sell-or-hire">Change</a></dd>
      </div>
    </dl>


{% endif %}



<!-- LEGAL DECLARATIONS-->


    <h2 class="govuk-heading-m">Legal declaration</h2>

  <!-- Section 2 -->

      <!-- RMI Resubmission-->
      {% if (data['exemptionChoice'] === "type5") and (data['alreadyCertified'] === "Yes") and (data['ownerAgent'] == 'agent') %}
      <p class="govuk-body">Before you continue, you must agree that you have permission to act on the owner’s behalf.</p>
      <p class="govuk-body">Both you and the owner must also agree with the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the information on the certificate remains accurate and complete</li>
          <li>the exemption certificate relates to the item that is to be sold or hired out</li>
          <li>the item continues to satisfy the criteria of being of outstandingly high artistic, cultural or historical value</li>
        </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Something is wrong with the certificate
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">If you notice something is inaccurate or missing from the item's certficate, you must contact the Animal Health and Plant Agency (APHA): <a href="#" class="govuk-link">IvoryAct@apha.gov.uk</a> before continuing.</p>
          <p class="govuk-body">Make sure you include the certificate number in your email.</p>
        </div>
      </details>

      {% elseif (data['exemptionChoice'] == 'type5') and (data['alreadyCertified'] === "Yes") and (data['ownerAgent'] == 'owner') %}
      <p class="govuk-body">Before you continue, you must agree with the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the information on the certificate remains accurate and complete</li>
        <li>the exemption certificate relates to the item that is to be sold or hired out</li>
        <li>the item continues to satisfy the criteria of being of outstandingly high artistic, cultural or historical value</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Something is wrong with the certificate
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">If you notice something is inaccurate or missing from the item's certficate, you must contact the Animal Health and Plant Agency (APHA): <a href="#" class="govuk-link">IvoryAct@apha.gov.uk</a> before continuing.</p>
          <p class="govuk-body">Make sure you include the certificate number in your email.</p>
        </div>
      </details>

      <!-- RMI -->
      {% elseif (data['exemptionChoice'] == 'type5') and (data['ownerAgent'] == 'agent') %}
      <p class="govuk-body">Before you continue, you must agree that you have permission to act on the owner’s behalf.</p>
      <p class="govuk-body">Both you and the owner must also agree with the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the item was made before 1918</li>
          <li>any replacement ivory was taken from an elephant before 1 January 1975</li>
          <li>the information you’ve provided is complete and correct</li>
        </ul>
      <p class="govuk-body">By making this application, I confirm that I believe:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the item is of outstandingly high artistic, cultural or historical value</li>
        </ul>

      {% elseif (data['exemptionChoice'] == 'type5') and (data['ownerAgent'] == 'owner') %}
      <p class="govuk-body">Before you continue, you must agree with the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the item was made before 1918</li>
          <li>any replacement ivory was taken from an elephant before 1 January 1975</li>
          <li>the information you’ve provided is complete and correct</li>
        </ul>
      <p class="govuk-body">By making this application, I confirm that I believe:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the item is of outstandingly high artistic, cultural or historical value</li>
        </ul>
      {% else %}
      {% endif %}


  <!-- Section 10 -->

    {% if (data['exemptionChoice'] != 'type5') and (data['ownerAgent'] == 'agent') %}
      <p class="govuk-body">Before you continue, you must agree that you have permission to act on the owner’s behalf.</p>
      <p class="govuk-body">Both you and the owner must also agree with the following:</p>
      {% elseif (data['exemptionChoice'] != 'type5') and (data['ownerAgent'] == 'owner') %}
      <p class="govuk-body">Before you continue, you must agree to the following:</p>
      {% else %}
      {% endif %}

      <!-- less than 10% -->
      {% if data['exemptionChoice'] == 'type1' %}

      <ul class="govuk-list govuk-list--bullet">
        <li>the item was made before 3 March 1947</li>
        <li>the item contains less than 10% ivory by volume</li>
        <li>all the ivory in the item is integral to it</li>
        <li>any replacement ivory was taken from an elephant before 1 January 1975</li>
        <li>the information you’ve provided is complete and correct</li>
      </ul>

      <!-- musical instrument -->
      {% elseif data['exemptionChoice'] == 'type2' %}

      <ul class="govuk-list govuk-list--bullet">
        <li>the musical instrument was made before 1975</li>
        <li>the instrument contains less than 20% ivory by volume</li>
        <li>any replacement ivory was taken from an elephant before 1 January 1975</li>
        <li>the information you’ve provided is complete and correct</li>
      </ul>

      <!-- museum -->
      {% elseif data['exemptionChoice'] == 'type4' %}

      <ul class="govuk-list govuk-list--bullet">
        <li>the item is to be sold or hired out to a qualifying museum</li>
        <li>the information you’ve provided is complete and correct</li>
      </ul>

      <!-- portrait miniature -->
      {% elseif data['exemptionChoice'] == 'type3' %}

      <ul class="govuk-list govuk-list--bullet">
        <li>the portrait miniature was made before 1918</li>
        <li>the surface area of ivory on the miniature is less than 320 square centimetres</li>
        <li>any replacement ivory was taken from an elephant before 1 January 1975</li>
        <li>the information you’ve provided is complete and correct</li>
      </ul>

      {% else %}
      {% endif %}

      <div class="govuk-form-group">
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="legalDec" name="legalDec" type="checkbox" value="agree">
            <label class="govuk-label govuk-checkboxes__label" for="legalDec">
              I agree
            </label>
          </div>
        </div>
      </div>

    <form method="post" autocomplete="off" {{ novalidateVal }}>
      {% if data['exemptionChoice'] == 'type5' %}
        <button class="govuk-button">Agree and continue</button>
      {% else %}
        <button class="govuk-button">Agree and submit</button>
      {% endif %}
    </form>

  </div>
</div>
{% endblock %}
