
{% block pageTitle %}
Registration complete
{% endblock %}


{% extends "./layout.html" %}
<!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
{% block beforeContent %}
  {% include "../includes/stage-banner.html" %}
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">Application complete</h1>
      <div class="govuk-panel__body">
        Application number
        <br><strong>4HCP37NL</strong>
      </div>
    </div>

    <p class="govuk-body">We’ve sent confirmation of this application to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{data['agentEmail']}}</li>
      {% if data['ownerEmail'] != null %}
      <li>{{data['ownerEmail']}}</li>
      {% else %}
      {% endif %}
    </ul>

    <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">An expert will now check your application.</p>

      <p class="govuk-body">We will let you know within 30 days if they agree that your item is exempt from the ivory ban.</p>

      <p class="govuk-body">If your application is approved, we will send you an exemption certificate so you can sell or hire out your item.</p>

      <p class="govuk-body">If you have not heard from us within 30 days, you can contact us at <a href="mailto:">ivory@apha.gov.uk</a>. Make sure you have your registration number, so we can find your application.</p>




<!-- CITES PERMIT (EXPORT FROM UK) -->
{% if (data['outsideUK'] == "No") and (data['dealingIntent'] == "Outside the UK") %}

    <h2 class="govuk-heading-m">You have other legal obligations</h2>
    <p class="govuk-body">As part of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES), you will also need to <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/endangered-species-application-for-import-and-export-permit">apply for a CITES permit (opens in a new window or tab)</a>.</p>

    <p class="govuk-body">This is because you’ve told us you will be importing or re-exporting your item.</p>


<!-- CITES PERMIT (IMPORT TO UK) -->
{% elseif (data['outsideUK'] == "Yes") and (data['dealingIntent'] == "Within the UK") %}
      <h2 class="govuk-heading-m">You have other legal obligations</h2>
      <p class="govuk-body">As part of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES), you will also need to <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/endangered-species-application-for-import-and-export-permit">apply for a CITES permit (opens in a new window or tab)</a>.</p>

      <p class="govuk-body">This is because you’ve told us you will be importing or re-exporting your item.</p>


<!-- CITES PERMIT (Item Outside UK, unsure about intent) -->
{% elseif (data['outsideUK'] == "Yes") and (data['dealingIntent'] == "I don't know") %}
      <h2 class="govuk-heading-m">You may have other legal obligations</h2>
      <p class="govuk-body">As part of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES), if you end up selling or hiring the item out to someone in the UK, you will also need to <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/endangered-species-application-for-import-and-export-permit">apply for a CITES permit (opens in a new window or tab)</a>.</p>


<!-- CITES PERMIT (Item inside UK, unsure about intent) -->
{% else %}
      <h2 class="govuk-heading-m">You may have other legal obligations</h2>
      <p class="govuk-body">As part of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES), if you end up selling or hiring the item out to someone outside the UK, you will also need to <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/endangered-species-application-for-import-and-export-permit">apply for a CITES permit (opens in a new window or tab)</a>.</p>


{% endif %}


    <p class="govuk-body invisible-link">
          <a href="confirmation-email?e=type1" class="govuk-link">View confirmation email</a>
    </p>


  </div>
</div>


{% endblock %}
