{% extends "./layout.html" %}


{% set thisPageTitle = "Confirm the volume of ivory" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <!--    <form method="post" autocomplete="off" {{ novalidateVal }}>-->
    <form method="post" autocomplete="off">


      <div class="govuk-form-group">

        {% if data['exemptionChoice'] == 'type5' %}

        <h1 class="govuk-heading-l">Tell us why your item is of outstandingly high artistic, cultural or historical value </h1>

        <p class="govuk-body">Give as much detail as you can.</p>

        <p class="govuk-body">We need to know why your item is a rare and socially significant example of its type.</p>

        <p class="govuk-body govuk-!-margin-bottom-0">We will not approve your item if it only has sentimental or financial value.</p>


        <div class="govuk-form-group">
          <label class="govuk-label" style="visibility: hidden" for="volume-detail">
            What evidence can you provide to support your application?
          </label>
          <textarea required class="govuk-textarea" id="volume-detail" name="volumeDetail" rows="5" aria-describedby="volume-detail-hint">{{ data['volumeDetail'] }}</textarea>
        </div>



        <!-- <h2 class="govuk-heading-m">Add up to 3 files</h2>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Upload a file
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div> -->


        {% else %}


        <h1 class="govuk-heading-l">
          How do you know the {{ ivoryType }} has less than {{ ivoryVolume }} ivory?
        </h1>


        {% set ivoryVolumeOtherHtml %}
        {{ govukTextarea({
          id: "volumeDetail",
          name: "volumeDetail",
          classes: "govuk-!-width-full",
          value: data['volumeDetail'],
          label: {
            text: "Give details"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "ivoryVolume",
          hint: {
            text: "If you have multiple reasons, just choose one"
          },
          items: [
            {
              value: "Estimate of ivory content by eye",
              text: "Estimate of ivory content by eye",
              id: "ivory-volume-eye",
              checked: checked("ivoryVolume", "Estimate of ivory content by eye")
            },
            {
              value: "Measured the item to work out the volume",
              text: "Measured the item to work out the volume",
              id: "ivory-volume-measured",
              checked: checked("ivoryVolume", "Measured the item to work out the volume")
            },
            {
              value: "Written verification from an expert",
              text: "Written verification from an expert",
              id: "ivory-volume-expert",
              checked: checked("ivoryVolume", "Written verification from an expert")
            },
            {
              value: "Other",
              text: "Other",
              id: "ivory-age-other",
              checked: checked("ivoryVolume", "Other"),
              conditional: {
                html: ivoryVolumeOtherHtml
              }
            }
          ]
        }) }}


        {% endif %}

      </div>


      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>


{% endblock %}
