{% extends "./layout.html" %}


{% set thisPageTitle = "Confirm the volume of ivory" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <!--    <form method="post" autocomplete="off" {{ novalidateVal }}>-->
    <form method="post" autocomplete="off">


      <div class="govuk-form-group">

        {% if data['exemptionChoice'] == 'type5' %}

        <h1 class="govuk-heading-l">Why is your item of outstandingly high artistic, cultural or historical value?</h1>

        <p class="govuk-body">An item that only has sentimental value would not qualify, regardless of how important it is to you personally.</p>

        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
               What qualifies as outstandingly high artistic, cultural or historical value?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Each item is assessed individually by recognised experts. They set a very high threshold when approving items for sale or hire.</p>
            <p class="govuk-body">They’ll consider various things, such as whether an item:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>is unique or extremely rare</li>
              <li>is of high artistic or aesthetic quality, for example from a known artist, school or studio</li>
              <li>is in better condition than other items like it</li>
              <li>is part of a well-known collection</li>
              <li>has an important history</li>
              <li>is important to a specific place or region</li>
              <li>has previously been recognised for its value or status, for example being recognised as a national treasure</li>
            </ul>
          </div>
        </details>

        <div class="govuk-form-group">
          <label class="govuk-label" style="visibility: hidden" for="volume-detail">
            What evidence can you provide to support your application?
          </label>
          <textarea class="govuk-textarea" id="volume-detail" name="volumeDetail" rows="3" aria-describedby="volume-detail-hint">{{ data['volumeDetail'] }}</textarea>
        </div>



        <!-- <h2 class="govuk-heading-m">Add up to 3 files</h2>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Upload a file
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div> -->


        {% else %}


        <h1 class="govuk-heading-l">
          How do you know the {{ ivoryType }} has less than {{ ivoryVolume }} ivory?
        </h1>


        {% set ivoryVolumeOtherHtml %}
        {{ govukTextarea({
          id: "volumeDetail",
          name: "volumeDetail",
          classes: "govuk-!-width-full",
          value: data['volumeDetail'],
          label: {
            text: "Give details"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "ivoryVolume",
          hint: {
            text: "If you have multiple reasons, just choose one"
          },
          items: [
            {
              value: "Estimate of ivory content by eye",
              text: "Estimate of ivory content by eye",
              id: "ivory-volume-eye",
              checked: checked("ivoryVolume", "Estimate of ivory content by eye")
            },
            {
              value: "Measured the item to work out the volume",
              text: "Measured the item to work out the volume",
              id: "ivory-volume-measured",
              checked: checked("ivoryVolume", "Measured the item to work out the volume")
            },
            {
              value: "Written verification from an expert",
              text: "Written verification from an expert",
              id: "ivory-volume-expert",
              checked: checked("ivoryVolume", "Written verification from an expert")
            },
            {
              value: "Other",
              text: "Other",
              id: "ivory-age-other",
              checked: checked("ivoryVolume", "Other"),
              conditional: {
                html: ivoryVolumeOtherHtml
              }
            }
          ]
        }) }}


        {% endif %}

      </div>


      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>


{% endblock %}
