{% extends "./layout.html" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

        <h1 class="govuk-heading-l">
          Confirm your address
        </h1>

        <p class="govuk-body govuk-!-margin-bottom-0">{{ data['agentAddressLine1'] }} {{ data['agentAddressLine2'] }}</p>
        <p class="govuk-body govuk-!-margin-bottom-0">{{ data['agentAddressTown'] }}</p>
        <p class="govuk-body">{{ data['agentAddressPostcode'] }}</p>

        <p class="govuk-body"><a href="agent-address-manual">Edit the address</a></p>

      <button class="govuk-button">Confirm and continue</button>


    </form>



  </div>
</div>


{% endblock %}
