
{% set tocPage = true %}

{% extends "./layout.html" %}

{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">


{% endblock %}


{% block pageTitle %}
Ivory Act 2018 guidance
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>



  <div class="govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list" style="font-size: 16px">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>



{% endblock %}



{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text gem-c-title__text--long">
        How to legally sell or buy ivory
      </h1>
    </div>

    <!-- <p class="gem-c-lead-paragraph ">
      What to do if you want to sell, hire or buy items that have elephant ivory in them.
    </p> -->

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata" lang="en">
        <div class="app-c-published-dates " lang="en">
          Published 2 December 2019
        </div>

        <div class="app-c-publisher-metadata__other">
          <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
              <span class="app-c-publisher-metadata__definition-sentence">
                <a href="/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a>
              </span>
            </dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<!-- CONTENTS LIST -->

    <div class="govuk-!-margin-bottom-7" id="toc" class="toc"></div>


    <div class="gem-c-govspeak govuk-govspeak direction-ltr">


      <div class="govspeak">

<h2 id="selling-an-ivory-item">Ivory items you can legally sell or buy</h2>

        <p>The <a href="https://www.legislation.gov.uk/ukpga/2018/30/contents/enacted">Ivory Act 2018</a> makes it illegal to deal in most items that contain elephant ivory. There are some exemptions.</p>

        <div class="govuk-warning-text govuk-!-margin-bottom-0">
          <span class="govuk-warning-text__icon" aria-hidden="true" style="margin-top: -20px; min-width: 32px">!</span>
          <strong class="govuk-warning-text__text" style="font-size: 19px; padding-left: 53px">
            <span class="govuk-warning-text__assistive">Warning</span>
            You can be fined up to £250,000 and sent to prison if you sell, buy or otherwise deal in elephant ivory that does not meet the exemption criteria.
          </strong>
        </div>

<h3 id="know-your-items-category">Items that are exempt from the ivory ban</h3>

        <p>The following items can be bought, sold or hired, but only if the owner tells us about them first:</p>

        <ul>
          <li>musical instruments made before 1975 with less than 20% ivory by volume</li>
          <li>items made before 1947 with less than 10% ivory by volume</li>
          <li>portrait miniatures made before 1918 with a surface area smaller than 320 square centimetres</li>
          <li>items that a qualifying museum intends to buy or hire</li>
          <li>items made before 1918 that are rare and extremely valuable</li>
        </ul>

        <p style="margin-top: 30px"><a href="know-items-exempt">Tell us you want to sell or hire out an exempt item</a> using our online service.</p>

        <p>If you’re not completely certain if your item is exempt, the service can help you decide.</p>

<h3 id="know-your-items-category">What you can do with ivory that is not exempt
</h3>

        <p>If you own ivory that does not meet the Ivory Act exemption criteria, you are legally allowed to:</p>

        <ul>
          <li>keep it</li>
          <li>give it away as a gift</li>
          <li>give it to someone in your will</li>
        </ul>

<h3 id="know-your-items-category">How the Ivory Act helps protect elephants
</h3>

        <p>The government believes that demand for ivory will exist so long as there are legal markets for it.</p>

        <p>Legal markets make it easier for people to sell new ivory from recently killed elephants. For example, illegal ivory traffickers use artificial staining and other ageing techniques, which make it extremely difficult for anyone to tell the difference between illegal and legal ivory.</p>

        <p>Closing down domestic ivory markets will reduce the demand for ivory, which in turn will help save elephants in the wild.</p>

        <p>The UK’s ivory ban is one of the toughest in the world. It aims to:</p>

        <ul>
          <li>remove the financial value from ivory</li>
          <li>reduce the opportunity for new ivory to be laundered through legal markets</li>
          <li>significantly reduce the flow of ivory from the UK to overseas markets</li>
          <li>send a clear message to the rest of the world that the UK no longer considers ivory to be an acceptable commodity</li>
          <li>encourage other countries to take similar actions</li>
        </ul>





<h2 id="check">Check if your item meets the exemption criteria</h2>

        <p>The ivory ban extends to most items that contain elephant ivory.</p>


<h3 id="know-your-items-category">How to tell if an item contains elephant ivory</h3>

        <p>It can be extremely difficult to tell the difference between:</p>

        <ul>
          <li>elephant ivory</li>
          <li>other types of ivory, such as walrus</li>
          <li>fake ivory, such as ivorine</li>
          <li>certain types of animal bone</li>
        </ul>

        <p>If you are not sure about the item you want to sell or buy, you must consult an expert first.</p>


<h3 id="know-your-items-category">Items that contain replacement ivory
</h3>

        <p>You cannot sell or buy an exempt item if it’s been repaired with ivory taken from an elephant on or after 1 January 1975.</p>


<h3 id="know-your-items-category">Guidance for musical instruments
</h3>

        <p>A musical instrument (or accessory used to play a musical instrument) is exempt from the ivory ban if it:</p>

        <ul>
          <li>was made before 1 January 1975</li>
          <li>has less than 20% ivory by volume</li>
        </ul>

        <p>You must <a href="know-items-exempt">tell us before you sell or hire one out</a>.</p>

        <p>You’ll need to treat accessories used to play a musical instrument, for example, a violin bow, as separate items when you tell us about them.</p>

<h4 class="govuk-hint" id="know-your-items-category">What is not a musical instrument
</h4>

        <p>You cannot register an item as a musical instrument if it is:</p>

        <ul>
          <li>in the shape of a musical instrument but not designed to be played</li>
          <li>used to create music or rhythm but was not made originally for that purpose</li>
          <li>an individual piano key or a set of keys</li>
        </ul>

<h4 class="govuk-hint" id="know-your-items-category">When you don’t need to register a musical instrument
</h4>

        <p>You do not need to register an instrument to:</p>

        <ul>
          <li>play it to an audience, even if you’ll be paid</li>
          <li>teach lessons</li>
          <li>take it abroad for personal use, professional performance or repair</li>
        </ul>

<h4 class="govuk-hint" id="know-your-items-category">How to measure the ivory volume of musical instruments
</h4>

        <p>Make a reasonable assessment of the volume of ivory by either:</p>

        <ul>
          <li>estimating by eye, if it’s easy to tell</li>
          <li>calculating the amount of ivory as a percentage of the total volume of the material the item is made of</li>
        </ul>

        <p>Don’t include empty spaces within an item in your measurement, for instance the space within a violin or piano. Any bag, for example in a set of bagpipes, should be deflated when making the assessment.</p>

        <p>If it is difficult to know whether an item has empty spaces, you don’t need to damage it to find out; you can assess it based on knowledge of similar items.</p>



<h3 id="know-your-items-category">Items with less than 10% ivory
</h3>

        <p>Items with less than 10% ivory by volume are exempt from the ivory ban if:</p>

        <ul>
          <li>they were made before 3 March 1947</li>
          <li>the ivory in the item is integral to the item</li>
        </ul>

        <p>You must <a href="know-items-exempt">tell us before you sell or hire one out</a>.</p>

<h4 class="govuk-hint" id="know-your-items-category">The ivory must be integral
</h4>

        <p>This means that one of the following must be true:</p>

        <ul>
          <li>the ivory is essential to the design or function of the item</li>
          <li>you cannot remove the ivory easily or without risk of damage </li>
        </ul>

        <p>Examples of items where the ivory is integral include:</p>

        <ul>
          <li>a detachable ivory knob from a teapot or measuring instrument </li>
          <li>an original ivory inlay on a piece of furniture</li>
        </ul>

        <p>An ivory statue which has been temporarily mounted on a plinth would not qualify. </p>


<h4 class="govuk-hint" id="know-your-items-category">How to measure ivory volume of items with less than 10% ivory
</h4>

        <p>Make a reasonable assessment of the volume of ivory by either:</p>

        <ul>
          <li>estimating by eye, if it’s easy to tell</li>
          <li>calculating the amount of ivory as a percentage of the total volume of the material the item is made of</li>
        </ul>

        <p>Don’t include empty spaces within an item when calculating the total volume of the item. For example, the space within a chest of drawers or a teapot does not count towards its total volume.</p>

        <p>If it is difficult to know whether an item has empty spaces, you don’t need to damage it to find out; you can assess it based on knowledge of similar items.</p>

        <p>For some items with thin pieces of ivory on the surface (inlays), it may be difficult to calculate the depth of the ivory. The surface area of the ivory inlay may be over 10% of the total surface area of the item, but the ivory volume may still be below 10%. This is because the inlay is so thin.</p>


<h3 id="know-your-items-category">Portrait miniatures
</h3>

        <p>A portrait miniature is a portrait usually created in the 18th or 19th century, often painted on very thin pieces of ivory.</p>

        <p>Portrait miniatures are exempt from the ivory ban if:</p>

        <ul>
          <li>they were made before 1 January 1918</li>
          <li>the surface area you can see is less than 320 square centimetres</li>
        </ul>

        <p>You must <a href="know-items-exempt">tell us before you sell or hire one out</a>.</p>


<h4 class="govuk-hint" id="know-your-items-category">How to measure a portrait miniature
</h4>

        <p>The surface area you can see must be less than 320 square centimetres. This does not include the frame or areas covered by the frame.</p>



<h3 id="know-your-items-category">Selling or hiring to qualifying museums
</h3>

        <p>Ivory items you intend to to sell or hire out to a qualifying museum are exempt from the ivory ban. The item does not need to meet any other exemption criteria.</p>

        <p>You must <a href="know-items-exempt">tell us before you sell or hire one out</a>.</p>

        <p>A qualifying museum is one that is accredited in the UK by, or on behalf of:</p>

        <ul>
          <li>Arts Council England</li>
          <li>Museum Galleries Scotland </li>
          <li>Northern Ireland Museums Council</li>
          <li>The Museums, Archives and Libraries Division of the Welsh Government</li>
          <li>the International Council of Museums (ICOM)</li>
        </ul>

        <p>So long as the item is not raw (‘unworked’) ivory, a qualifying museum does not need to tell us if they buy, sell or hire ivory items to another qualifying museum. However, if they buy or sell an ivory item to an ICOM member, the export or import of ivory must comply with EU Wildlife Trade Regulations.</p>

        <p>All museums (qualifying or not) can continue to accept donations and gifts of ivory items, as long as they are not in return for any other goods or services.</p>





 <h2 id="how">How to sell or hire out an ivory item</h2>

        <p>If your item is exempt from the ivory ban, you must tell us before you:</p>

        <ul>
          <li>sell or hire it out</li>
          <li>offer to sell or hire it out</li>
          <li>exchange it for goods or services</li>
          <li>keep it for sale or hire</li>
          <li>export or import it with the intention to sell or hire it out</li>
        </ul>

<h3 id="know-your-items-category">Rare and extremely valuable items
</h3>

        <p>If your item is rare and extremely valuable, you’ll need to apply for an expert to certify the item. You must wait to receive your exemption certificate before you can sell or hire out the item. This usually takes 30 days.</p>


<h3 id="know-your-items-category">Other exempt items
</h3>

        <p>For all other items that are exempt from the ivory ban, you’ll need to complete an online self-assessment. After this, you’ll be able to sell or hire out your item immediately.</p>

        <div class="govuk-inset-text">
          <p>If you self-assess an ivory item, you must be certain that it meets all the exemption criteria. If we later find out that it does not, we may seize the item.</p>
        </div>

        <p><a href="start-new">Tell us you want to sell or hire out an exempt item</a>.</p>



<h3 id="know-your-items-category">When you may also need to apply for a CITES permit or license
</h3>

        <p>As part of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES), you may also need to buy a permit or certificate to trade an item made from an endangered species.</p>

        <p>If you intend to:</p>

        <ul>
          <li>import or export elephant ivory that meets the Ivory Act exemption criteria, you’ll also need to <a href="#">apply for a CITES permit</a></li>
          <li>sell or hire out a musical instrument made between 1947 and 1975 that meets the Ivory Act exemption criteria, you’ll also need to <a href="#">apply for a CITES certificate</a></li>
        </ul>



<h2 id="buying">What to do when you buy an ivory item</h2>

        <p>If you are buying or hiring an ivory item from someone else, you must be certain that the item is exempt before you proceed.</p>

        <p>We can seize items that we later find out were traded illegally. We can also fine or prosecute anyone who buys or hires illegal ivory if we discover that they did not do everything possible to comply with the law.</p>



      </div>

      </div>

    </div>


</div>



{% endblock %}
