{% extends "./layout.html" %}


<!-- Adds a class to increase vertical spacing for pages without a back button -->
<!-- Nunjucks line commented out using {# or now -->
{# {% set mainClasses = "govuk-main-wrapper--l" %} #}

<!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
{% block beforeContent %}
  {% include "../includes/stage-banner.html" %}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{serviceName}}</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You can be fined up to £250,000 and/or sent to prison if you sell, hire or buy an item containing ivory if it has not been registered or certified.</strong>
    </div>



    <!-- <p class="govuk-body">Use this service to:</p> -->

    <p class="govuk-body">Before you sell or hire an item containing ivory, you must use this service to:</p>


    <h2 class="govuk-heading-m">Either <span class="govuk-heading-s govuk-!-margin-top-3">Register the item for a single sale or for hiring out</span></h2>

    <p class="govuk-body">It costs £XX to register an item if it's one of the following:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a musical instrument made before 1975 with less than 20% ivory</li>
      <li>an item made before 1947 with less than 10% ivory</li>
      <li>a portrait miniature made before 1918</li>
      <li>an item you’ll sell or hire to an approved museum</li>
    </ul>


    <h2 class="govuk-heading-m">Or <span class="govuk-heading-s govuk-!-margin-top-3">Apply for a certificate for the item</span></h2>

    <p class="govuk-body">It costs £XXX to apply for a certificate. Your application will be checked by an approved assessor. It may take up to 30 days.</p>

    <p class="govuk-body">The item must have been made before 1918 and be the rareset and most important of its type.</p>





    <p class="govuk-body govuk-!-margin-top-9">Read the <a href="selling-hiring-buying-ivory">guide to selling, hiring and buying items with ivory</a>.</p>

    <p class="govuk-body">You'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a photo of the item</li>
      <li>a debit or credit card</li>
    </uL>


    <a href="start-prototype" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
    </a>


    <h2 class="govuk-heading-m">Other ways to apply</h2>

    <p class="govuk-body">You can also register or <a href="">apply for a certificate using a paper form</a>.</p>





  </div>
</div>

</main>
</div>


{% endblock %}
