{% extends "./layout.html" %}


{% set thisPageTitle = "Was it made before 1975?" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form method="post" autocomplete="off" {{ novalidateVal }}>

      {{ govukRadios({
        idPrefix: "pre-1975",
        name: "pre-1975",
        fieldset: {
          legend: {
            text: thisPageTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: checked("pre-1975", "Yes")
        },
        {
          value: "No",
          text: "No",
          checked: checked("pre-1975", "No")
        },
        {
          value: "Not sure",
          text: "I'm not sure",
          checked: checked("pre-1975", "Not sure")
        }
        ]
      }) }}


      <button class="govuk-button">Continue</button>

    </form>

    <!-- <p class="govuk-body govuk-!-padding-top-9"><a href="based-on-your-answers">List of outcomes</a></p> -->

  </div>
</div>



{% endblock %}
