{% set pageTitle = "Your photos" %}

{% extends "./layout.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
{{ pageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">Your photos</h1>

      {{ govukSummaryList({
        rows: photosSummaryList
      }) }}


      {% if photosSummaryList.length < 6 %}


      <details class="govuk-details" data-module="govuk-details">

        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Add another photo
          </span>
        </summary>

        <div class="govuk-details__text">

          <form method="post" autocomplete="off" novalidate enctype="multipart/form-data">


            <div class="govuk-form-group {% if errorNoFile %}govuk-form-group--error{% endif %}">

              <span id="hint" class="govuk-body">

                {% if photosSummaryList.length == 5 %}

                <p class="govuk-body">You can add 1 more photo.</p>
                 {% else %}
                          <p class="govuk-body">You can add up to {{ ( 6 - photosSummaryList.length ) }} more photos.</p>

                {% endif %}

                <p class="govuk-body">You must show:</p>

                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                  <li>the whole item</li>
                  <li>any unique features</li>
                </ul>

              </span>


              {% if errorNoFile %}

              <span id="errorNoFile" class="govuk-error-message">{{errorNoFile}}</span>

              {% endif %}

              <div class="field-file-input">

                <input class="govuk-file-upload" id="fileToUpload" name="fileToUpload" type="file" multiple value="" accept='image/*'>

              </div>

            </div>

            <form method="post" autocomplete="off" novalidate >


            <button class="govuk-button govuk-button--secondary">Continue</button>

          </form>

        </div>
      </details>

<!--      <p class="govuk-body govuk-!-margin-bottom-7">-->
<!--        <a href="add-photo">Add another photo</a>-->
<!--      </p>-->

      {%  endif %}

    <form method="post" autocomplete="off" novalidate >

      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
