{% set pageTitle = "Check photo" %}

{% extends "./layout.html" %}

{% block pageTitle %}
{{ pageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">This is your photo</h1>


    <div class="check-photo">
      <img src="{{baseUrl}}/photos/{{photo}}" />
    </div>


    <form method="post" autocomplete="off" novalidate >
      <button class="govuk-button">Use this photo</button>
    </form>

    <p class="govuk-body"><a href='{{baseUrl}}/public/use-different-photo'>Use a different photo</a></p>

  </div>
</div>


{% endblock %}
