
{% block pageTitle %}
self-declaration complete
{% endblock %}


{% extends "./layout.html" %}
<!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
{% block beforeContent %}
  {% include "../includes/stage-banner.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Self-declaration complete</h1>
        <div class="govuk-panel__body">
          Submission reference
          <br><strong>4HCP37NL</strong>
        </div>
      </div>

        <p class="govuk-body">We’ve also sent these details to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{data['agentEmail']}}</li>
          {% if data['ownerEmail'] != null %}
          <li>{{data['ownerEmail']}}</li>
          {% else %}
          {% endif %}
        </ul>

      <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">You can sell or hire out the item at your own risk.</p>
        <p class="govuk-body">If we later discover that any of the information you have given is incorrect, your registration may be cancelled, and you may be subject to a fine of up to £250,000, or 5 years imprisonment.</p>
        <p class="govuk-body">This registration expires when the owner of the item changes.</p>

      <!-- <a href="guidance-new" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">Finish</a> -->

      <p class="govuk-body">
            <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>

      <p class="govuk-body invisible-link">
            <a href="confirmation-email" class="govuk-link">View confirmation email</a>
      </p>


    </div>
  </div>


{% endblock %}
