{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Ivory service prototypes</h1>

        <!-- <p><a href="#">Prototype change log</a></p> -->

        <dl class="govuk-list">
          <dt><a href="/v07/">Version 07</a> </dt> <dd>Work in progress</dd>
          <dt><a href="/v06/">Version 06</a> </dt> <dd>For testing on August 28</dd>
          <dt><a href="/v05/">Version 05</a> </dt> <dd>For testing on August 6</dd>
            <dt><a href="/v04.2/">Version 04.2 </a></dt> <dd> Sprint 4 Beta</dd>
            <dt><a href="/v04/">Version 04</a> </dt> <dd>Start of Beta</dd>
            <dt><a href="/v03/">Version 03</a> </dt> <dd>End of Alpha</dd>
        </dl>

    </div>
</div>


{% endblock %}
