{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Ivory service prototypes</h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
              Version
            </dt>
            <dd class="govuk-summary-list__key">
              Changes
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v22
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s"></h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>RMI (lite) reregistering, and RMI reapplying, RMI revoked journeys added</li>
                        <li>Max file and photo size changed to 10MB</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v22/">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v21
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s"></h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>3rd party registration complete redesign</li>
                        <li>Content updates after laywer fact check: guidance, what type of item is it, etc</li>
                        <li>Legal declarations updated</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v21/public/guidance-new">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row" style="background: lightgrey">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px; padding-left: 15px">
              v20 - MVS version
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">User research throughout June</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>MVS design/content mop up</li>
                        <li>Guidance content updates</li>
                        <li>Moved photo upload forwards to accomodate document upload for s2</li>
                        <li>Content updates throughout</li>
                    </ul>
              <h2 class="govuk-heading-s">Updates after 02/07/21</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Check answers redesign and update</li>
                        <li>Confirmation emails updated</li>
                        <li>Guidance updated to include key messages content</li>
                        <li>CITES signposting and questions removed for now (for MVS)</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions" style="padding-right: 15px">
              <a class="govuk-button" href="/v20/">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v19
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">User research throughout May</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>CITES signposting redesign</li>
                        <li>New guidance format, blue banner with start button</li>
                        <li>Attaching supporting documents added to s2 flow</li>
                        <li>Photo uploader brought on pattern and back to one at a time</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v19/">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v18
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">User research 04/05/21</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Split guidance into 4 guides</li>
                        <li>Eligibility checker content updates</li>
                        <li>Photo uploader copy updates and remove confirm page</li>
                        <li>s10 description to match new s2 pattern</li>
                        <li>New service name</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v18/">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v17
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">User research 19/04/21</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>RMI flow and content</li>
                        <li>RMI confirmation, success and rejection emails</li>
                        <li>UPDATED 12/04/21: RMI 'proof' questions and content</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v17/">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v16
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">User research on 22 March 2021</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Flipped radios on integral Q</li>
                        <li>Flipped third party details order</li>
                        <li>Eligibility checker redesign - broken up</li>
                        <li>Museums flow added</li>
                        <li>Dynamic CITES content and q's added</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v16/">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v15
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">User research on 8 March 2021</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Updated guidance and routes into the service (stripped out most of reg vs cert information, new first question)</li>
                        <li>Reordering of legal messages/halt</li>
                        <li>Address lookup</li>
                        <li>Dynamic legal declarations</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v15/">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v14
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">User research on 22 February 2021</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Start of journey reworked/ordered</li>
                        <li>Additional integral and replacement ivory q's</li>
                        <li>Legal declarations redesigned</li>
                        <li>What happens next content updates, reg redesign</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v14/">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v13
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">User research on 8 February 2021</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Stripped back to focus on public facing seller journeys only</li>
                        <li>Eligibility checker added</li>
                        <li>2x scenarios, 2x guidance, start page vs legal halt page</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v13/">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Archived prototypes (2019)</h2>
        <dl class="govuk-list">
            <dt><a href="/v12.1/">Version 12.1</a></dt> <dd>For testing 20 Jan 2020. Content matches Question Protocol V3</dd>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View all archived prototypes
                </span>
              </summary>
              <div class="govuk-details__text">
                <dt><a href="/v12/">Version 12</a></dt> <dd>APHA views. Multiple photos v0.1</dd>
                <dt><a href="/v11/">Version 11</a> </dt> <dd>Confirmation UX and removed checkers. For testing Tuesday 3 December 2019.</dd>
                <dt><a href="/v10/">Version 10</a> </dt> <dd>Sprint 10 - APHA ivory register and Apply for RMI tester</dd>
                <dt><a href="/v09/">Version 09</a> </dt> <dd>Sprint 9 - Confirmation messages</dd>
                <dt><a href="/v08/">Version 08</a> </dt> <dd>For testing on 25 September 2019</dd>
                <dt><a href="/v07/">Version 07</a> </dt> <dd>Tested on 11 September 2019, included buyer look up</dd>
                <dt><a href="/v06/">Version 06</a> </dt> <dd>For testing on August 28</dd>
                <dt><a href="/v05/">Version 05</a> </dt> <dd>For testing on August 6</dd>
                <dt><a href="/v04.2/">Version 04.2 </a></dt> <dd> Sprint 4 Beta</dd>
                <dt><a href="/v04/">Version 04</a> </dt> <dd>Start of Beta</dd>
                <dt><a href="/v03/">Version 03</a> </dt> <dd>End of Alpha</dd>
              </div>

            </details>
        </dl>

    </div>
</div>


{% endblock %}
