{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Ivory service prototypes</h1>

        <!-- <p><a href="#">Prototype change log</a></p> -->

        <dl class="govuk-list">
<!--            <dt><a href="/vX/">Version X</a> </dt> <dd>End of January 2020 Release</dd>-->
            <dt><a href="/v12/">Version 12</a></dt> <dd>APHA views. (Multiple photos not yet functional/available for testing)</dd>
            <dt><a href="/v11/">Version 11</a> </dt> <dd>Confirmation UX and removed checkers. For testing Tuesday 3 December 2019.</dd>
            <dt><a href="/v10/">Version 10</a> </dt> <dd>Sprint 10 - APHA ivory register and Apply for RMI tester</dd>
            <dt><a href="/v09/">Version 09</a> </dt> <dd>Sprint 9 - Confirmation messages</dd>
          <dt><a href="/v08/">Version 08</a> </dt> <dd>For testing on 25 September 2019</dd>
          <dt><a href="/v07/">Version 07</a> </dt> <dd>Tested on 11 September 2019, included buyer look up</dd>
          <dt><a href="/v06/">Version 06</a> </dt> <dd>For testing on August 28</dd>
          <dt><a href="/v05/">Version 05</a> </dt> <dd>For testing on August 6</dd>
            <dt><a href="/v04.2/">Version 04.2 </a></dt> <dd> Sprint 4 Beta</dd>
            <dt><a href="/v04/">Version 04</a> </dt> <dd>Start of Beta</dd>
            <dt><a href="/v03/">Version 03</a> </dt> <dd>End of Alpha</dd>
        </dl>

    </div>
</div>


{% endblock %}
