
{% set tocPage = true %}

{% extends "./layout.html" %}

{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">


{% endblock %}


{% block pageTitle %}
Ivory Act 2018 guidance
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>



  <div class="govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list" style="font-size: 16px">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>



{% endblock %}



{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text gem-c-title__text--long">
        Ivory Act 2018 guidance
      </h1>
    </div>

    <!-- <p class="gem-c-lead-paragraph ">
      What to do if you want to sell, hire or buy items that have elephant ivory in them.
    </p> -->

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata" lang="en">
        <div class="app-c-published-dates " lang="en">
          Published 2 December 2019
        </div>

        <div class="app-c-publisher-metadata__other">
          <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
              <span class="app-c-publisher-metadata__definition-sentence">
                <a href="/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a>
              </span>
            </dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<!-- CONTENTS LIST -->

    <div class="govuk-!-margin-bottom-7" id="toc" class="toc"></div>


    <div class="gem-c-govspeak govuk-govspeak direction-ltr">


      <div class="govspeak">

<h2 id="selling-an-ivory-item">Your legal responsibilities under the Ivory Act 2018</h2>

        <p>The <a href="https://www.legislation.gov.uk/ukpga/2018/30/contents/enacted">Ivory Act 2018</a> makes it illegal to deal in most items that contain elephant ivory. There are some exemptions.</p>

        <div class="govuk-warning-text govuk-!-margin-bottom-0">
          <span class="govuk-warning-text__icon" aria-hidden="true" style="margin-top: -20px; min-width: 32px">!</span>
          <strong class="govuk-warning-text__text" style="font-size: 19px; padding-left: 53px">
            <span class="govuk-warning-text__assistive">Warning</span>
            You can be fined up to £250,000 and sent to prison if you sell, buy or otherwise deal in ivory that does not meet the exemption criteria.
          </strong>
        </div>

        <p>If your item is exempt, you must tell us as soon as you want to:</p>

        <ul>
          <li>sell or hire it out</li>
          <li>offer to sell or hire it out</li>
          <li>exchange it for goods or services</li>
          <li>keep it for sale or hire</li>
          <li>export or import it with the intention to sell or hire it out</li>
        </ul>


 <h3 id="know-your-items-category">Items that are exempt from the ivory ban</h3>

        <table class="govuk-table govuk-!-margin-bottom-7"">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Exemption category</th>
              <th scope="col" class="govuk-table__header">How you need to tell us</th>
              <th scope="col" class="govuk-table__header">How long exemption lasts</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">1. Musical instrument made before 1975 with less than 20% ivory by volume</td>
              <td class="govuk-table__cell">Register the item online</td>
              <td class="govuk-table__cell">Single-use only (The new owner must re-register the item if they ever want to sell or hire it out)</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">2. Item made before 1947 and with less than 10% ivory by volume</td>
              <td class="govuk-table__cell">Register the item online</td>
              <td class="govuk-table__cell">Single-use only (The new owner must re-register the item if they ever want to sell or hire it out)</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">3. Portrait miniature made before 1918 with a surface area smaller than 320 square centimetres</td>
              <td class="govuk-table__cell">Register the item online</td>
              <td class="govuk-table__cell">Single-use only (The new owner must re-register the item if they ever want to sell or hire it out)</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">4. Item that a qualifying museum intends to buy or hire</td>
              <td class="govuk-table__cell">Register the item online</td>
              <td class="govuk-table__cell">Single-use only (The new owner must re-register the item if they ever want to sell or hire it out)</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">5. Item made before 1918 that is rare and culturally, historically or artistically important</td>
              <td class="govuk-table__cell">Apply online for a certificate from an approved expert</td>
              <td class="govuk-table__cell">Certificate stays with the item forever. </td>
            </tr>
          </tbody>
        </table>

        <p>Use our online service to <a href="start-new">tell us about an item that you want to sell or hire out</a>.</p>

        <p>If you are buying or hiring an ivory item from someone else, you must be certain that the item is exempt before you proceed.</p>



<h2 id="the-difference-between-registrations-and-certificates">Items you need to register</h2>

        <p>You can complete the process for someone else.</p>

        <p>You will be asked to:</p>

        <ul>
          <li>provide photos and descriptions of the item</li>
          <li>legally declare that the item meets the exemption criteria</li>
          <li>pay an administration fee of £xx</li>
        </ul>

        <p>We will:</p>

        <ul>
          <li>immediately issue a registration number for the item</li>
          <li>retrospectively check registrations to ensure they comply with the law</li>
        </ul>

        <p>This registration expires as soon as you sell or hire it out. If the item is sold or hired out again, the owner will need to make a new registration.</p>

        <p><a href="start-new">Register an ivory item.</a></p>


 <h2 id="certificates">Items that need a certificate </h2>

        <p>You will be asked to:</p>

        <ul>
          <li>provide photos and descriptions of the item</li>
          <li>explain why the item is rare and important</li>
          <li>provide documentation to support your claim</li>
          <li>pay an administration fee of £xxx</li>
        </ul>

        <p>We will:</p>

        <ul>
          <li>send the application for checking by an approved expert</li>
          <li>provide a certificate if the expert agrees with you</li>
        </ul>

        <p>This certificate does not expire. When you sell the item, you must transfer the certificate to the new owner.</p>

        <p><a href="start-new">Apply for a certificate for a rare and important ivory item.</a></p>


<!-- <h2 id="musical-instruments">More detail about exemption criteria </h2>

  <h3 >Musical instruments made before 1975 with less than 20% ivory</h3>


        <p>Examples of musical instruments that are likely to have less than 20% ivory include:</p>

        <ul>
          <li>a piano with ivory keys</li>
          <li>a violin bow with ivory at the end of the bow  </li>
        </ul>

        <p>Examples of musical instruments that may have more than 20% ivory include:</p>

        <ul>
          <li>A piano with ivory elsewhere other than the keys </li>
          <li>A violin bow with ivory elsewhere other than the frog</li>
          <li>A solid ivory guitar pick </li>
        </ul>

    <h3 class="govuk-hint"  >What is not a musical instrument</h3>

        <p>You cannot register an item as a musical instrument if it is:</p>

        <ul>
          <li>in the shape of a musical instrument but not designed to be played</li>
          <li>used to create music or rhythm but was not made originally for that purpose</li>
          <li>an individual piano key or a set of keys</li>
        </ul>

    <h3 class="govuk-hint"  >When you don’t need to register a musical instrument</h3>

        <p>You do not need to register an instrument to:</p>

        <ul>
          <li>play it to an audience, even if you’ll be paid</li>
          <li>teach lessons</li>
          <li>take it abroad for personal use, professional performance or repair</li>
        </ul>

    <h3 class="govuk-hint"  >How to show a musical instrument was made before 1975</h3>

        <p>You’ll need to declare that your item was made before 1 January 1975 and explain why you believe so.</p>

        <p>You can use:</p>

        <ul>
          <li>an original receipt or bill</li>
          <li>a date mark on the item</li>
          <li>written proof from an expert, such as an antiques specialist or museum curator with relevant qualifications or trade membership </li>
          <li>personal knowledge or evidence that it’s been in the family since 1974 or before</li>
          <li>an article or a catalogue published before 1 January 1975 with photos or detailed description of the item</li>
          <li>carbon dating </li>
        </ul>

    <h3 class="govuk-hint"  >How to measure ivory volume of musical instruments</h3>

        <p>Calculate the amount of ivory as a percentage of the total volume of the material the item is made of. For example, for a wooden piano this would be the ivory, wood and any other material it is made of.</p>

        <p>You can calculate the ivory volume by:</p>

        <ul>
          <li>eye estimate, if it’s easy to tell</li>
          <li>measuring and using maths formulas</li>
        </ul>

        <p>You are normally not expected  to cause any damage to your item to assess the ivory content.</p>

        <p>It may not always be possible to calculate the exact percentage volume of ivory, for example if the item is of irregular shape or where the depth of inlay is difficult to determine.</p>

        <p>However, you’re responsible for making a reasonable assessment of the volume of ivory.</p>

        <p>Don’t include empty spaces within an item in your measurement, for instance the space within a violin or piano. Any bag, for example in a set of bagpipes, should be deflated when making the assessment.</p>

        <p>If it is difficult to know whether an item has empty spaces, you don’t need to damage it to find out. In that case you could assess it based on knowledge of similar items.</p>


    <h3 class="govuk-hint"  >Instrument accessories</h3>

        <p>Accessories used to play a musical instrument - for example, a violin bow - should be assessed separately from the rest of the instrument.</p>

    <h3 class="govuk-hint"  >Musical instruments likely to have less than 20% ivory</h3>

        <ul>
          <li>A piano with ivory keys</li>
          <li>A violin bow with ivory at the end of the bow</li>
        </ul>


  <h3 id="how-to-prove-it-was-made-before-1975">Items made before 1947 with less than 10% ivory </h3>

        <p>Examples of items likely to have less than 10% ivory include:</p>

        <ul>
          <li>a large piece of furniture with a small piece of ivory inlay, for example around the keyhole</li>
          <li>a small ivory knob on a teapot in a tea set</li>
        </ul>

        <p>Examples of items that may have more than 10% ivory include:</p>

        <ul>
          <li>a piece of cutlery with an ivory handle</li>
          <li>a chess set with ivory white pieces (half the playing pieces)</li>
        </ul>


    <h3 class="govuk-hint"  >Ivory must be integral</h3>

        <p>This means that one of the following must be true:</p>

        <ul>
          <li>you cannot remove the ivory easily or without risk of damage </li>
          <li>the ivory is essential to the design or function of the item</li>
        </ul>

        <p>Examples include:</p>

        <ul>
          <li>a detachable ivory knob from a teapot or measuring instrument  </li>
          <li>an original ivory inlay on a piece of furniture</li>
        </ul>

        <p>An ivory statue which has been temporarily mounted on a plinth would not qualify.</p>


    <h3 class="govuk-hint"  >How to show it was made before 1947</h3>


        <p>You’ll need to declare and explain why you believe your item was made before 3 March 1947.</p>

        <p>You can use:</p>
        <ul>
          <li>a date mark on the item</li>
          <li>an original receipt or bill</li>
          <li>a catalogue or an article published before 3 March 1947 with photos or detailed description of the item</li>
          <li>written proof from an expert, such as an antiques specialist or museum curator with relevant qualifications or trade membership </li>
          <li>knowledge or evidence that it’s been in the family since 1946 or before</li>
          <li>carbon dating</li>
        </ul>



    <h3 class="govuk-hint"  >How to measure ivory volume </h3>

        <p>You can calculate the ivory volume by:</p>

        <ul>
          <li>eye estimate, if it’s easy to tell</li>
          <li>measuring and using maths formulas</li>
          <li>knowledge of similar items, if your item cannot be accurately assessed without damaging it</li>
        </ul>

        <p>You can also use other methods. </p>

        <p>Calculate the amount of ivory as a percentage of the total volume of the material the item is made of. For example, for a piece of furniture, this would be the ivory, wood and any other material it’s made of.</p>

        <p>When working out volume, you can consider a set of objects used together as a single item - for example, an original tea set. </p>

        <p>You’re responsible for making a reasonable assessment of the volume of ivory.</p>

        <p>For some items with thin pieces of ivory on the surface (inlays), it may be difficult to calculate the depth of the ivory. The surface area of the ivory inlay may be over 10% of the total surface area of the item, but the ivory volume may still be below 10%. This is because the inlay is so thin.</p>

        <p>Don’t include empty spaces within an item when calculating the total volume of the item. For example, the space within a chest of drawers or a teapot does not count towards its total volume. </p>



  <h3 id="how-to-prove-it-was-made-before-1975">Portrait miniatures made before 1918</h3>

        <p>A portrait miniature is a portrait usually created in the 18th or 19th century, often painted on very thin pieces of ivory.</p>

        <p>You can only register a portrait miniature if:</p>

        <ul>
          <li>it was made before 1 January 1918</li>
          <li>the surface area you can see is less than 320 square centimetres</li>
        </ul>


    <h3 class="govuk-hint"  >How to measure a portrait miniature</h3>

        <p>While calculating, the surface area you can see must be less than 320 square centimetres. This does not include the frame or areas covered by the frame.</p>

        <p>If the area is calculated in square inches, you can convert it to square centimetres by multiplying by 6.45.</p>


  <h3  >Selling or hiring to qualifying museums</h3>

        <p>You can register to sell or hire an ivory item to a qualifying museum. The item does not need to meet any other exemption criteria.</p>

        <p>A qualifying museum is one that is accredited in the UK by, or on behalf of:</p>

        <ul>
          <li>The Arts Council England</li>
          <li>The Welsh Government</li>
          <li>Scottish Ministers</li>
          <li>The Northern Ireland Museums Council</li>
        </ul>

        <p>If it’s a museum outside the UK, it must be a member of the International Council of Museums (ICOM).</p>

        <p>A registration document will clearly state that the item can only be sold or hired to a qualifying museum. If the item is sold or hired to any other buyer then you and the buyer will be committing an offence.</p>

        <p>A qualifying museum can buy, sell or hire items with ivory to another qualifying museum without registering or applying for a certificate. If a qualifying museum buys or sells an ivory item to an ICOM member, the export or import of ivory must comply with EU Wildlife Trade Regulations.</p>

        <p>All museums (qualifying or not) can continue to accept donations and gifts of ivory items, as long as they are not in return for any other goods or services.</p>


  <h3  >Rare and most important items</h3>

        <p>You can only apply for a certificate for a rare and important ivory item if:</p>

        <ul>
          <li>it was made before 1 January 1918</li>
          <li>it is an item of outstandingly high artistic, cultural or historical value</li>
          <li>no ivory was added to it on or after 1 January 1975, except to restore it</li>
          <li>any ivory added was taken from its animal source before 1 January 1975</li>
        </ul>

    <h3 class="govuk-hint"  >How to show it was made before 1918</h3>

        <p>You’ll need to declare and explain why you believe that your item was made before 1 January 1918.</p>

        <p>For evidence you can use:</p>

        <ul>
          <li>a date mark on the item</li>
          <li>an original receipt or bill</li>
          <li>an article or a catalogue published before 1 January 1918 with photos or detailed description of the item</li>
          <li>written proof from an expert, such as an antiques specialist or museum curator with relevant qualifications or trade membership</li>
          <li>knowledge or evidence that it’s been in your family since 1918 or before</li>
          <li>carbon dating</li>
        </ul>


    <h3 class="govuk-hint"  >How to assess if the item is of outstandingly high artistic, cultural or historical value</h3>

        <p>This will only apply to a small number of items that are important to wider society. We will not use any personal, sentimental or financial value to assess items in this category.</p>

        <p>We will consider:</p>

        <ul>
          <li>how rare the item is</li>
          <li>the extent to which the item is an important example of its type</li>
        </ul>

        <p>An item may qualify if it is rare but not of any great importance. It may also qualify if it is an important example of its type but not rare.</p>

        <p>To assess how rare the item is, we will consider:</p>

        <ul>
          <li>the estimated number of similar items that exist, including how many are in the UK</li>
          <li>how unique the item is, including distinctive features or historical adaptations</li>
        </ul>

        <p>To assess whether an item is an important example of its type, we will consider any evidence of:</p>

        <ul>
          <li>artistic or aesthetic quality, for example if it was made by a famous artist, school or studio</li>
          <li>notable craftsmanship</li>
          <li>condition of the item, for example if it’s much better than similar items</li>
          <li>significance as part of a collection, such as an artistic collection put together by a famous person</li>
          <li>close association with a specific individual or event, for example previous ownership by a historical figure</li>
          <li>significant historical context, including artistic, social, cultural, religious, scientific or technological development</li>
          <li>close association with a specific place or region</li>
          <li>items with recognised status, for example if it has been given a prestigious award or recognised as a national treasure</li>
        </ul> -->


<h2 id="other-legal-responsibilities" >Other legal responsibilities</h2>

        <p>As part of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES), you may also need to <a href="https://www.gov.uk/guidance/apply-for-cites-permits-and-certificates-to-trade-endangered-species">buy a permit or certificate to trade an item made from an endangered species</a>.</p>





      </div>

      </div>

    </div>


</div>



{% endblock %}
