{% extends "./layout.html" %}

{% set thisPageTitle = "You are legally responsible for the accuracy of all the information you provide" %}

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

      <form class="form" method="post" novalidate>
        <div class="flash-card">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full"

            <header>
              <h1 class="govuk-heading-l">{{ thisPageTitle }}</h1>
            </header>

            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <p class="govuk-body">At any point in this service, if you’re unsure about the right answer to give, do not continue.</p>

              <p class="govuk-body">You could be fined or prosecuted if we later find out that you’ve given us false information.</p>

              <div class="form-group">
                <input class="govuk-button button-white govuk-!-margin-top-2 govuk-!-margin-bottom-4" type="submit" value="Continue">
              </div>

              <p class="govuk-body govuk-!-margin-bottom-0"><a href="guidance-new" class="govuk-link">Cancel</a></p>

            </div>
          </div>

        </div>
      </form>

      <!-- </form>

    </div>
  </div>
</div> -->




{% endblock %}
