{% extends "./layout.html" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <!-- Dynamic H1 needs to say Enter if coming from radios screen  -->
        <h1 class="govuk-heading-l">
          Edit your address
        </h1>

        {% if data['ownerAgent'] != 'agent' %}
        <p class="govuk-body">If your business owns the item, give your business address.</p>
        {% else %}
        <p class="govuk-body">If your business is helping someone else sell their item, give your business address</p>
        {% endif %}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="address-line-1">
            Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="agentAddressLine1" type="text" value="{{ data['agentAddressLine1'] }}" />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="address-line-2">
            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-2" name="agentAddressLine2" type="text" value="{{ data['agentAddressLine2'] }}" />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="agentAddressTown" type="text" value="{{ data['agentAddressTown'] }}" />
        </div>

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="agentAddressCounty" type="text" value="{{ data['agentAddressCounty'] }}" />
        </div> -->

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="agentAddressPostcode" type="text" value="{{ data['agentAddressPostcode'] }}" required />
        </div>

      <button class="govuk-button">Continue</button>

    </form>



  </div>
</div>


{% endblock %}
