
{% set tocPage = true %}

{% extends "./layout.html" %}

{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">


{% endblock %}


{% block pageTitle %}
Certifying ivory items of outstandingly high artistic, cultural or historical value
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>



  <div class="govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list" style="font-size: 16px">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>



{% endblock %}



{% block content %}

<div class="publication-external" style="margin-top: -30px; margin-bottom: 30px">
    <ul class="organisation-logos">
        <li class="organisation-logos__logo">
          <div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
            <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">
            <span class="gem-c-organisation-logo__name">Department<br>for Environment<br>Food &amp; Rural Affairs</span></a>
          </div>
        </li>
    </ul>
</div>

<header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
  <div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
    <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
    <h1 class="gem-c-title__text">
      Certifying ivory items of outstandingly high artistic, cultural or historical value
    </h1>
  </div>
  <p class="publication-header__last-changed">Updated 6 April 2021</p>
</header>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <!-- CONTENTS LIST -->
    <div class="govuk-!-margin-bottom-7" id="toc" class="toc"></div>
  </div>


  <div class="govuk-grid-column-three-quarters">

    <div class="gem-c-govspeak govuk-govspeak direction-ltr">
      <div class="govspeak">


<h2 class="govuk-!-margin-top-0" id="selling-an-ivory-item">Get an exemption certificate for items of outstandingly high value</h2>

        <p>If your item is of outstandingly high artistic, cultural or historical value, you’ll need to apply for an expert to certify the item. </p>

<h3>What qualifies as ‘outstandingly high artistic, cultural or historical value’</h3>

        <p>Each item needs to be assessed individually by recognised experts. They set a very high threshold when approving items for sale or hire.</p>

        <p>They’ll consider various things, such as whether an item:</p>

        <ul>
          <li>is unique or extremely rare</li>
          <li>is of high artistic or aesthetic quality, for example from a known artist, school or studio</li>
          <li>is in better condition than other items like it</li>
          <li>is part of a well-known collection</li>
          <li>has an important history</li>
          <li>is important to a specific place or region</li>
          <li>has previously been recognised for its value or status, for example being recognised as a national treasure</li>
        </ul>

<h3>How the certification process works</h3>

        <p>You must apply online for a certificate. There is an administration fee of £250, which you must pay even if your item is not approved by an expert.</p>

        <p>After you have submitted your application, you must wait to receive your exemption certificate before you can sell or hire out the item. This usually takes 30 days. </p>

        <p><a href="know-items-exempt">Apply for an exemption certificate</a>.</p>


<h2 id="know-your-items-category">Appeal a rejection decision</h2>

        <p>If you disagree with our decision to reject your application for an exemption certificate, you can appeal it.</p>

        <p>For an appeal to be successful, you’ll most likely have to provide new evidence that your item meets the threshold of having outstandingly high artistic, cultural or historical value.</p>

        <p>To start an appeal, contact the Animal and Plant Health Agency (APHA) at <a href="know-items-exempt">ivory@apha.gov.uk</a>.</p>


<h2 id="know-your-items-category">Selling or hiring out an item that already has an exemption certificate</h2>

        <p>You need to tell us if you are selling or hiring out an item that already has an exemption certificate, so that we can keep our records up to date.</p>

        <p>Contact the Animal and Plant Health Agency (APHA) at <a href="know-items-exempt">ivory@apha.gov.uk</a>.</p>

        <p>You’ll need:</p>

        <ul>
          <li>a copy of the certificate </li>
          <li>a credit or debit card to pay a £xx admin fee</li>
        </ul>


<h2 id="know-your-items-category">Keeping an exemption certificate up to date</h2>

        <p>You must let us know if you discover something about the item that means it may no longer be exempt.</p>

        <p>Contact the Animal and Plant Health Agency (APHA) at <a href="know-items-exempt">ivory@apha.gov.uk</a>.</p>


<h2 id="know-your-items-category">Request a replacement exemption certificate</h2>

        <p>You can request a replacement exemption certificate if you’ve:</p>

        <ul>
          <li>lost it or</li>
          <li>bought an exempt item and are unable to get the certificate from the seller</li>
        </ul>

        <p>Contact the Animal and Plant Health Agency (APHA) at <a href="know-items-exempt">ivory@apha.gov.uk</a>.</p>


<h2 id="act-purpose">More information about dealing in ivory</h2>

        <ul>
          <li><a href="guidance-new">How to legally sell or hire out elephant ivory</a></li>
          <li>For technical information about the ivory ban exemption criteria, see <a href="https://consult.defra.gov.uk/communications/implementing-the-ivory-act/">Implementing the Ivory Act - consultation (PDF, 383KB)</a></li>
          <li><a href="guidance-buying">How to buy elephant ivory</a></li>
        </ul>


      </div>

      </div>

    </div>


</div>



{% endblock %}
