{% extends "./layout.html" %} {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Add a photograph of the item</h1>

        <!-- <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">What the photograph must include</span>
      </summary>
      <div class="govuk-details__text">
        <p>The photo must include:</p>
        <ul class="list list-bullet">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </details> -->
        <!-- image placed in /app/assets/images, which is then copied to /public/images on start/deploy.  Not sure what best practice is?-->
        <!-- <img src="/public/images/MickeyMouse.png" width="70%" border='1' height="auto" alt="Example photo"> -->



        <form method="post" autocomplete="off" novalidate enctype="multipart/form-data">

          <div class="govuk-form-group {% if errorNoFile %}govuk-form-group--error{% endif %}">
            <!-- <label class="govuk-label" for="fileToUpload">Please upload a photograph</label> -->
            <span id="hint" class="govuk-hint">Must be JPG or PNG format with a maximum size of 5 MB</span> {% if errorNoFile %}
            <span id="errorNoFile" class="govuk-error-message">{{errorNoFile}}</span> {% endif %}
            <!-- <input class="govuk-file-upload" id="fileToUpload" name="fileToUpload" type="file" value="" accept='image/*' onchange='submit()'> -->
            <input class="govuk-file-upload" id="fileToUpload" name="fileToUpload" type="file" value="" accept='image/*'>
          </div>

          <button class="govuk-button">Continue</button>




        </form>

      </div>
    </div>




{% endblock %}
