{% extends "./layout.html" %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form method="post" autocomplete="off" {{ novalidateVal }}>


      <div class="govuk-form-group">

        {% if data['exemptionChoice'] == 'type3' %}

        <h1 class="govuk-heading-l">What size is the portrait miniature?</h1>

        <div class="govuk-form-group defra-input-unit-cm ">

          <label class="govuk-label" for="item-width">
            Width in centimetres
          </label>

          <div class="input-type input-type--unit">
            <input class="govuk-input govuk-input--width-3 " id="item-width" name="itemWidth" type="number" pattern="[0-9]*" value="{{ data['itemWidth'] }}" />
            <abbr title="Centimetres" class="input-type__type-cm"> cm</abbr>
          </div>

        </div>

        <div class="govuk-form-group defra-input-unit-cm ">

          <label class="govuk-label" for="item-height">
            Height in centimetres
          </label>

          <div class="input-type input-type--unit">
            <input class="govuk-input govuk-input--width-3 " id="item-height" name="itemHeight" type="number" pattern="[0-9]*" value="{{ data['itemHeight'] }}" />
            <abbr title="Centimetres" class="input-type__type-cm"> cm</abbr>
          </div>

        </div>

        {% else %}

        <h1 class="govuk-heading-l">
          The item must contain less than {{ ivoryVolume }} ivory
        </h1>


        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Legal declaration
            </legend>
            <div class="govuk-checkboxes" data-module="checkboxes">
              <div class="govuk-checkboxes__item">

                {% if data['volume-declaration'] == 'Declared' %}
                <input class="govuk-checkboxes__input" id="volume-declaration" checked name="volume-declaration" type="checkbox" value="Declared">
                {% else %}
                <input class="govuk-checkboxes__input" id="volume-declaration" name="volume-declaration" type="checkbox" value="Declared">
                {% endif %}

                <label class="govuk-label govuk-checkboxes__label" for="volume-declaration">
                  I declare the item contains less than {{ ivoryVolume }} ivory by volume
                </label>
              </div>
            </div>
          </fieldset>
        </div>




        <div class="govuk-form-group govuk-!-margin-bottom-9">

          <fieldset class="govuk-fieldset" aria-describedby="exemption-choice-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <p class="govuk-fieldset__heading govuk-!-margin-bottom-">
                How do you know the item contains less than {{ ivoryVolume }} ivory?
              </p>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="volumeExplanation1" name="volumeExplanation" type="radio" value="type1"  {{volumeType1Checked}} />
                <label class="govuk-label govuk-radios__label" for="volumeExplanation1">
                  Estimate of ivory content by eye
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="volumeExplanation2" name="volumeExplanation" type="radio" value="type2" required {{volumeType2Checked}} />
                <label class="govuk-label govuk-radios__label" for="volumeExplanation2">
                  Measured the item to work out the volume
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="volumeExplanation3" name="volumeExplanation" type="radio" value="type3"  {{volumeType3Checked}} />
                <label class="govuk-label govuk-radios__label" for="volumeExplanation3">
                  Other
                </label>
              </div>
            </div>
          </fieldset>
        </div>



        <!-- <textarea class="govuk-textarea" id="ivoryVolume" name="ivoryVolume" rows="5" required>{{data['ivoryVolume']}}</textarea> -->




        {% endif %}

      </div>


      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>


{% endblock %}
