{% extends "./layout_unbranded.html" %}

{% set registrationNumber = "4HCP37NL" %}

{% block pageTitle %}
  Confirmation of application to register an ivory item
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-m">
    Ivory registration: {{ registrationNumber }}
  </h1>

  <dl class="defra-dl defra-email-header">

<!--    <dt class="defra-dt defra-dt__email-header">From</dt>-->
<!--    <dd class="defra-dd defra-dd__email-header">Animal Plant Health Agency</dd>-->

<!--    <br>-->

    <dt class="defra-dt defra-dt__email-header">Date</dt>
    <dd class="defra-dd defra-dd__email-header" id="conf-email-date">{{dateOfRegistration}} {{timeOfRegistration}}</dd>

    <br>

    <dt class="defra-dt defra-dt__email-header">To</dt>
    <dd class="defra-dd defra-dd__email-header" id="conf-email-to">{{ contactEmail }}</dd>

  </dl>




<p class="govuk-body">
  Dear {{ contactName }}

  {% if contactBusiness != '' %}

  of {{ contactBusiness }}

  {% endif %}

</p>

<br />
<br />

<p class="govuk-body">
  You have registered the item you described as:

  <br />
  <br />

  {{ data['description'] }}

</p>


<br />
<br />


<p class="govuk-body">
  The registration number is: {{ registrationNumber }}
</p>

<p class="govuk-body">
  The registration expires when you sell the item.
</p>

<p class="govuk-body">
  Open the registration document: <a href="registration">https://www.gov.uk/download/IRJBFKS8473JSBSKITS3VFDDSDF</a>
</p>

<p class="govuk-body">You can give the registration number to a buyer so they can check the item before they buy it.</p>

<p class="govuk-body call-to-action" style="border-left: 10px solid #dee0e2; padding: 1em 0 1em 1em; margin: 2em 0;">
  You must tell us if any details change.
</p>

<p class="govuk-body">
  To contact us email ivory@apha.gov.uk
</p>



{% endblock %}
