
{% block pageTitle %}
Registraiton complete
{% endblock %}


{% extends "./layout.html" %}
<!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
{% block beforeContent %}
  {% include "../includes/stage-banner.html" %}
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Registration complete</h1>
      <div class="govuk-panel__body">
        Registration number
        <br><strong>4HCP37NL</strong>
      </div>
    </div>

    <p class="govuk-body">We’ve sent you emails to confirm your registration and payment.</p>

    <p class="govuk-body"><a href="registration">Open your registration document</a></p>

    <h3 class="govuk-heading-s">What happens next</h3>



    {% if data['dealingIntent'] == 'Sell it' %}

    <p class="govuk-body">You can now sell the item because you have said it:</p>

    {% else %}

    <p class="govuk-body">You can now hire out or sell the item because you have said it:</p>

    {% endif %}


    <ul class="govuk-list govuk-list--bullet">

      {% if data['exemptionChoice'] == 'type1' %}
      <!-- De minimis -->
      <li>was made before 1947</li>
      <li>has less than 10% ivory</li>
      {% endif %}
      {% if data['exemptionChoice'] == 'type2' %}
      <!-- Musical instrument -->
      <li>is a musical instrument</li>
      <li>was made before 1975</li>
      <li>has less than 20% ivory</li>
      {% endif %}
      {% if data['exemptionChoice'] == 'type3' %}
      <!-- Portrait miniature -->
      <li>is a portrait miniature</li>
      <li>was made before 1918</li>
<!--      <li>has a surface area less than 320 square centimetres</li>-->
      <li>is less than 320 square centimetres</li>
      {% endif %}
    </ul>

    {% if data['dealingIntent'] != 'Sell it' %}

    <p class="govuk-body">This registration does not expire when you hire out the item. It’s valid until you sell the item.</p>

    {% else %}

    <p class="govuk-body">This registration expires when you sell the item.</p>

    {% endif  %}
    <p class="govuk-body">You can give the registration number to a buyer so they can <a href="check-before-you-buy-an-ivory-item">check the item before they buy it</a>.</p>

    <p class="govuk-body govuk-!-margin-top-9">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>
    <p class="govuk-body invisible-link">
      <a href="confirmation-email?e={{ data['exemptionChoice'] }}" class="govuk-link">View confirmation email</a>
    </p>

  </div>
</div>


{% endblock %}
