{% extends "./layout.html" %}

{% set thisPageTitle = "Describe the item" %}

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}




{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" autocomplete="off" {{ novalidateVal }}>

          <div class="govuk-form-group">

            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l govuk-!-margin-bottom-6" for="description">
                {{ thisPageTitle }}
              </label>
            </h1>

            <p id="descriptionText-hint" class="govuk-body">
              Explain what the item is.
              <br />
              <br />
              Include any features that help identify the item, like the maker's mark, engravings.
            </p>

          <textarea class="govuk-textarea" id="description" name="description" rows="5" aria-describedby="descriptionText-hint" required>{{data['description']}}</textarea>

        </div>


          {% if data['exemptionChoice'] == 'type5' %}


          <!--

          Archaeological objects
Archery
Armour
Artillery
Boxes
Carvings
Caskets
Cutlery
Decorative art
Decorative and fine art: Arms and armour
Dress and uniforms
Edged Weapons
Equipment and tools
Fans
Firearms
Flower miniatures
Games and puzzles
Globes
Hunting equipment
Jewellery
Marine / sailor’s craftwork
Miniatures TBC
Miscellania
Musical instruments
Natural history
Portrait miniatures
Scientific instruments
Scientific models, including globes and planetaria
Sculpture and reliefs
Ship models
Technology
Textiles
Tower of London related
Weapons
World Cultures
OTHER


          -->


          {{ govukSelect({
          id: "itemClassType",
          name: "itemClassType",
          label: {
          text: "Item type"
          },
          items: [
          {
          value: "archaeological-objects",
          text: "Archaeological objects"
          },
          {
          value: "Archery",
          text: "Archery"
          },
          {
          value: "Armour",
          text: "Armour"
          },
          {
          value: "Artillery",
          text: "Artillery"
          }
          ]
          }) }}


<!--

African
Asian
Asian - East
Asian - South .
Asian - South-East
Chinese
Egypt
English
European
Islamic
Japanese
Near East
Roman empire
OTHER


-->



            {{ govukSelect({
            id: "itemClassGeoPol",
            name: "itemClassGeoPol",
            label: {
            text: "Geo-political origin"
            },
            items: [
            {
            value: "African",
            text: "African"
            },
          {
          value: "Asian",
          text: "Asian"
          },
          {
          value: "Asian East",
          text: "Asian East"
          },
          {
          value: "Asian South",
          text: "Asian South"
          },
          {
          value: "Asian South-East",
          text: "Asian South-East"
          },
            {
            value: "Chinese",
            text: "Chinese"
            },
            {
            value: "Egypt",
            text: "Egypt"
            },
            {
            value: "English",
            text: "English"
            },
            {
            value: "European",
            text: "European"
            },
            {
            value: "Islamic",
            text: "Islamic"
            },
            {
            value: "Japanese",
            text: "Japanese"
            },
            {
            value: "Near East",
            text: "Near East"
            },
            {
            value: "Roman Empire",
            text: "Roman Empire"
            },
            {
            value: "OTHER",
            text: "OTHER"
            }
            ]
            }) }}


<!--


Period
Ancient
Baroque
c15
c16
c17
c18
c19
c20
Early Modern European
Medieval
Modern European
Renaissance
OTHER

-->


            {{ govukSelect({
            id: "itemClassPeriod",
            name: "itemClassPeriod",
            label: {
            text: "Period"
            },
            items: [
            {
            value: "Ancient",
            text: "Ancient"
            },
          {
          value: "Baroque",
          text: "Baroque"
          },
          {
          value: "C15",
          text: "15th Century"
          },
          {
          value: "C16",
          text: "16th Century"
          },
          {
          value: "C17",
          text: "17th Century"
          },
          {
          value: "C18",
          text: "18th Century"
          },
          {
          value: "C19",
          text: "19th Century"
          },
          {
          value: "C20",
          text: "20th Century"
          },
            {
            value: "Early Modern European",
            text: "Early Modern European"
            },
            {
            value: "Medieval",
            text: "Medieval"
            },
            {
            value: "Modern European",
            text: "Modern European"
            },
            {
            value: "Renaissance",
            text: "Renaissance"
            },
            {
            value: "OTHER",
            text: "OTHER"
            }

            ]
            }) }}



          {% endif %}







            <button type="submit" class="govuk-button">Continue</button>

      </form>

    </div>
  </div>




{% endblock %}
