{% extends "./layout.html" %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<!--    <form method="post" autocomplete="off" {{ novalidateVal }}>-->
      <form method="post" autocomplete="off">


      <div class="govuk-form-group">

        <h1 class="govuk-heading-l">
          Confirm the item was made before {{ ivoryYear }}
        </h1>

      <div class="govuk-form-group govuk-!-margin-bottom-9">
        <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Legal declaration
          </legend>
          <div class="govuk-checkboxes" data-module="checkboxes">
            <div class="govuk-checkboxes__item">
              {% if data['age-declaration'] == 'Declared' %}
              <input class="govuk-checkboxes__input" id="age-declaration" checked name="age-declaration" type="checkbox" value="Declared" required>
              {% else %}
              <input class="govuk-checkboxes__input" id="age-declaration" name="age-declaration" type="checkbox" value="Declared" required>
              {% endif %}
              <label class="govuk-label govuk-checkboxes__label" for="age-declaration">
                I declare the item was made before {{ ivoryYear }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukCheckboxes({
        name: "ivoryAge",
        fieldset: {
          legend: {
            text: "How do you know the item was made before " + ivoryYear + "?",
            classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "Date mark on the item",
            text: "Date mark on the item",
            id: "ivory-age-datemark",
            checked: checked("ivoryAge", "Date mark on the item")
          },
          {
            value: "It's been in the family since " + ( ivoryYear - 1 ) + " or before",
            text: "It's been in the family since " + ( ivoryYear - 1 ) + " or before",
            id: "ivory-age-family",
            checked: checked("ivoryAge", "It's been in the family since " + ( ivoryYear - 1 ) + " or before")
          },
          {
            value: "Written verification from an expert",
            text: "Written verification from an expert",
            id: "ivory-age-written",
            checked: checked("ivoryAge", "Written verification from an expert")
          },
          {
            value: "My own expert evaluation",
            text: "My own expert evaluation",
            id: "ivory-age-my-evaluation",
            checked: checked("ivoryAge", "My own expert evaluation")
          },
          {
            value: "Other",
            text: "Other",
            id: "ivory-age-other",
            checked: checked("ivoryAge", "Other")
          }
        ]
      }) }}



      <div class="govuk-form-group">
        <label class="govuk-label" for="age-detail">
          Give details
        </label>
        <!-- <span id="age-detail-hint" class="govuk-hint">
          Do not include personal or financial information, like your National Insurance number or credit card details.
        </span> -->
        <textarea required class="govuk-textarea" id="age-detail" name="ageDetail" rows="5" aria-describedby="age-detail-hint">{{ data['ageDetail'] }}</textarea>
      </div>


    </div>


    <button class="govuk-button">Continue</button>

  </form>

</div>
</div>


{% endblock %}
