// IWTF - application CSS
// ==========================================================================


// Settings (variables)
$iconPath: '/public/icons/';
$imagePath: '/public/images/';

// GOV.UK elements
@import 'govuk-elements';

// Imported stylesheets
@import 'start-date';
@import 'tabs';
@import 'print';
// @import 'paypal';


// Split out CSS below into ITCSS folder structure



// Mixins to generate components (chunks of UI)
// Functions
// Objects (unstyled design patterns)
// Components (chunks of UI)



body {
    font-size: 19px;
    line-height: 1.31579;
}

table {
  border: none;
}

table td,
table th {
  border: none;
  border-bottom: solid 1px #bfc1c3;
}

.list-bullet {
  margin: 0 0 20px;
}

.form-hint {
  margin: 5px 0;
}

.bold-large {
  margin: 0;
}

.helpline-text {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 16px;
}

.helpline-text a {
  color: #454a4c;
}

.helpline-text-sub {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #0b0c0c;
}



.text-error {
    color: $error-colour;
}

.heavy {
    font-weight: bold;
}

.notice .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px;
}

.icon-important {
    width: 35px;
    height: 35px;
    background: url("/public/icons/icon-important.png") no-repeat;
}

.icon-file-download {
    width: 29px;
    height: 26px;
    background: url("/public/icons/icon-file-download.png") no-repeat;
}

.check-your-answers {
    th {
        font-weight: bold;
        font-size: 19px;
        vertical-align: top;
        border: none;
        border-bottom: 1px solid #bfc1c3;
    }

    .change-answer {
        font-weight: normal;
        text-align: right;
        padding-right: 0;
    }

    td {
        @include core-19;
        vertical-align: top;
        border: none;
        border-bottom: 1px solid #bfc1c3;

        .data {
            @include bold-19;
            font-weight: normal;

            span {
                font-weight: normal;
                display: inline-block;
                padding-left: 5px;
            }
        }
    }
}

.radio-list {
    .block-label {
        float: none;
        padding-top: 8px;
        padding-bottom: 5px;
        margin-bottom: 11px;

        input {
            top: 5px;
        }

        &.disabled {
            cursor: default;
            color: $secondary-text-colour;

            &:hover {
                border-color: $panel-colour;
            }
        }
    }
}

#terms-conditions-page {
    .form-hint {
        margin-top: 8px;
    }
}

.header-proposition {
    .content {
        .auth {
            color: #fff;

            a {
                color: #fff;
            }
        }
    }
}
// payment page summary box

.payment-summary-small {
    border: 10px solid #DEE0E2;
    background-color: #F8F8F8;
    padding: 15px;
    margin-top: 50px;

    h2 {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 30px;
    }
}

.payment-info {
    font-weight: 700;
}

.payment-amount {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}

.form-group {
    margin-bottom: $gutter;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.accepted-image-1 {
    max-width: 320px;
    margin-bottom: 30px;
}

#visa-image {
    margin-bottom: -10px;
    max-width: 110px;
}

.visa-hidden {
    visibility: hidden;
}

img.card-image {
    max-height: 38px;
    padding-top: 2px;
    margin-left: 15px;
    vertical-align: middle;
}

#building-and-street {
    margin-bottom: 10px;
}

.form-control {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.3157894737;
    font-weight: 400;
    text-transform: none;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
    background-color: #fff;
    border: 2px solid #6f777b;
    margin-bottom: 5px;
    -webkit-appearance: none;
    border-radius: 0;
}

.form-label-bold {
    font-size: 19px;
    margin-bottom: 5px;
}

#security-number {
    width: 100px;
}

// #postcode {
//     width: 120px;
// }

table.payment-confirm {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    td {
        font-size: 19px;
        font-weight: 300;
        border: none;
    }

    .table-info {
        font-weight: 700;
    }
}

.check-details {
    margin-bottom: 30px;
}

#card-security-number {
    width: 20%;
}
// summary table

table.check-your-answers {
    th {
        font-weight: bold;
        font-size: 19px;
        vertical-align: top;
    }

    .change-answer-normal {
        font-weight: normal;
        text-align: right;
        padding-right: 0;
    }

    .change-answer {
        font-weight: normal;
    }
}

table.payment-confirm {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;

    td {
        font-size: 19px;
        font-weight: 300;
        border-bottom: none;
    }

    .table-info {
        font-weight: 700;
    }
}

.check-details {
    margin-bottom: 30px;
}

#card-security-number {
    width: 20%;
}



// static


.pagination {
  border-bottom: 1px solid #bfc1c3;
  display: block;
  margin: 4em 0 0;
}

@media (max-width: 640px) {
  .pagination {
    margin: 2em 0 0;
  }
}

.pagination ul {
  margin: 0;
  padding: 0;
}

.pagination li {
  float: left;
  font-family: "nta",Arial,sans-serif;
  font-size: 14px;
  font-size-adjust: 0.5;
  font-weight: 400;
  line-height: 1.14286;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: right;
  text-transform: none;
  width: 49%;
}

@media (min-width: 641px) {
  .pagination li {
    font-size: 16px;
    line-height: 1.25;
  }
}

.pagination li a {
  background-color: transparent;
  color: #005ea5;
  display: block;
  text-decoration: none;
}

.pagination li a:hover, .pagination li a:active {
  background-color: #f8f8f8;
}

.pagination li a .pagination-label {
  display: block;
  font-family: "nta",Arial,sans-serif;
  font-size: 20px;
  font-size-adjust: 0.5;
  font-weight: 400;
  line-height: 1.11111;
  margin-bottom: 0.1em;
  text-transform: none;
}

@media (min-width: 641px) {
  .pagination li a .pagination-label {
    font-size: 27px;
    line-height: 1.25;
  }
}

.pagination li a .pagination-part-title {
  text-decoration: underline;
}

.pagination li.next {
  float: right;
  text-align: right;
}

.pagination li.next a::before {
  background: transparent url("/public/images/arrow-sprite.png") no-repeat scroll -102px -11px;
  content: " ";
  display: block;
  float: right;
  height: 38px;
  margin: -4px -32px 0 0;
  width: 30px;
}

.pagination li.previous a::before {
  background: transparent url("/public/images/arrow-sprite.png") no-repeat scroll -20px -11px;
  content: " ";
  display: block;
  float: left;
  height: 38px;
  margin: -4px 0 0 -32px;
  width: 30px;
}

.pagination li.previous {
  float: left;
  text-align: left;
}

.pagination li.previous a {
  padding: 0.75em 0 0.75em 3em;
}

.pagination li.next a {
  padding: 0.75em 3em 0.75em 0;
}

@media (max-width: 640px) {
  .pagination li.previous, .pagination li.next {
    float: none;
    width: 100%;
  }
  .pagination li.next a {
    text-align: right;
  }
}

.pagination .first, .pagination .last {
  min-height: 4.5em;
}

.pagination .first span, .pagination .last span {
  display: block;
  min-height: 4.5em;
  padding: 0.75em 5%;
  width: 90%;
}

.pagination .first .pagination-label, .pagination .last .pagination-label {
  display: block;
  margin-bottom: 0.5em;
}

.related {
  padding-top: 5px;
  margin-top: 40px;
  border-top: 10px solid #005ea5;
}

.related h2 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
}

.related li a {
  display: block;
  line-height: 1.25em;
  margin-bottom: 10px;
}

.related ul {
  font-size: 16px;
  line-height: 1.25;
}

.page-navigation li {
  font-size: 16px;
  line-height: 1.75;
}

.button-start,
.button-get-started {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  background-image: url("/public/images/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em;
}

@media (min-width: 641px) {
  .button-start,
  .button-get-started {
    font-size: 24px;
    line-height: 1.25;
  }
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.progressive-disclosure-margin {
  margin-top: 1.4em;
}

a.govuk-box-highlight-link {
  color: #fff
}

a.govuk-box-highlight-link:hover {
  color: #e0e2e5
}

details summary.non-blue {
  color: #0b0c0c!important;
}

details summary.non-blue .summary-link{
  color: #4c2c92!important;
}


.notice-margin-bottom {
  margin-bottom: 10px;
}



.nav-tabs{zoom:1;background:#fff;padding:0;position:relative}.nav-tabs:after{content:".";display:block;height:0;clear:both;visibility:hidden}.nav-tabs ol,.nav-tabs ul,.nav-tabs .tabs-nav{float:left;list-style:none;margin:0;padding:0;position:relative;z-index:5}@media (max-width: 640px){.nav-tabs ol,.nav-tabs ul,.nav-tabs .tabs-nav{float:none;margin:0 -16px}}.nav-tabs li,.nav-tabs .tabs-nav li{font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font-size:14px;line-height:1.14286;padding:0;margin:0;float:left}@media (min-width: 641px){.nav-tabs li,.nav-tabs .tabs-nav li{font-size:16px;line-height:1.25}}@media (max-width: 640px){.nav-tabs li,.nav-tabs .tabs-nav li{float:none}}.nav-tabs li a,.nav-tabs .tabs-nav li a{border:solid 1px #fff;border-bottom:none;float:left;height:2.25em;line-height:2.25em;margin-bottom:-1px;padding:0 1em 0 1em;position:relative;text-align:center;top:0}@media (max-width: 640px){.nav-tabs li a,.nav-tabs .tabs-nav li a{display:block;position:static;float:none;height:auto;line-height:3.5em;padding:0 16px;text-align:left;margin-bottom:0;border-bottom:1px solid #bfc1c3}}.nav-tabs li a:hover,.nav-tabs .tabs-nav li a:hover{background-color:#bfc1c3}.nav-tabs li.active a,.nav-tabs .tabs-nav li.active a{background-color:#fff;border:solid 1px #bfc1c3;border-bottom:solid 1px #fff;color:#0b0c0c;position:relative;text-decoration:none;z-index:5}@media (max-width: 640px){.nav-tabs li.active a,.nav-tabs .tabs-nav li.active a{border:none;border-bottom:1px solid #bfc1c3}}.nav-tabs li.active a:hover,.nav-tabs .tabs-nav li.active a:hover{color:inherit}.nav-tabs li:first-child a,.nav-tabs .tabs-nav li:first-child a{margin-left:0}@media (max-width: 640px){.nav-tabs li:first-child a,.nav-tabs .tabs-nav li:first-child a{border-left:none;border-top:1px solid #bfc1c3}}@media (max-width: 640px){.tab-content{margin:0 -1em}}.tab-content .tab-pane{padding:1em 1em 0 1em;border-top:solid 1px #bfc1c3;clear:both;width:auto}@media (max-width: 640px){.tab-content .tab-pane{border-top:none;padding:0}}.tab-content .inner{padding:0em 2.5em 1em}@media (max-width: 640px){.tab-content .inner{padding:0 1em 1em;border-bottom:solid 1px #C9D0D0}}.tab-content h1.visuallyhidden+h2{margin-top:2em}.tab-content p{padding:0;margin-left:0;margin-right:0}.tab-content em{font-style:normal;font-weight:bold}.tab-content nav{margin:1em -1.375em 0}.js-tab-content .programme-progression li,.js-tab-content .js-heading-tab{border-bottom:solid 1px #bfc1c3;list-style:none}.js-tab-content .programme-progression li a,.js-tab-content .programme-progression li h1,.js-tab-content .js-heading-tab a,.js-tab-content .js-heading-tab h1{font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font-size:18px;line-height:2.64706;background:#FFF url(https://assets.publishing.service.gov.uk/static/accordion-arrow-b34c86338a4bcba6cdbd242842a42a8770fa8ce1fe5e4751fbab640e11f2cb85.png) no-repeat 100% -2px;display:block;padding:0 16px;position:relative;text-align:left;text-decoration:underline;top:0}@media (min-width: 641px){.js-tab-content .programme-progression li a,.js-tab-content .programme-progression li h1,.js-tab-content .js-heading-tab a,.js-tab-content .js-heading-tab h1{font-size:24px;line-height:1.875}}@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){.js-tab-content .programme-progression li a,.js-tab-content .programme-progression li h1,.js-tab-content .js-heading-tab a,.js-tab-content .js-heading-tab h1{background-image:url(https://assets.publishing.service.gov.uk/static/accordion-arrow-2x-571fbd74783219a72efc102f0113190d4393e506cf3bf759bf5ab5e463033f76.png);background-size:45px 90px}}.js-tab-content .programme-progression li a:hover,.js-tab-content .programme-progression li h1:hover,.js-tab-content .js-heading-tab a:hover,.js-tab-content .js-heading-tab h1:hover{background-color:#dee0e2}.js-tab-content .programme-progression li.active,.js-tab-content .js-heading-tab.active{text-decoration:none}.js-tab-content .programme-progression li.active a,.js-tab-content .programme-progression li.active h1,.js-tab-content .js-heading-tab.active a,.js-tab-content .js-heading-tab.active h1{background-position:100% -48px;background-color:#dee0e2;color:#0b0c0c;text-decoration:none}.js-tab-content .js-heading-tab{margin:0;clear:both}.js-tab-content .js-heading-tab h1{padding:0}.js-tab-content .tab-shiftlink{font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font-size:16px;line-height:1.25;position:absolute;left:-9999em}@media (min-width: 641px){.js-tab-content .tab-shiftlink{font-size:19px;line-height:1.31579}}@media (max-width: 640px){.js-tab-content .tab-shiftlink{position:static;left:auto}}@media (max-width: 640px){.js-tab-content .js-tab-container{min-height:0}.js-tab-content .js-tab-pane{border-bottom:solid 1px #bfc1c3}.js-tab-content .js-tab-container:first-child{border-top:solid 1px #bfc1c3}}.transaction .js-tab-content{overflow:hidden}
