// IWTF - application CSS
// ==========================================================================


// Settings (variables)
$iconPath: '/public/icons/';
$imagePath: '/public/images/';

// GOV.UK elements
@import 'govuk-elements';

// Imported stylesheets
@import 'start-date';
@import 'tabs';
@import 'print';
// @import 'paypal';


// Split out CSS below into ITCSS folder structure



// Mixins to generate components (chunks of UI)
// Functions
// Objects (unstyled design patterns)
// Components (chunks of UI)



body {
    font-size: 19px;
    line-height: 1.31579;
}

table {
  border: none;
}

table td,
table th {
  border: none;
  border-bottom: solid 1px #bfc1c3;
}

.list-bullet {
  margin: 0 0 20px;
}

.form-hint {
  margin: 5px 0;
}

.bold-large {
  margin: 0;
}

.helpline-text {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 16px;
}

.helpline-text a {
  color: #454a4c;
}

.helpline-text-sub {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #0b0c0c;
}



.text-error {
    color: $error-colour;
}

.heavy {
    font-weight: bold;
}

.notice .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px;
}

.icon-important {
    width: 35px;
    height: 35px;
    background: url("/public/icons/icon-important.png") no-repeat;
}

.icon-file-download {
    width: 29px;
    height: 26px;
    background: url("/public/icons/icon-file-download.png") no-repeat;
}

.check-your-answers {
    th {
        font-weight: bold;
        font-size: 19px;
        vertical-align: top;
        border: none;
        border-bottom: 1px solid #bfc1c3;
    }

    .change-answer {
        font-weight: normal;
        text-align: right;
        padding-right: 0;
    }

    td {
        @include core-19;
        vertical-align: top;
        border: none;
        border-bottom: 1px solid #bfc1c3;

        .data {
            @include bold-19;
            font-weight: normal;

            span {
                font-weight: normal;
                display: inline-block;
                padding-left: 5px;
            }
        }
    }
}

.radio-list {
    .block-label {
        float: none;
        padding-top: 8px;
        padding-bottom: 5px;
        margin-bottom: 11px;

        input {
            top: 5px;
        }

        &.disabled {
            cursor: default;
            color: $secondary-text-colour;

            &:hover {
                border-color: $panel-colour;
            }
        }
    }
}

#terms-conditions-page {
    .form-hint {
        margin-top: 8px;
    }
}

.header-proposition {
    .content {
        .auth {
            color: #fff;

            a {
                color: #fff;
            }
        }
    }
}
// payment page summary box

.payment-summary-small {
    border: 10px solid #DEE0E2;
    background-color: #F8F8F8;
    padding: 15px;
    margin-top: 100px;

    h2 {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 30px;
    }
}

.payment-title {
    // font-weight: 700;
    margin-bottom: 0
}

.payment-licence-title {
    font-weight: 700;
}

.payment-info {
    margin-bottom: 15px;
}

.payment-amount {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}

.form-group {
    margin-bottom: $gutter;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.accepted-image-1 {
    max-width: 320px;
    margin-bottom: 30px;
}

#visa-image {
    margin-bottom: -10px;
    max-width: 110px;
}

.visa-hidden {
    visibility: hidden;
}

img.card-image {
    max-height: 38px;
    padding-top: 2px;
    margin-left: 15px;
    vertical-align: middle;
}

#building-and-street {
    margin-bottom: 10px;
}

.form-control {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.3157894737;
    font-weight: 400;
    text-transform: none;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
    background-color: #fff;
    border: 2px solid #6f777b;
    margin-bottom: 5px;
    -webkit-appearance: none;
    border-radius: 0;
}

.form-label-bold {
    font-size: 19px;
    margin-bottom: 5px;
}

#security-number {
    width: 100px;
}

// #postcode {
//     width: 120px;
// }

table.payment-confirm {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    td {
        font-size: 19px;
        font-weight: 300;
        border: none;
    }

    .table-info {
        font-weight: 700;
    }
}

.check-details {
    margin-bottom: 30px;
}

#card-security-number {
    width: 20%;
}
// summary table

table.check-your-answers {
    th {
        font-weight: bold;
        font-size: 19px;
        vertical-align: top;
    }

    .change-answer-normal {
        font-weight: normal;
        text-align: right;
        padding-right: 0;
    }

    .change-answer {
        font-weight: normal;
    }
}

table.payment-confirm {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;

    td {
        font-size: 19px;
        font-weight: 300;
        border-bottom: none;
    }

    .table-info {
        font-weight: 700;
    }
}

.check-details {
    margin-bottom: 30px;
}

#card-security-number {
    width: 20%;
}



// static


.pagination {
  border-bottom: 1px solid #bfc1c3;
  display: block;
  margin: 4em 0 0;
}

@media (max-width: 640px) {
  .pagination {
    margin: 2em 0 0;
  }
}

.pagination ul {
  margin: 0;
  padding: 0;
}

.pagination li {
  float: left;
  font-family: "nta",Arial,sans-serif;
  font-size: 14px;
  font-size-adjust: 0.5;
  font-weight: 400;
  line-height: 1.14286;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: right;
  text-transform: none;
  width: 49%;
}

@media (min-width: 641px) {
  .pagination li {
    font-size: 16px;
    line-height: 1.25;
  }
}

.pagination li a {
  background-color: transparent;
  color: #005ea5;
  display: block;
  text-decoration: none;
}

.pagination li a:hover, .pagination li a:active {
  background-color: #f8f8f8;
}

.pagination li a .pagination-label {
  display: block;
  font-family: "nta",Arial,sans-serif;
  font-size: 20px;
  font-size-adjust: 0.5;
  font-weight: 400;
  line-height: 1.11111;
  margin-bottom: 0.1em;
  text-transform: none;
}

@media (min-width: 641px) {
  .pagination li a .pagination-label {
    font-size: 27px;
    line-height: 1.25;
  }
}

.pagination li a .pagination-part-title {
  text-decoration: underline;
}

.pagination li.next {
  float: right;
  text-align: right;
}

.pagination li.next a::before {
  background: transparent url("/public/images/arrow-sprite.png") no-repeat scroll -102px -11px;
  content: " ";
  display: block;
  float: right;
  height: 38px;
  margin: -4px -32px 0 0;
  width: 30px;
}

.pagination li.previous a::before {
  background: transparent url("/public/images/arrow-sprite.png") no-repeat scroll -20px -11px;
  content: " ";
  display: block;
  float: left;
  height: 38px;
  margin: -4px 0 0 -32px;
  width: 30px;
}

.pagination li.previous {
  float: left;
  text-align: left;
}

.pagination li.previous a {
  padding: 0.75em 0 0.75em 3em;
}

.pagination li.next a {
  padding: 0.75em 3em 0.75em 0;
}

@media (max-width: 640px) {
  .pagination li.previous, .pagination li.next {
    float: none;
    width: 100%;
  }
  .pagination li.next a {
    text-align: right;
  }
}

.pagination .first, .pagination .last {
  min-height: 4.5em;
}

.pagination .first span, .pagination .last span {
  display: block;
  min-height: 4.5em;
  padding: 0.75em 5%;
  width: 90%;
}

.pagination .first .pagination-label, .pagination .last .pagination-label {
  display: block;
  margin-bottom: 0.5em;
}

.related {
  padding-top: 5px;
  margin-top: 40px;
  border-top: 10px solid #005ea5;
}

.related h2 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
}

.related li a {
  display: block;
  line-height: 1.25em;
  margin-bottom: 10px;
}

.related ul {
  font-size: 16px;
  line-height: 1.25;
}

.page-navigation li {
  font-size: 16px;
  line-height: 1.75;
}

.button-start,
.button-get-started {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  background-image: url("/public/images/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em;
}

@media (min-width: 641px) {
  .button-start,
  .button-get-started {
    font-size: 24px;
    line-height: 1.25;
  }
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.progressive-disclosure-margin {
  margin-bottom: 1.4em;
}

a.govuk-box-highlight-link {
  color: #fff
}

a.govuk-box-highlight-link:hover {
  color: #e0e2e5
}

details summary.non-blue {
  color: #0b0c0c!important;
}

details summary.non-blue .summary-link{
  color: #4c2c92!important;
}


// results table

.result {
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.result h2.heading-medium {
  margin: 0;
}

.result dl {
    margin-top:10px;
}

.result dl dt {
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:100px;
}

.result dl dd {
  margin:2px 0;
  padding:5px 0;
}


.notice-margin-bottom {
  margin-bottom: 10px;
}



// Date picker

.calendar label {
    visibility: hidden;
}

.ui-datepicker-trigger {
  border: none;
  background: none;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin-top: 27px;
  color: #005ea5;
  text-decoration: underline;
}

.ui-datepicker-trigger img {
  width: 40px;
}

.heading-medium-returns {
  margin-top: 0;

}


.radio-list {
    .block-label {
        float: none;
        padding-top: 8px;
        padding-bottom: 5px;
        margin-bottom: 11px;

        input {
            top: 5px;
        }

        &.disabled {
            cursor: default;
            color: $secondary-text-colour;

            &:hover {
                border-color: $panel-colour;
            }
        }
    }
}


input:focus, textarea:focus, select:focus, button:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}

.js-enabled .block-label.selection-button-radio::after {
    content: "";
    border: 10px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    left: 9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}

.js-enabled .block-label.selection-button-checkbox::after {
    content: "";
    border: 10px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    left: 9px;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}

.js-enabled .block-label.selection-button-radio.selected::after, .js-enabled .block-label.selection-button-checkbox.selected::after {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}



.inline .block-label {
    display: inline!important
}

.js-enabled .block-label.selection-button-checkbox::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
}
