
{% set tocPage = true %}

{% extends "./layout.html" %}



{% block head %}
<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}


{% block pageTitle %}
{{ serviceName }}
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>


<div class="gem-c-contextual-breadcrumbs">

  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>


</div>

{% endblock %}



{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
          <p class="gem-c-title__context">
            Guidance
          </p>
        <h1 class="gem-c-title__text gem-c-title__text--long">
          {{ serviceName }}
        </h1>
      </div>

      <p class="gem-c-lead-paragraph ">
        Use this service to register or apply for a certificate, so that you can sell or hire elephant ivory items that are not included in the ivory ban.
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
        <div class="govuk-grid-column-two-thirds metadata-column">
            <div class="app-c-publisher-metadata" lang="en">
        <div class="app-c-published-dates " lang="en">
        Published 2 December 2019
        <br>Last updated 21 December 2019
          — <a href="#history">see all updates</a>
    </div>

          <div class="app-c-publisher-metadata__other">
            <dl data-module="track-click">
                <dt class="app-c-publisher-metadata__term">
                  From:
                </dt>
                <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                    <span class="app-c-publisher-metadata__definition-sentence">
                      <a href="/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a> and <a href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food &amp; Rural Affairs</a>
                    </span>
                </dd>
            </dl>
          </div>
      </div>

        </div>
        <div class="govuk-grid-column-one-third">
        </div>
      </div>
    </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




      <div id="toc" class="toc"></div>

      <p class="govuk-body govuk-!-margin-top-7">If you’re not sure your item has ivory in it, you can ask a professional to assess it for you.</p>

      <h2 id="how-to" class="govuk-heading-l">How to register or apply for a certificate</h2>

      <p class="govuk-body">It's easier to <a href="start">do it online</a>. You can also <a href="#">use a paper form</a></p>

      <p class="govuk-body">You do not have to register and apply for a certificate for the same item. An item would either need registration or a certificate.</p>


    </div>



    <div class="govuk-grid-column-one-third">



      <div class="gem-c-contextual-sidebar">


        <div class="gem-c-related-navigation">

            <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
              Related content
            </h2>




            <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-1e7b0f2c" data-module="gem-toggle">


        <ul class="gem-c-related-navigation__link-list" data-module="track-click">

              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/government/collections/moving-and-trading-endangered-species-forms" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Moving and trading endangered species: forms&quot;}" href="/government/collections/moving-and-trading-endangered-species-forms">Check before buying an ivory item</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/government/publications/endangered-species-application-for-import-and-export-permit" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Endangered species: apply for an import and export permit&quot;}" href="/government/publications/endangered-species-application-for-import-and-export-permit">Endangered species: apply for an import and export permit</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/government/publications/endangered-species-application-for-commercial-use" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Endangered species: apply for a commercial use certificate&quot;}" href="/government/publications/endangered-species-application-for-commercial-use">Endangered species: apply for a commercial use certificate</a></li>

        </ul>
      </nav>



            <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_guides-1e7b0f2c" data-module="gem-toggle">

          <h3 id="related-nav-related_guides-1e7b0f2c" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Detailed guidance</h3>

        <ul class="gem-c-related-navigation__link-list" data-module="track-click">

              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="2.1 Detailed guidance" data-track-label="/guidance/endangered-species-certificates-for-commercial-use" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Endangered species: certificates for commercial use&quot;}" href="/guidance/endangered-species-certificates-for-commercial-use">A guide to selling, hiring and buying items containing ivory</a></li>

        </ul>
      </nav>



            <!-- <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-collections-1e7b0f2c" data-module="gem-toggle">

          <h3 id="related-nav-collections-1e7b0f2c" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Collection</h3>

        <ul class="gem-c-related-navigation__link-list" data-module="track-click">


              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="3.1 Collection" data-track-label="/government/collections/guidance-on-importing-and-exporting-live-animals-or-animal-products" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Guidance on importing and exporting live animals or animal products&quot;}" href="/government/collections/guidance-on-importing-and-exporting-live-animals-or-animal-products">Guidance on importing and exporting live animals or animal products</a></li>

        </ul>
      </nav> -->

        </div>


      </div>




    </div>



  </div>



{% endblock %}
