{% extends "./layout.html" %}

{% set thisPageTitle = "You need to find out more about your item" %}

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ thisPageTitle }}</h1>


      <p class="govuk-body">Before using this service, make sure you’ve either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>read all the guidance about how to legally sell or hire out ivory</li>
        <li>spoken to an expert about your item</li>
      </ul>

      <p class="govuk-body">This will give you some idea about your item and if it’s exempt from the ivory ban.</p>

      <a href="guidance-new" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">Back to the ivory ban guidance
      </a>

    </div>
  </div>
</div>
{% endblock %}
