
{% set tocPage = true %}

{% extends "./layout.html" %}

{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">


{% endblock %}


{% block pageTitle %}
Ivory Act 2018 guidance
{% endblock %}



{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}


{% block beforeContent %}

<div id="global-header-bar"></div>

  <div class="govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list" style="font-size: 16px">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Environmental management &quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management">Environmental management </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/topic/environmental-management/wildlife-habitat-conservation">Wildlife and habitat conservation</a>
      </li>
    </ol>
  </div>



{% endblock %}



{% block content %}

<div class="publication-external" style="margin-top: -30px; margin-bottom: 30px">
    <ul class="organisation-logos">
        <li class="organisation-logos__logo">
          <div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
            <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">
            <span class="gem-c-organisation-logo__name">Department<br>for Environment<br>Food &amp; Rural Affairs</span></a>
          </div>
        </li>
    </ul>
</div>

<header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
  <div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
    <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
    <h1 class="gem-c-title__text">
      How to legally sell or hire out elephant ivory
    </h1>
  </div>
  <p class="publication-header__last-changed">Updated 6 April 2021</p>
</header>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <!-- CONTENTS LIST -->
    <div class="govuk-!-margin-bottom-7" id="toc" class="toc"></div>
  </div>


  <div class="govuk-grid-column-three-quarters">

    <div class="gem-c-govspeak govuk-govspeak direction-ltr">
      <div class="govspeak">

        <p>Understand which items are exempt from the UK ivory ban, and declare an item before you sell or hire it out.</p>

<h2 class="govuk-!-margin-top-0" id="selling-an-ivory-item">Declare your ivory before selling or hiring it out</h2>

        <p>The <a href="https://www.legislation.gov.uk/ukpga/2018/30/contents/enacted">Ivory Act 2018</a> bans dealing in most items that contain elephant ivory. Some items are exempt from the ban, but you must tell us before you sell or hire them out.</p>

        <p>You’ll need to pay an administration fee when you do this.</p>

        <a href="know-items-exempt" style="color: white; padding-right: 10px" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>

        <div class="govuk-warning-text govuk-!-margin-bottom-0">
          <span class="govuk-warning-text__icon" aria-hidden="true" style="margin-top: -20px; min-width: 32px">!</span>
          <strong class="govuk-warning-text__text" style="font-size: 19px; padding-left: 53px">
            <span class="govuk-warning-text__assistive">Warning</span>
            In extreme circumstances, you could be fined £250,000 or sent to prison if you sell or hire out elephant ivory that does not meet the exemption criteria.
          </strong>
        </div>

        <h3>What is meant by hiring</h3>

        <p>You only need to declare an item you’re hiring out if you’ll profit from the transaction. You do not need to declare an item if you loan it to someone and they cover your expenses.</p>

        <h3>If you’re not sure your item contains elephant ivory</h3>

        <p>If you’re selling or hiring out an item that looks like it contains ivory, we will assume it contains elephant ivory, unless you prove otherwise.</p>


<h2 id="know-your-items-category">Items that are exempt from the ivory ban</h2>

        <p>You can sell or hire out the following items, providing you tell us about them first:</p>

        <ul>
          <li>musical instruments made before 1975 with less than 20% ivory by volume</li>
          <li>items made before 3 March 1947 with less than 10% ivory by volume</li>
          <li>portrait miniatures made before 1918 with a surface area smaller than 320 square centimetres</li>
          <li>items that a qualifying museum intends to buy or hire</li>
          <li>items made before 1918 that are of outstandingly high artistic, cultural or historical value</li>
        </ul>

        <p>If you’re not sure about your item, try the <a href="sure-its-elephant">ivory item eligibility checker</a>.</p>


        <div class="govuk-inset-text">
          <p>If your item is not in one of these categories, it is illegal to sell or hire it out, but you can still keep it, give it away as a gift or leave it to someone in your will.</p>
        </div>



<h2 id="who-needs-to">Who needs to declare ivory</h2>

        <p>You must declare your item if it meets the exemption criteria and a substantial part of the commercial transaction will happen in the UK. For example:</p>

        <ul>
          <li>the item will move within, into or out of the UK when it’s sold or hired out</li>
          <li>the item stays outside the UK, but you or the seller are based in the UK, or use UK bank accounts to conduct the transaction </li>
        </ul>


        <div class="govuk-inset-text">
          <p>You can declare an exempt item on behalf of someone else, but you must have their permission to do so.</p>
        </div>


<h2 id="sets">Declaring items that come as a set</h2>

        <p>You can treat a set of objects as a single item if both the following apply:</p>

        <ul>
          <li>all the objects were produced with the intention of being kept and used together</li>
          <li>all the objects you are selling or hiring out were part of the original set</li>
        </ul>

        <p>Examples include:</p>

        <ul>
          <li>a teapot with an ivory knob that is part of a tea set</li>
          <li>a dagger with an ivory handle that comes with a sheath</li>
        </ul>



<h2 id="other-obligations">Other legal obligations</h2>

        <p>As part of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES), you may need to apply for:</p>

        <ul>
          <li>a CITES article 10 certificate, if your item is in the UK and was made after 3 March 1947</li>
          <li>an EU internal trading certificate, if your item is in an EU country</li>
          <li>a CITES permit, if your item will cross certain national borders when its sold or hired out</li>
        </ul>

        <p>After you have completed your ivory declaration, we can signpost you to the appropriate CITES form.</p>


<h2 id="not-exempt">What you can do with ivory that is not exempt</h2>

        <p>If you own ivory that does not meet the Ivory Act exemption criteria, you cannot sell or hire it out under any circumstances.</p>

        <p>You are legally allowed to:</p>

        <ul>
          <li>keep it</li>
          <li>give it away as a gift</li>
          <li>leave it to someone in your will</li>
        </ul>


<h2 id="act-purpose">How the Ivory Act helps protect elephants</h2>

        <p>The government believes that demand for ivory will exist so long as there are legal markets for it.</p>

        <p>Legal markets make it easier for people to sell new ivory from recently killed elephants. For example, illegal ivory traffickers use artificial staining and other ageing techniques, which make it extremely difficult for anyone to tell the difference between illegal and legal ivory.</p>

        <p>Closing down domestic ivory markets will reduce the demand for ivory, which in turn will help save elephants in the wild.</p>

        <p>The UK’s ivory ban is one of the toughest in the world. It aims to:</p>

        <ul>
          <li>remove the financial value from ivory</li>
          <li>reduce the opportunity for new ivory to be laundered through legal markets</li>
          <li>significantly reduce the flow of ivory from the UK to overseas markets</li>
          <li>send a clear message to the rest of the world that the UK no longer considers ivory to be an acceptable commodity</li>
          <li>encourage other countries to take similar actions</li>
        </ul>


<h2 id="act-purpose">More information about dealing in ivory</h2>

        <ul>
          <li>For technical information about the ivory ban exemption criteria, see <a href="https://consult.defra.gov.uk/communications/implementing-the-ivory-act/">Implementing the Ivory Act - consultation (opens in a new window or tab)</a></li>
          <li><a href="guidance-rmi">Certifying ivory items of outstandingly high artistic, cultural or historical value</a></li>
          <li><a href="guidance-buying">How to buy elephant ivory</a></li>

        </ul>


<h2 id="contact">Contact information</h2>

        <p>If you need to contact us about declaring an elephant ivory item, contact <a href="#">support@apha.gov.uk</a></p>

        <p>If you suspect someone is trading elephant ivory items illegally, contact <a href="#">intelunit@apha.gov.uk</a></p>



      </div>

      </div>

    </div>


</div>



{% endblock %}
