{% extends "./layout.html" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <!-- Dynamic H1 needs to say Edit if coming from direct hit screen  -->
        <h1 class="govuk-heading-l">
          Enter owner's address
        </h1>

        <p class="govuk-body">If the owner is a business, give the business address.</p>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="address-line-1">
            Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="addressLine1" type="text" value="{{ data['addressLine1'] }}" />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="address-line-2">
            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" value="{{ data['addressLine2'] }}" />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" value="{{ data['addressTown'] }}" />
        </div>

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="agentAddressCounty" type="text" value="{{ data['agentAddressCounty'] }}" />
        </div> -->

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" value="{{ data['addressPostcode'] }}" required />
        </div>

      <button class="govuk-button">Continue</button>

    </form>



  </div>
</div>


{% endblock %}
