{% extends "./layout.html" %}


<!-- Adds a class to increase vertical spacing for pages without a back button -->
<!-- Nunjucks line commented out using {# or now -->
{# {% set mainClasses = "govuk-main-wrapper--l" %} #}

<!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
{% block beforeContent %}
  {% include "../includes/stage-banner.html" %}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{serviceName}}</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <!-- You can be fined and/or face imprisonment if you trade in items containing ivory which have not been registered. <a href="#">Read about the Ivory Act 2018</a> -->
        You can be fined up to £250,000 and/or sent to prison if you buy, sell or hire an ivory item that has not been registered or certified.
      </strong>
    </div>



    <p class="govuk-body">You'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to know if you can legally sell or hire the item (<a href="guidance">read the guide</a>)</li>
      <li>a photograph of the item</li>
      <li>a debit or credit card to pay a fee of £X</li>
    </uL>

    <a href="start-prototype" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
    </a>

  </div>
</div>

</main>
</div>


{% endblock %}