{% extends "./layout.html" %}




{% set thisPageTitle = "Confirm the volume of ivory" %}




{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}






{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form method="post" autocomplete="off" {{ novalidateVal }}>


      <div class="govuk-form-group">

        {% if data['exemptionChoice'] == 'type5' %}

        <h1 class="govuk-heading-l">Declare the item is the rarest and most important of its kind</h1>



        {{ govukCheckboxes({
        name: "volume-declaration",
        fieldset: {
        legend: {
        text: "Legal declaration",
        classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
        }
        },
        items: [
        {
        value: "Declared",
        text: "I declare the item is the rarest and most important of its kind",
        id: "volume-declaration",
        checked: checked("volume-declaration", "Declared")
        }
        ]
        }) }}


        <div class="govuk-!-margin-bottom-9"></div>


        <div class="govuk-form-group">
          <label class="govuk-label" for="volume-detail">
            Explain how you know surface area of the portrait miniature is less than 320 square centimetres
          </label>
          <textarea class="govuk-textarea" id="volume-detail" name="volumeDetail" rows="5" aria-describedby="volume-detail-hint">{{ data['volumeDetail'] }}</textarea>
        </div>


        {% elseif data['exemptionChoice'] == 'type3' %}

        <h1 class="govuk-heading-l">Confirm the portrait miniature is less than 320 square centimetres</h1>


        {{ govukCheckboxes({
          name: "volume-declaration",
          fieldset: {
            legend: {
              text: "Legal declaration",
              classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Declared",
              text: "I declare the portrait miniature is less than 320 square centimetres",
              id: "volume-declaration",
              checked: checked("volume-declaration", "Declared")
            }
          ]
        }) }}


        <div class="govuk-!-margin-bottom-9"></div>


        <div class="govuk-form-group">
          <label class="govuk-label" for="volume-detail">
            Explain how you know surface area of the portrait miniature is less than 320 square centimetres
          </label>
          <textarea class="govuk-textarea" id="volume-detail" name="volumeDetail" rows="5" aria-describedby="volume-detail-hint">{{ data['volumeDetail'] }}</textarea>
        </div>


        <!--

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <p class="govuk-fieldset__heading">
              What size is the portrait miniature?
            </p>
          </legend>

        <div class="govuk-form-group defra-input-unit-cm ">

          <label class="govuk-label" for="item-width">
            Width in centimetres
          </label>

          <div class="input-type input-type--unit">
            <input class="govuk-input govuk-input--width-3 " id="item-width" name="itemWidth" type="number" pattern="[0-9]*" value="{{ data['itemWidth'] }}" required />
            <abbr title="Centimetres" class="input-type__type-cm"> cm</abbr>
          </div>

        </div>

        <div class="govuk-form-group defra-input-unit-cm ">

          <label class="govuk-label" for="item-height">
            Height in centimetres
          </label>

          <div class="input-type input-type--unit">
            <input class="govuk-input govuk-input--width-3 " id="item-height" name="itemHeight" type="number" pattern="[0-9]*" value="{{ data['itemHeight'] }}" required />
            <abbr title="Centimetres" class="input-type__type-cm"> cm</abbr>
          </div>

        </div>

        </fieldset>

        -->

        {% else %}

        <h1 class="govuk-heading-l">
          Confirm the item has less than {{ ivoryVolume }} ivory
        </h1>


        <!-- <div class="govuk-form-group govuk-!-margin-bottom-9">
          <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Legal declaration
            </legend>
            <div class="govuk-checkboxes" data-module="checkboxes">
              <div class="govuk-checkboxes__item">

                {% if data['volume-declaration'] == 'Declared' %}
                <input class="govuk-checkboxes__input" id="volume-declaration" checked name="volume-declaration" type="checkbox" value="Declared" required>
                {% else %}
                <input class="govuk-checkboxes__input" id="volume-declaration" name="volume-declaration" type="checkbox" value="Declared" required>
                {% endif %}

                <label class="govuk-label govuk-checkboxes__label" for="volume-declaration">
                  I declare the item contains less than {{ ivoryVolume }} ivory by volume
                </label>
              </div>
            </div>
          </fieldset>
        </div> -->



        {{ govukCheckboxes({
          name: "volume-declaration",
          fieldset: {
            legend: {
              text: "Legal declaration",
              classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Declared",
              text: "I declare the item has less than " + ivoryVolume + " ivory by volume",
              id: "volume-declaration",
              checked: checked("volume-declaration", "Declared")
            }
          ]
        }) }}


        <div class="govuk-!-margin-bottom-9"></div>



        {{ govukCheckboxes({
          name: "ivoryVolume",
          fieldset: {
            legend: {
              text: "How do you know the item has less than " + ivoryVolume + " ivory?",
              classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "Estimate of ivory content by eye",
              text: "Estimate of ivory content by eye",
              id: "ivory-volume-eye",
              checked: checked("ivoryVolume", "Estimate of ivory content by eye")
            },
            {
              value: "Measured the item to work out the volume",
              text: "Measured the item to work out the volume",
              id: "ivory-volume-measured",
              checked: checked("ivoryVolume", "Measured the item to work out the volume")
            },
            {
              value: "Written verification from an expert",
              text: "Written verification from an expert",
              id: "ivory-volume-expert",
              checked: checked("ivoryVolume", "Written verification from an expert")
            },
            {
              value: "Other",
              text: "Other",
              id: "ivory-age-other",
              checked: checked("ivoryVolume", "Other")
            }
          ]
        }) }}


        <div class="govuk-form-group">
          <label class="govuk-label" for="volume-detail">
            Give details
          </label>
          <textarea class="govuk-textarea" id="volume-detail" name="volumeDetail" rows="5" aria-describedby="volume-detail-hint">{{ data['volumeDetail'] }}</textarea>
        </div>



        {% endif %}

      </div>


      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>


{% endblock %}
