
{% set tocPage = true %}




{% extends "./layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
<!-- Nunjucks line commented out using {# or now -->
{# {% set mainClasses = "govuk-main-wrapper--l" %} #}

<!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
{% block beforeContent %}
  {% include "../includes/stage-banner.html" %}
{% endblock %}

{% block pageTitle %}
  Selling, hiring and buying ivory
{% endblock %}


{% block header %}
  {{ govukHeader({
    serviceName: "Selling, hiring and buying ivory"
  }) }}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">A guide to selling, hiring and buying ivory</h1>



    <p class="govuk-body">Under the <a href="http://www.legislation.gov.uk/ukpga/2018/30/introduction/enacted">Ivory Act 2018</a>, it’s illegal to sell, hire or buy items that have elephant ivory unless they have been registered or certified.</p>


    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You can be fined up to £250,000 and/or sent to prison if you sell or hire an ivory item without registering or getting a certificate.
      </strong>
    </div>



    <div id="toc" class="toc"></div>



    <p class="govuk-body">You must <a href="start">register or apply for a certificate</a> to:

      <ul class="govuk-list govuk-list--bullet">
        <li>sell or hire an ivory item</li>
        <li>offer to sell or hire an ivory item</li>
        <li>exchange an ivory item for another good or service</li>
        <li>keep an ivory item for sale or hire</li>
        <li>export or import an ivory item for sale or hire</li>
      </ul>

    </p>


    <p class="govuk-body govuk-!-margin-top-7">You do not need to register or apply for a certificate if you:

      <ul class="govuk-list govuk-list--bullet">
        <li>own an ivory item you do not plan to sell or hire</li>
        <li>give or donate an ivory item</li>
        <li>inherit an ivory item</li>
      </ul>

    </p>


    <p class="govuk-body govuk-!-margin-top-7">If you’re not sure your item has ivory in it, you can ask a professional to assess it for you.</p>


    <h2 id="how-to" class="govuk-heading-l">How to register or apply for a certificate</h2>

    <p class="govuk-body">It's easier to <a href="start">do it online</a>. You can also <a href="#">use a paper form</a></p>

    <p class="govuk-body">You do not have to register and apply for a certificate for the same item. An item would either need registration or a certificate.</p>


    <h3 class="govuk-heading-m">Online</h3>

    <p class="govuk-body">Before starting the online process, you'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a photo of the item</li>
      <li>a debit or credit card</li>
    </uL>


    <h3 class="govuk-heading-m">Paper</h3>

    <p class="govuk-body">Here's how to do it on paper.</p>

    <h3 class="govuk-heading-m">After registering</h3>

    <p class="govuk-body">When you’ve completed the registration and paid the fee, you’ll get:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>an email to say that you've completed your registration</li>
      <li>a payment reference number (this is not your registration number)</li>
      <li>your registration document within 2 working days of completing the registration</li>
    </uL>

    <h3 class="govuk-heading-m">After applying for a certificate</h3>

    <p class="govuk-body">When you’ve completed the application and paid the fee:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your application will go to one of our selected assessors</li>
      <li>the assessor will use the information you’ve provided to assess the item, giving their opinion and reasons</li>
      <li>APHA (Animal and Plant Health Agency) will decide whether to grant a certificate</li>
      <li>if your application is successful, we'll email you a certificate</li>
      <li>if your application is refused, we'll let you know why</li>
    </ul>


    <p class="govuk-body">It should take no more than [insert length of process] to get a decision about certificates, although in some cases this may be longer.</p>
    <p class="govuk-body">If you disagree with a decision that has been made, you have the right to appeal that decision.</p>
    <p class="govuk-body">An item’s certificate has no expiry date. If you sell an item with a certificate, you can transfer the certificate to the new owner.</p>
    <p class="govuk-body">You can request a replacement certificate if you cannot find the original certificate.</p>



    <h3 class="govuk-heading-m">Fees</h3>


    <p class="govuk-body">It costs £# to register and £## to apply for a certificate.</p>
    <p class="govuk-body">You will not get a refund if your registration is withdrawn or application is refused.</p>


    <h3 class="govuk-heading-m">Acting for someone else</h3>


    <p class="govuk-body">You can register or apply for a certificate on behalf of someone else - for example if you’re an auction house.</p>






    <h2 id="register" class="govuk-heading-l">Items you can register</h2>


    <h3 class="govuk-heading-m">Items made before 1947 with less than 10% ivory</h3>


    <h4 class="govuk-heading-s">Items made before 1947</h4>


    <h4 class="govuk-heading-s">Items with less than 10% ivory</h4>


    <h5 class="govuk-heading-s">Items likely to have less than 10% ivory</h5>

    <ul class="govuk-list govuk-list--bullet">
      <li>a</li>
      <li>b</li>
      <li>c</li>
    </ul>


    <h5 class="govuk-heading-s">Items likely to have more than 10% ivory</h5>

    <ul class="govuk-list govuk-list--bullet">
      <li>a</li>
      <li>b</li>
      <li>c</li>
    </ul>



    <h3 class="govuk-heading-m">Musical instruments made before 1975 with less than 20% ivory</h3>

    <h4 class="govuk-heading-s">Proof it was made before 1975</h4>

    <h4 class="govuk-heading-s">Less than 20% ivory</h4>



    <h3 class="govuk-heading-m">Portrait miniatures made before 1918</h3>

    <h4 class="govuk-heading-s">How to measure a portrait miniature</h4>


    <h3 class="govuk-heading-m">Items you'll sell or hire to selected museums</h3>






    <h2 id="certificate" class="govuk-heading-l">Items that need a certificate</h2>


    <h3 class="govuk-heading-m">Outstanding artistic, cultural or historical value and importance</h3>


    <h3 class="govuk-heading-m">Items considered rare</h3>



    <h3 class="govuk-heading-m">Applying for a certificate</h3>



    <h3 class="govuk-heading-m">Items that do not meet the criteria</h3>


    <h3 class="govuk-heading-m">How to appeal</h3>






    <h2 id="measuring-volume" class="govuk-heading-l">How to measure ivory volume</h2>

    <h3 class="govuk-heading-m">What should not be included</h3>

    <h3 class="govuk-heading-m">Avoiding damage</h3>

    <h3 class="govuk-heading-m">Ivory must be integral</h3>






    <h2 id="buying-ivory" class="govuk-heading-l">Buying an ivory item</h2>





    <h2 id="report-changes" class="govuk-heading-l">Reporting changes</h2>






    <h2 id="import-export" class="govuk-heading-l">Importing or exporting an ivory item</h2>






    <h2 id="complaints" class="govuk-heading-l">How to complain</h2>






    <h2 id="foi" class="govuk-heading-l">Freedom of information</h2>




        <p class="govuk-body"> </p>
        <p class="govuk-body"> </p>
        <p class="govuk-body"> </p>





  </div>


</div>






{% endblock %}
