
{% set tocPage = true %}




{% extends "./layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
<!-- Nunjucks line commented out using {# or now -->
{# {% set mainClasses = "govuk-main-wrapper--l" %} #}

<!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
{% block beforeContent %}
{% include "../includes/stage-banner.html" %}
{% endblock %}

{% block pageTitle %}
Selling, hiring and buying ivory
{% endblock %}


{% block header %}
{{ govukHeader({
  serviceName: ""
}) }}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Guidance </span>
      A guide to selling, hiring and buying ivory
    </h1>



    <p class="govuk-body">Under the <a href="http://www.legislation.gov.uk/ukpga/2018/30/introduction/enacted">Ivory Act 2018</a>, it’s illegal to sell, hire or buy items that have elephant ivory unless they have been registered or certified.</p>


    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You can be fined up to £250,000 and/or sent to prison if you sell or hire an ivory item without registering or getting a certificate.
      </strong>
    </div>



    <div id="toc" class="toc"></div>



    <p class="govuk-body">You must <a href="start">register or apply for a certificate</a> to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>sell or hire an ivory item</li>
      <li>offer to sell or hire an ivory item</li>
      <li>exchange an ivory item for another good or service</li>
      <li>keep an ivory item for sale or hire</li>
      <li>export or import an ivory item for sale or hire</li>
    </ul>



    <p class="govuk-body govuk-!-margin-top-7">You do not need to register or apply for a certificate if you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>own an ivory item you do not plan to sell or hire</li>
      <li>give or donate an ivory item</li>
      <li>inherit an ivory item</li>
    </ul>


    <p class="govuk-body govuk-!-margin-top-7">If you’re not sure your item has ivory in it, you can ask a professional to assess it for you.</p>


    <h2 id="how-to" class="govuk-heading-l">How to register or apply for a certificate</h2>

    <p class="govuk-body">It's easier to <a href="start">do it online</a>. You can also <a href="#">use a paper form</a></p>

    <p class="govuk-body">You do not have to register and apply for a certificate for the same item. An item would either need registration or a certificate.</p>


    <h3 class="govuk-heading-m">Online</h3>

    <p class="govuk-body">Before starting the online process, you'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a photo of the item</li>
      <li>a debit or credit card</li>
    </uL>


    <h3 class="govuk-heading-m">Paper</h3>

    <p class="govuk-body">Here's how to do it on paper.</p>

    <h3 class="govuk-heading-m">After registering</h3>

    <p class="govuk-body">When you’ve completed the registration and paid the fee, you’ll get:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>an email to say that you've completed your registration</li>
      <li>a payment reference number (this is not your registration number)</li>
      <li>your registration document within 2 working days of completing the registration</li>
    </uL>

    <h3 class="govuk-heading-m">After applying for a certificate</h3>

    <p class="govuk-body">When you’ve completed the application and paid the fee:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your application will go to one of our selected assessors</li>
      <li>the assessor will use the information you’ve provided to assess the item, giving their opinion and reasons</li>
      <li>APHA (Animal and Plant Health Agency) will decide whether to grant a certificate</li>
      <li>if your application is successful, we'll email you a certificate</li>
      <li>if your application is refused, we'll let you know why</li>
    </ul>



    <p class="govuk-body">It should take no more than 30 days to get a decision about certificates, although in some cases this may be longer.</p>

    <p class="govuk-body">If you disagree with a decision that has been made, you have the right to appeal that decision.</p>

    <p class="govuk-body">An item’s certificate has no expiry date. If you sell an item with a certificate, you can transfer the certificate to the new owner.</p>

    <p class="govuk-body">You can request a replacement certificate if you cannot find the original certificate.</p>



    <h3 class="govuk-heading-m">Fees</h3>


    <p class="govuk-body">It costs £# to register and £## to apply for a certificate.</p>
    <p class="govuk-body">You will not get a refund if your registration is withdrawn or application is refused.</p>


    <h3 class="govuk-heading-m">Acting for someone else</h3>


    <p class="govuk-body">You can register or apply for a certificate on behalf of someone else - for example if you’re an auction house.</p>






    <h2 id="register" class="govuk-heading-l">Items you can register</h2>

    <p class="govuk-body">You can register an ivory item if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>it was made before 1947 with less than 10% ivory</li>
      <li>it's a musical instrument made before 1975 with less than 20% ivory</li>
      <li>it's a portrait miniature made before 1918</li>
      <li>you’ll sell or hire to an approved museum</li>
    </ul>


    <h3 class="govuk-heading-m">Items made before 1947 with less than 10% ivory</h3>


    <h4 class="govuk-heading-s">Items made before 1947</h4>

    <p class="govuk-body">To register, you’ll need to explain why you believe the item was made before 1947.</p>

    <p class="govuk-body">This may include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>an original receipt or bill</li>
      <li>an article published before 3 March 1947 with photos or detailed description of the item</li>
      <li>a date mark on the item</li>
      <li>you’ll sell or hire to an approved museum</li>
      <li>a written statement from previous owners, for example if the item is a family heirloom</li>
      <li>a written verification from an expert, such as an antiques specialist or a museum curator</li>
      <li>evidence from a carbon dating test</li>
    </ul>


    <p class="govuk-body">If any ivory has been added to the item since 2 March 1947, this ivory must have been:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>added for restoration only</li>
      <li>taken from its elephant source before 1 January 1975</li>
    </ul>




    <h4 class="govuk-heading-s">Items with less than 10% ivory</h4>

    <p class="govuk-body">You’ll also need to declare that the item made before 1947 has less than 10% ivory by volume.</p>

    <p class="govuk-body">Items with very small amount of ivory are usually made of other materials such as wood, metal or china.</p>




    <!-- <h5 class="govuk-heading-s">Items likely to have less than 10% ivory</h5>

    <ul class="govuk-list govuk-list--bullet">
    <li>a</li>
    <li>b</li>
    <li>c</li>
  </ul>


  <h5 class="govuk-heading-s">Items likely to have more than 10% ivory</h5>

  <ul class="govuk-list govuk-list--bullet">
  <li>a</li>
  <li>b</li>
  <li>c</li>
</ul> -->



<h3 class="govuk-heading-m">Musical instruments made before 1975 with less than 20% ivory</h3>





<p class="govuk-body">To register, you’ll need to show that:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>it’s a musical instrument or an accessory used to play a musical instrument, such as a bow</li>
  <li>it was made before 1975</li>
  <li>it has less than 20% ivory</li>
</ul>


<p class="govuk-body">The item must have been made for the primary purpose of being played. You can’t register the item under this category if:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>it’s in the shape of a musical instrument but not designed to be played</li>
  <li>it could be used to create music or rhythm but was not intended to be used in that way</li>
</ul>


<p class="govuk-body">You cannot register individual piano keys.</p>

<p class="govuk-body">You do not need to register an instrument to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>play it to an audience, even if you’ll be paid</li>
  <li>teach lessons</li>
  <li>transport it abroad for personal use, professional performance or repair</li>
</ul>






<h4 class="govuk-heading-s">Proof it was made before 1975</h4>

<p class="govuk-body">You’ll need to explain why you believe the item was made before 1 January 1975. This may include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>an original receipt or bill</li>
  <li>an article published before 1 January 1975 with photos or detailed description of the item</li>
  <li>a date mark on the item</li>
  <li>written verification from an expert, such as an antiques specialist, museum curator or music specialist</li>
  <li>distinguishing original features that prove its age</li>
</ul>



<p class="govuk-body">If any ivory has been added to the item since 1 January 1975, this ivory must have been:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>added for restoration only</li>
  <li>taken from its elephant source before 1 January 1975</li>
</ul>



<p class="govuk-body">If any ivory has been added to the item since 1 January 1975, this ivory must have been:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>added for restoration only</li>
  <li>taken from its elephant source before 1 January 1975</li>
</ul>


<p class="govuk-body">To prove if the ivory used to restore an item was taken from an elephant before 1 January 1975, you may:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have a written statement from a previous owner</li>
  <li>have a written record of repair that shows the date of that repair</li>
  <li>get the ivory carbon dated</li>
</ul>



<h4 class="govuk-heading-s">Less than 20% ivory</h4>

<p class="govuk-body">The total volume of an item applies to the actual materials the item is made from.</p>

<p class="govuk-body">It does not apply to empty spaces within the item, for instance the space within a violin or piano.</p>

<p class="govuk-body">Most instruments that contain ivory will have less than 20% ivory by volume. This includes:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>most pianos with ivory keys</li>
  <li>most violin bows that have a small piece of ivory - known as a face - by the tip</li>
  <li>most sets of bagpipes – you’ll need to measure the bagpipes when deflated</li>
</ul>

<p class="govuk-body">However, it is your legal responsibility to assess the volume of ivory.</p>




<h3 class="govuk-heading-m">Portrait miniatures made before 1918</h3>

<p class="govuk-body">A portrait miniature is a portrait usually created in the 18th and 19th centuries.</p>

<p class="govuk-body">It includes:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>portraits painted on ivory</li>
  <li>portraits in carved ivory relief</li>
</ul>


<p class="govuk-body">You can register a portrait miniature if:</p>

<ul class="govuk-list govuk-list--bullet"><li>it was made before 1918</li><li>the surface area you can see is less than 320cm<sup>2</sup></li></ul>


<h4 class="govuk-heading-s">How to measure a portrait miniature</h4>

<p class="govuk-body">The surface area you can see must be less than 320 cm<sup>2</sup>. It does not include the frame or areas covered by the frame.</p>

<p class="govuk-body">320cm<sup>2</sup> would be around 20 x 15 cm or 8 x 6 inches. Most pre-1918 portrait miniatures are less than this size.</p>






<h3 class="govuk-heading-m">Items you'll sell or hire to selected museums</h3>

<p class="govuk-body">You can register to sell or hire an ivory item to an accredited museum in the UK. The item does not need to meet any other exemption criteria.</p>

<p class="govuk-body">These are museums that are accredited by or on behalf of:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>The Arts Council England</li>
  <li>The Welsh Government</li>
  <li>Scottish Ministers&nbsp;</li>
  <li>The Northern Ireland Museums Council</li>
  <li>International Council of Museums (IOCM) – for overseas museums</li>
</ul>

<p class="govuk-body">Accredited museums can buy, sell or hire items with ivory to other accredited museums without registering or applying for a certificate. If an accredited museum buys or sells an ivory item to an IOCM member, the export or import of ivory must meet EU wildlife trade regulations.</p>

<p class="govuk-body">Accredited and non-accredited museums can continue to accept donations and gifts of ivory items.</p>






<h2 id="certificate" class="govuk-heading-l">Items that need a certificate</h2>

<p class="govuk-body">You can apply for a certificate for an ivory item if you can prove that:</p>

<ul class="govuk-list govuk-list--bullet"><li>it was made before 1918</li><li>it has an outstanding artistic, cultural or historical value<br><br></li></ul>






<h3 class="govuk-heading-m">Outstanding artistic, cultural or historical value and importance</h3>

<p class="govuk-body">One of our selected assessors will check the item to confirm that:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    it is the rarest and/or most important of its type
  </li>
  <li>
    no ivory was added to it on or after 1 January 1975, except to restore it
  </li>
  <li>
    the ivory was taken from its animal source before 1 January 1975
  </li>
</ul>


<p class="govuk-body">During your application, you can also include any supporting documentation.</p>




<h3 class="govuk-heading-m">Items considered rare</h3>

<p class="govuk-body">An item can be considered to be rare if:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    it has national or international uniqueness, for example it may be rare in the UK but not abroad
  </li>
  <li>
    its kind is not widely available
  </li>
  <li>
    it has unique features or historical adaptions
  </li>
</ul>


<p class="govuk-body">The rarity of an item may increase its importance, however an item may be rare but not necessarily of any great importance.</p>





<h3 class="govuk-heading-m">Items that do not meet the criteria</h3>

<p class="govuk-body">Items that do not meet the criteria will not be granted a certificate.</p>



<h3 class="govuk-heading-m">How to appeal</h3>

<p class="govuk-body">If your application to get a certificate was not successful, you can appeal&nbsp; to the First-tier Tribunal. However, unless you provide new information or evidence, you would likely have the same outcome.</p>





<h2 id="measuring-volume" class="govuk-heading-l">How to measure ivory volume</h2>

<p class="govuk-body">
  The total volume of an item applies to the material the item is made from. Your calculations should include the ivory and other materials in the item.
</p>
<p class="govuk-body">
  You can measure the volume of ivory by:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>estimating the content by eye if it is easy to see the total ivory content

  </li>
  <li>
    using measuring tools and volume formulas
  </li>
</ul>

<p class="govuk-body">
  When working out volume, you can consider a set of objects as a single item, for example an original tea set. However, you must not include any box or case which contains the set of objects.
</p>
<p class="govuk-body">
  You may not be able to work out the exact volume of ivory, for example in items with an irregular shape. However, it’s your legal responsibility to be sure it’s less than 10% by volume.
</p>








<h3 class="govuk-heading-m">What should not be included</h3>

<p class="govuk-body">
  You cannot measure empty spaces within an item, for instance the space within a chest of drawers or a teapot.
</p>

<h3 class="govuk-heading-m">Avoiding damage</h3>

<p class="govuk-body">
  You may not be able to assess if there are hidden empty spaces without damaging an item. In this case, to avoid damage you should make an assessment based on knowledge of similar items.
</p>




<h3 class="govuk-heading-m">Ivory must be integral</h3>

<p class="govuk-body">
  The ivory must be integral to the item. This means that:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    you cannot remove the ivory easily or without risk of damage
  </li>
  <li>
    the ivory is essential to the design or function of the item
  </li>
</ul>



<h2 id="buying-ivory" class="govuk-heading-l">Buying an ivory item</h2>


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    It is illegal to buy an ivory item that does not have a certificate or registration number.
  </strong>
</div>

<p class="govuk-body">
  Before buying or offering to buy an ivory item, you should check if the item has been registered or certified. An ivory item would either need registration or a certificate.
  </p>

<p class="govuk-body">
  To check items you should:
  </p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    make sure the seller’s document matches the item
    </li>
    <li>
      put the item’s registration or certificate number into our online system to see if it’s genuine
      </li>
  </ul>

<p class="govuk-body">
  If you’re buying an item that has a certificate, the seller should give you the certificate after you’ve paid.
  </p>

  <p class="govuk-body">
    An item must be registered by its owner each time it needs to be sold. If you’re buying an item a seller has registered, that registration is only valid for the sale to you. If you want to sell the item, you must register it.
    </p>




<h2 id="report-changes" class="govuk-heading-l">Reporting changes</h2>

<p class="govuk-body">
  You must report any changes of circumstances if:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      the item no longer meets the criteria
      </li>
      <li>
        your information has changed, for example name or address
        </li>
        <li>
          you did not provide relevant information about the item
          </li>
    </ul>

<p class="govuk-body">If you don’t report a change of circumstances, you may be issued with a fine or other penalty.</p>



<h2 id="import-export" class="govuk-heading-l">Importing or exporting an ivory item</h2>

<p class="govuk-body">
  To import or export an ivory item made before 1947 for sale, you must make sure:
  </p>


<ul class="govuk-list govuk-list--bullet">
  <li>
    the item is registered or certified
    </li>
    <li>
      the item meets existing requirements under the EU Wildlife Trade Regulations on the import of ivory
      </li>
  </ul>

  <p class="govuk-body">You can find out more about <a href="">importing rules under CITES</a></p>.




<h2 id="complaints" class="govuk-heading-l">How to complain</h2>

<p class="govuk-body">
  You can <a href="">complain</a> about:
  </p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    how your application has been handled
    </li>
    <li>
      a delay to your application
      </li>
      <li>
        an error in dealing with your application, for example a missed evidence
        </li>
  </ul>










<h2 id="foi" class="govuk-heading-l">Freedom of information</h2>

<p class="govuk-body">
  Read about <a href="https://www.gov.uk/make-a-freedom-of-information-request/how-to-make-an-foi-request">making Freedom of Information (FOI) requests</a>.
  </p>

  <p class="govuk-body">
    Make a request by contacting us:
    </p>

    <p class="govuk-body">
Customer Contact Unit <br />
Seacole Building <br  />
2 Marsham Street <br  />
London <br />
SW1P 4DF <br />
United Kingdom
</p>

<p class="govuk-body">
  Email: <a href="mailto:defra.helpline@defra.gov.uk">defra.helpline@defra.gov.uk</a>
  </p>



<p class="govuk-body"> </p>
<p class="govuk-body"> </p>
<p class="govuk-body"> </p>





</div>


</div>






{% endblock %}
