@import "node_modules/govuk-frontend/govuk/all";

img{
  max-width: 100%;
}

// adjust code block font-size to 19px
.hljs {
  font-size: 19px;
  line-height: 25px;
}

.app-table--fixed {
  table-layout: fixed;
}

.app-\!-db {
  display: block !important;
}

.app-table--fixed {
  table-layout: fixed;
}

.app-\!-db {
  display: block !important;
}

// Commented out when upgrading from govuk-frontend 2.11.0 to 3.3.0 (grey-3 didn't no longer existed)
//.app-code {
//  font-size: 16px;
//  position: relative;
//  margin: 0;
//  padding: govuk-spacing(3);
//  overflow: auto;
//  border: 1px solid $govuk-border-colour;
//  background-color: govuk-colour("grey-4");
//  max-width: 38em;
//  @include govuk-responsive-margin(5, "bottom");
//}

.app-prose-scope {

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }

  // Commented out when upgrading from govuk-frontend 2.11.0 to 3.3.0 (app-code no longer exists)
  //pre {
  //  @extend .app-code;
  //}

  // Commented out when upgrading from govuk-frontend 2.11.0 to 3.3.0 (grey-4 no longer exists)
  //p code {
  //  border: 1px solid $govuk-border-colour;
  //  background-color: govuk-colour("grey-4");
  //  padding: 0 govuk-spacing(2);
  //}

  // TODO: Blockquotes are likely the most semantic element to be using, update to use the inset component directly.
  blockquote {
    margin-left: 0;
    @extend .govuk-inset-text;
  }
}

.app-prose-scope ul + h2,
.app-prose-scope ul + h3,
.app-prose-scope ul + h4,
.app-prose-scope pre + h2,
.app-prose-scope pre + h3,
.app-prose-scope pre + h4 {
  @include govuk-responsive-margin(4, "top");
}
