{% extends "layout.html" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Add a photograph of the item</h1>

    <!-- <p>This is your photograph</p> -->

    <p><img src="/routeToImage?imageName={{data['imageName']}}" width='500' border='0' /></p>

        <form method="post" autocomplete="off" novalidate >
          <button class="govuk-button">Use this photograph</button>
        </form>

        <p><a href='/use-a-different-photo-route'>Use a different photograph</a></p>

  </div>
</div>


{% endblock %}
