{% extends "layout.html" %}


{% block pageTitle %}
  Add a photograph
{% endblock %}


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag ">alpha</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it</span>
  </p>
</div>

<a href="add-title-1" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Add a photograph</h1>



    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <div class="govuk-form-group">
        <label class="govuk-label" for="fileUpload1">Upload a file</label>
        <input class="govuk-file-upload" id="fileUpload1" name="fileUpload1" type="file" value="{{data['fileUpload1']}}" >
      </div>

      <button class="govuk-button">Continue</button>

    </form>



  </div>
</div>

</main>
</div>


{% endblock %}
