{% extends "layout.html" %} {% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-l">Admin console</h1>
  <p>Data held on the database</p>

  <h2 class="govuk-heading-m">Owner</h2>

  <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">{{ownerFieldArray[0].name}}</th>
        <th class="govuk-table__header" scope="col">{{ownerFieldArray[1].name}}</th>
        <th class="govuk-table__header" scope="col">{{ownerFieldArray[2].name}}</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ownerArray[0].owner_id}}</td>
        <td class="govuk-table__cell">{{ownerArray[0].name}}</td>
        <td class="govuk-table__cell">{{ownerArray[0].address_postcode}}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ownerArray[1].owner_id}}</td>
        <td class="govuk-table__cell">{{ownerArray[1].name}}</td>
        <td class="govuk-table__cell">{{ownerArray[1].address_postcode}}</td>
      </tr>
    </tbody>

    <tbody class="govuk-table__body" id="tableBody">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">test</td>
        <td class="govuk-table__cell">test</td>
        <td class="govuk-table__cell">test</td>
      </tr>
    </tbody>

  </table>


  <script>
    //var wrapper = document.getElementById("tableBody");
    var html = '<tbody class="govuk-table__body" id="tableBody"><tr class="govuk-table__row">';
    var tempValue;
    var i;
    for (i = 0; i < 3; i++) {
      tempValue = {{ownerArray[i].owner_id}};
      html += "<tr>";
      html += "<td>" + i + tempValue + "</td>";
      html+="</tr>";
    }
    html += '</tr></tbody>'
    //wrapper.innerHTML = html
    document.getElementById('tableBody').innerHTML = html;
  </script>

</div>


{% endblock %}
