{% extends "layout.html" %}


<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}


{% block pageTitle %}
  Choose exemption
{% endblock %}




{% block content %}

<div class="govuk-width-container">
  <!-- <a href="#" class="govuk-back-link">Back</a> -->

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <form method="post" autocomplete="off" {{ data['novalidate'] }}>


      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="exemption-choice-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Which exemption are you applying for?
            </h1>
          </legend>
          <span id="exemption-choice-hint" class="govuk-hint">
            See <a href="#">exemption details</a> for further information.
          </span>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exemptionTypeText1" name="exemptionChoice" type="radio" value="exemptionTypeText1" required />
              <label class="govuk-label govuk-radios__label" for="exemptionTypeText1">
                Item with less than 10% ivory made before 1947 <span class="item-cost">£X</span>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exemptionTypeText2" name="exemptionChoice" type="radio" value="exemptionTypeText2">
              <label class="govuk-label govuk-radios__label" for="exemptionTypeText2">
                Musical instrument (including bows) with less than 20% ivory and made before 1975 <span class="item-cost">£X</span>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exemptionTypeText3" name="exemptionChoice" type="radio" value="exemptionTypeText3">
              <label class="govuk-label govuk-radios__label" for="exemptionTypeText3">
                Portrait miniature made before 1918 <span class="item-cost">£X</span>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exemptionTypeText4" name="exemptionChoice" type="radio" value="exemptionTypeText4">
              <label class="govuk-label govuk-radios__label" for="exemptionTypeText4">
                Item to be acquired by accredited museum <span class="item-cost">£X</span>
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exemptionTypeText5" name="exemptionChoice" type="radio" value="exemptionTypeText5">
              <label class="govuk-label govuk-radios__label" for="exemptionTypeText5">
                An item of outstandingly high artistic, cultural or historical value <span class="item-cost">£Y</span>
              </label>
            </div>
          </div>
        </fieldset>

      </div>



      <button class="govuk-button">Continue</button>

    </form>



  </div>
</div>

</main>
</div>


{% endblock %}
