{% extends "layout.html" %}


{% block pageTitle %}
  How can we contact you?
{% endblock %}



{% block beforeContent %}
<a href="owner-address-1" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">How can we contact you?</h1>


        <form method="post" autocomplete="off" novalidate>

          <div class="govuk-form-group">
            <label class="govuk-label" for="email">
              Email address
            </label>
            <span id="email-hint" class="govuk-hint">
              We’ll use this to send you confirmation of your declaration
            </span>
            <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint">
          </div>

          <button class="govuk-button">Continue</button>

        </form>


      </div>
    </div>

  </main>
</div>

{% endblock %}
