{% extends "layout.html" %}


{% block beforeContent %}
{% include "includes/ib-head.html" %}
{% endblock %} {% block content %}

<a href="add-title-1" class="govuk-back-link">Back</a>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" autocomplete="off" {{ novalidateVal }}>

          <div class="govuk-form-group">
            <h1 class="govuk-heading-l">Describe the item</h1>
            <span id="title-hint" class="govuk-hint">
              Explain why you believe your item is a <span class="govuk-!-font-weight-bold">{{ exemptionTypeChosen }}

                <ul>
                  <li>1</li>
                  <li>2</li>
                </ul>
            </span>

          <textarea class="govuk-textarea" id="declarationText" name="declarationText" rows="5" aria-describedby="declarationText-hint" required>{{data['declarationText']}}</textarea>
        </div>

<!--
        <div class="govuk-form-group">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="declaration-1" name="declarationCheckbox" type="checkbox" value="checked">
            <label class="govuk-label govuk-checkboxes__label" for="declaration-1">
              I confirm that, to the best of my knowledge, the details I am providing are correct
            </label>
          </div>
        </div> -->

        <!-- <p class="govuk-body">
          By continuing you are confirming that, to the best of your knowledge, the details you are providing are correct.
        </p> -->

        <button type="submit" class="govuk-button">Continue</button>

      </form>



    </div>
  </div>


</main>
</div>


{% endblock %}
