 {% extends "layout.html" %}

 <!-- beforeContent overridden so we don't get the back link (which is in layout.html beforeContent...hmm, maybe clunky) -->
 {% block beforeContent %}
   {% include "includes/stage-banner.html" %}
 {% endblock %}

 {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Ivory prototypes</h1>

    <p>We've built the following using the GOV.UK Prototype Kit v7.</p>
    <h2 class="govuk-heading-m">Prototypes</h2>



    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Prototype</th>
          <th class="govuk-table__header" scope="col">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="index-welcome">{{serviceName}}</a></td>
          <td class="govuk-table__cell">Alpha prototype 3 for public users</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/internal/registrations">Ivory Register</a></td>
          <td class="govuk-table__cell">Service for APHA users</td>
        </tr>
      </tbody>
    </table>



<br>
<h2 class="govuk-heading-m">Experiments</h2>


    <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Experiment</th>
            <th class="govuk-table__header" scope="col">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/check-registration-search">Check a registration</a></td>
            <td class="govuk-table__cell">Alpha prototype for public users</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="notify">Notify integration</a></td>
            <td class="govuk-table__cell">Uses GOV.UK Notify</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="pay">Pay integration</a></td>
            <td class="govuk-table__cell">Uses GOV.UK Pay</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="address-postcode">Address lookup</a></td>
            <td class="govuk-table__cell">Address lookup screens (NOT YET LINKED, only uses static data)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/sandpit/upload-image">Image upload</a></td>
            <td class="govuk-table__cell">Upload a photo to the server (note Heroku flushes temp files regularly)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/sandpit/test">Test</a></td>
            <td class="govuk-table__cell">Simple test page for trying things on</td>
          </tr>

        </tbody>
    </table>


  </div>
</div>


{% endblock %}
