 {% extends "layout.html" %}


 {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Ivory prototypes</h1>

    <h2 class="govuk-heading-m">Prototypes</h2>

    <p>The following have been built using the GOV.UK Prototype Kit v7</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Feature</th>
          <th class="govuk-table__header" scope="col">Description</th>
          <th class="govuk-table__header" scope="col">Needs database</th>
          <th class="govuk-table__header" scope="col">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Initial</td>
          <td class="govuk-table__cell">Basic flow to registration</td>
          <td class="govuk-table__cell">yes or no</td>
          <td class="govuk-table__cell"><a href="main">Register item</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Admin</td>
          <td class="govuk-table__cell">Lookup registered item</td>
          <td class="govuk-table__cell">yes</td>
          <td class="govuk-table__cell"><a href="admin-lookup-item">Lookup item</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Notify</td>
          <td class="govuk-table__cell">Use GOV.UK Notify</td>
          <td class="govuk-table__cell">no</td>
          <td class="govuk-table__cell"><a href="notify">Notify</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Pay</td>
          <td class="govuk-table__cell">Use GOV.UK Pay</td>
          <td class="govuk-table__cell">no</td>
          <td class="govuk-table__cell"><a href="pay">Pay</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Test</td>
          <td class="govuk-table__cell">Simple test page</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell"><a href="test">Test</a></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>


{% endblock %}
