{% extends "layout.html" %}


{% set serviceName %}
The Ivory Act 2018
{% endset%}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">The Ivory Act 2018</h1>


        <p class="govuk-body">It is illegal to sell, hire or buy ivory, unless the item is exempt.</p>

        <h2 class="govuk-heading-m">Exemptions to the ivory ban</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Less than 10% ivory, made before 1947</li>
          <li>Musical instrument, less than 20% ivory, made before 1975</li>
          <li>Portrait miniature, made before 1918</li>
          <li>To be acquired by an accredited museum</li>
          <li>Rarest and most important of its type</li>
        </uL>

        <p class="govuk-body"><a href="start-1.html" class="govuk-link">Declare an ivory item before sale or hire</a></p>


      </div>
    </div>

  </main>
</div>

{% endblock %}
