{% extends "layout.html" %}
{% block beforeContent %}
  {% include "includes/ib-head.html" %}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your submission ID:
            <br><strong>{{submission_id}}</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation..?</p>

        <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

      </div>
    </div>


{% endblock %}
