{% extends "layout.html" %}


<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}


{% block pageTitle %}
  Declare ivory before sale or hire
{% endblock %}



{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{serviceName}}</h1>


    <p class="govuk-body">It is illegal to sell, hire or buy ivory, unless the item is in one of the <a href="#">exemption categories</a>.</p>

    <p class="govuk-body">To delcare an ivory item for sale or hire you will need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a photograph of your item</li>
      <li>a debit or credit card</li>
    </uL>

    <a href="start-prototype_1" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
    </a>

    <p class="govuk-body">You may also wish to <a class="govuk-link" href="">read what to do before buying ivory</a>.</p>


  </div>
</div>

</main>
</div>


{% endblock %}
