{% extends "layout.html" %}
{% block beforeContent %}
  {% include "includes/ib-head.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{serviceName_01}}</h1>

    <h2 class="govuk-heading-m">Heading 2</h2>

    <p>Paragraph.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </uL>

    <p>To apply for an exemption you will need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to know which exemption you're applying for</li>
      <li>a photograph of your item</li>
      <li>a debit or credit card</li>
    </uL>

    <a href="start-registration-01" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
    </a>

    <p>You can also <a class="govuk-link" href="">apply by post</a>.</p>


  </div>
</div>


{% endblock %}
