{% extends "layout.html" %}
{% block beforeContent %}
  {% include "includes/ib-head.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{serviceName}}</h1>

    <h2 class="govuk-heading-m">When you need to register</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <h2 class="govuk-heading-m">Types of characters</h2>

    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Pre-digital animation characters</li>
      <li>Digital animation characters</li>
      <li>Pixar characters</li>
      <li>Star Wars characters</li>
    </uL>

    <h2 class="govuk-heading-m">Character registration fees</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Type of character</th>
          <th class="govuk-table__header" scope="col">Process</th>
          <th class="govuk-table__header" scope="col">Fee</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Pre-digital animation characters</td>
          <td class="govuk-table__cell">Self-registration</td>
          <td class="govuk-table__cell">£tbc</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Digital animation characters</td>
          <td class="govuk-table__cell">Self-registration</td>
          <td class="govuk-table__cell">£tbc</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Pixar characters</td>
          <td class="govuk-table__cell">Self-registration</td>
          <td class="govuk-table__cell">£tbc</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Star Wars characters</td>
          <td class="govuk-table__cell">Application</td>
          <td class="govuk-table__cell">£tbc</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">{{serviceName}}</h2>

    <p>You can register your favourite Disney character online.</p>
    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to be a fan of the Disney character</li>
      <li>a debit or credit card</li>
      <li>details of the character</li>
      <li>photographs of the character</li>
    </uL>

    <a href="start-registration" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
    </a>

    <p>You can also <a class="govuk-link" href="">register by post</a>.</p>





  </div>
</div>


{% endblock %}
