{% extends "./layout.html" %}

{% set thisPageTitle = "You cannot continue" %}

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ thisPageTitle }}</h1>

      <!-- {% if data['ivoryAdded'] === "idk" %}

      <p class="govuk-body">You must know for sure whether any ivory has been added to the item on or after 1 January 1947.</p>
      <p class="govuk-body">You may need to get an expert to check this for you before you try and register the item again.</p>

      {% else %}

      <p class="govuk-body">You must be certain that the replacement ivory in your item came from an elephant before 1 January 1975.</p>
      <p class="govuk-body">You may need to get an expert to check this for you before you try and register the item again.</p>

      {% endif %} -->


      <p class="govuk-body">To use this service, you must know for sure whether your item qualifies for exemption.</p>
      <p class="govuk-body">You may need to get an expert to check it for you.</p>


      <h2 class="govuk-heading-m">What you can do with this item</h2>

      <p class="govuk-body">In the meantime, your options include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>keeping it</li>
          <li>giving it away as a gift</li>
          <li>giving it to someone in your will</li>
        </ul>


      <a href="guidance-new" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">Finish
      </a>


    </div>
  </div>
</div>
{% endblock %}
