{% set pageTitle = "Is ivory integral to the item?" %}

{% extends "./layout.html" %}

{% block pageTitle %}
{{ pageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <form method="post" autocomplete="off">

      <div class="govuk-form-group">

        <h1 class="govuk-heading-l">
          {{ pageTitle }}
        </h1>

        <p class="govuk-body">
          Integral means, either:
        </p>

        <ul class="govuk-body govuk-!-margin-bottom-7">
          <li>you cannot remove the ivory easily or without risk of damage</li>
          <li>the ivory is essential to the design or function of the item</li>
        </ul>

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="isIntegral-yes" name="isIntegral" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="isIntegral-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="isIntegral-no" name="isIntegral" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="isIntegral-no">
              No
            </label>
          </div>
        </div>




    </div>


    <button class="govuk-button">Continue</button>

  </form>

</div>
</div>


{% endblock %}
