{% extends "./layout_unbranded.html" %}

{% block pageTitle %}
  Confirmation of application to register
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-m">
    Your ivory item registration - 4HCP37NL
  </h1>

  <dl>

    <dt>From</dt>
    <dd>Animal Plant Health Agency</dd>
    <dt>Date</dt>
    <dd id="conf-email-date">Mon 07/10/2019 11:02</dd>
    <dt>To</dt>
    <dd id="conf-email-to">jacky.turner@boltsandratchets.co.uk</dd>

  </dl>


  <p class="govuk-body">
    You have registered your ivory item.
  </p>

{% endblock %}
