{% extends "./layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">What do you intend to do with the item with ivory in?</h1>

    <form method="post" autocomplete="off" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="doubleCheck-1" name="doubleCheck" type="radio" value="sell">
              <label class="govuk-label govuk-radios__label" for="doubleCheck-1">
              Sell or hire out
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="doubleCheck-2" name="doubleCheck" type="radio" value="buy">
              <label class="govuk-label govuk-radios__label" for="doubleCheck-2">
              Buy
            </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

    </form>



  </div>
</div>


{% endblock %}
